{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% crispy form %}


{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}



<div class="row">
	<div class="col-md-8">
		<h2>Emojinsei is a smart emotion tracking app</h2>
		After you'll sign up, you'll recieve text messages asking about how you are experiencing emotions during that present moment.
		</br></br>
		Just breath and pay attention to yourself and the world.  Respond with a number between 0 and 10.  It is that simple.
		
		
		<h3>Emojinsei might be good for you</h3>
		The texts serves as a <b>reminder to be present</b>.  At minimum, you'll be reminded to <b>breath</b> and <b>pay attention</b> to yourself, living in this <b>wonderful world</b>.  
		</br></br>
		This is a easy structure, designed to require <b>very little work</b>, for you to <b>learn about emotions</b>.
		</br></br>
		It is designed to <b>provides meaningful data</b> about how you experience emotions.

		<h3>Emojinsei might be good for society</h3>
		Emojinsei is designed to provide meaningful data about how large groups of people are experiencing emotions.  At minimum, this could look like a map of emotions across the cities, states, and countries.  
		</br></br>
		Psychology research:  What emotions do people experience?  Are angier people happy?  Is money related to happiness?  
		</br></br>
		Providing data to make better civic decisions:  Are people in cities happier than rural?  What would the effect of installing public libraries be?  
		</br></br>

	</div>

	<div class="col-md-4">

		<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
		  {% csrf_token %}
		  {{ form|crispy }}
		  {% if redirect_field_value %}
		  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		  {% endif %}
		  <input type="submit" value="Sign Up!" class="btn btn-primary btn-lg btn-block">
		  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
		</form>
	</div>
</div>

{% endblock %}
