{% extends "account/base.html" %}


{% load static %}
<link rel="stylesheet" href={% static "css/materialize.css" %}>
<link rel="stylesheet" href={% static "css/sentimini-css.css" %}>
<script src={% static "js/materialize.min.js" %}></script>





{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '319542021809076',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();   
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>




  
    <div class="row">
      <div class="col s12 l6">
        <div class="card">
          <div class="card-content">
            <span class="card-title"><h4>{% trans "Sign Up" %}</h4></span>
            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
              {% csrf_token %}
              {{ form.as_p }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <button type="submit" class="waves-effect waves-light btn z-depth-4 ">{% trans "Sign Up" %} &raquo;</button>
            </form>
          
            <div class="row"></div>
            {% include "fb_sign_up.html" with process="login" %}
          </div>
        </div>
      </div>

      <div class="col s12 l6">
        <div class="card">
          <div class="card-content small_spaces">
            <span class="card-title"><h4>Sentimini is in beta status</h4></span>
          
            At its current beta state, Sentimini cannot not assume responsibility over your privacy or data security.  As a result, please do not use it to collect sensitive information about yourself.
            </br></br>
            Additionally, Sentimini does not assume any responsibility over any costs for the text messaging.  Most current data plans have unlimited texts.
            </br></br>
            I hope you enjoy using Sentimini.  We are all good and have the ability to transform our lives, simply because we were born human.

            <p>
              
            </p>

            
          </div>
        </div>
      </div>
    </div>
{% endblock %}