{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% load i18n %} {% load crispy_forms_tags %} {% crispy form %}



{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"></script>

<script>
  $(document).ready(function() {
    $('#blog_archive').DataTable({
      "columns": [
      { "width": "50%" },
      { "width": "25%" },
      { "width": "25%" },
      ]

    });
  } );
</script>


<body>



  <div class="container">
    <div id="navbar" class="nav nav-justified">
      <ul class="nav navbar-nav">
        <li><a href="#sign_up">Sign Up</a></li>
        <li><a href="#beta">Beta</a></li>
        
      </ul>
    </div>
  </div>

  



  <div class="container">
  <hr>
    <div class="row" id="sign_up">
      <div class="col-md-2">
        <h1>Sign Up</h1>
      </div>
      <div class="col-md-5">
       
             <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
              {% csrf_token %}
              {{ form|crispy }}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <input type="submit" value="Sign Up!" class="btn btn-primary btn-lg">
              <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
            </form>
            </div>
      
      <div class="col-md-5">
    Sentimini sends periodic text messages with varying content at semi-random times.  You can change the content and the timing at <a href="{% url 'ent:edit_prompt_settings' %}">settings.</a>
    </br></br>
    It displays the responses in downloadable tables and figures.  You can view and access these at the <a href="{% url 'vis:user_vis' %}">home page.</a>
    </br></br>
    You can learn more at this <a href="/scaffold/blog/1/">blog post.</a>
</div>        
    </div>
 



<hr>
<div class="row" id="beta">
  <div class="col-md-2">
    <h1>Beta</h1>
  </div>
  <div class="col-md-10">
  Sentimini is in beta status.  There is a minimum viable product but work still needs to be done to ensure a fulfilling and technological stable experience.  As such, it is 'use at your own risk', especially when it comes to data security.  
  </br></br>
  Next major steps:
  <li>Curated experiences - Sets of words centered around a specific experience (i.e. mindfulness, depression, quitting smoking, dream journal, etc)</li>
  <li>Greater control of text timing</li>
  <li>Sharing of data for use with healthcare providers/professional helpers</li>
  <li>Sharing of data in open source / open science / open data frameworks</li>
  </br>
  Using the following use cases at examples:
  <li>Slow learning / Courses / Guided Experiences</li>
  <li>Behavior Change Assist</li>
  <li>Wellness assist - evaluation</li>
  <li>Welness assist - diagnsosis/communication</li>
  <li>Learning about this world.</li>
  </br>
  Learn more at this blog post.
  
  
  </div>     
</div>

    



  </div>
    
</div>



</div>






<!-- /container -->




</body>

</html>
{% endblock %}

