defusedxml==0.4.1
dj-database-url==0.4.0
Django==1.9.7
django-allauth==0.25.2
django-bower==5.1.0
django-crispy-forms==1.6.0
django-nvd3==0.9.7
gunicorn==19.4.5
Jinja2==2.8
MarkupSafe==0.23
oauthlib==1.1.2
psycopg2==2.6.1
python-nvd3==0.14.2
python-slugify==1.1.4
python3-openid==3.0.10
pytz==2016.4
requests==2.10.0
requests-oauthlib==0.6.1
six==1.10.0
South==1.0.2
Unidecode==0.4.19
whitenoise==2.0.6
