amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
bokeh==0.12.1
celery==3.1.23
ChatterBot==0.4.3
defusedxml==0.4.1
dj-database-url==0.4.0
Django==1.9.7
django-allauth==0.25.2
django-bootstrap3-datetimepicker==2.2.3
django-bower==5.1.0
django-crispy-forms==1.6.0
django-datatable-view==0.8.3
django-datatables-view==1.13.1
django-datetime-widget==0.9.3
django-nvd3==0.9.7
django-taggit==0.21.2
future==0.15.2
fuzzywuzzy==0.10.0
gunicorn==19.4.5
Jinja2==2.8
jsondatabase==0.1.1
kombu==3.0.35
MarkupSafe==0.23
nltk==3.2.1
numpy==1.11.1
oauthlib==1.1.2
parsedatetime==2.1
plotly==1.12.9
psycopg2==2.6.1
pymongo==3.2.2
python-dateutil==2.5.3
python-nvd3==0.14.2
python-slugify==1.1.4
python-twitter==3.1
python3-openid==3.0.10
pytz==2016.6.1
PyYAML==3.11
redis==2.10.5
requests==2.11.1
requests-oauthlib==0.6.1
scipy==0.18.1
six==1.10.0
textblob==0.11.1
tornado==4.4.1
Unidecode==0.4.19
whitenoise==2.0.6
