.new_user_loc {
	background-color: yellow;
}


.nav_bar_second {
	background-color: #e8e8e8;
	padding-left:0px;
	margin-left:0px;
	padding-bottom:0px;
	margin-bottom:20px;

}

.nav_bar_first {
	background-color: #e8e8e8;
	padding-left:0px;
	margin-left:0px;
	padding-bottom:0px;
	margin-bottom:20px;

}

.vert_margins {
  padding-top:0px;
  padding-bottom:0px;
}

.row {
  padding-top:0px;
  padding-bottom:0px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:100);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);


body {
  font-family: 'Open Sans Condensed', sans-serif;
   font-weight: 100;
}

.navbar-brand {
	 font-size: 42px;
	 padding-left:0px;
	 margin-left:0px;
}

.navbar-brand-footer {
	 font-size: 35px;
	 padding-left:0px;
	 margin-left:0px;
}

.navbar {
  background: none;
  color: #ffffff
  padding-top:0px;
  padding-bottom:0px;
  margin-top:0px;
  margin-bottom:0px;
}

mark {
  font-size:130%;
  font-weight: bold;
  background-color: yellow;
}




