{% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% crispy form %}


<!--DOCTYPE html -->
{% block content %}


<html>
<head>
<title>About - Sentimini!</title>
</head>


<body>
	




<div class="container">
	<div class="row" id="overview">
		<div class="col-md-2">
			<h1>Overview</h1>
		</div>
		<div class="col-md-10">
		Sentimini sends <mark>periodic text messages</mark> with varying content at <mark>semi-random times</mark>.
		</br></br>
		You can change the content and the timing at <a href="{% url 'ent:feeds_edit' %}">feeds.</a>
		</br></br>
		It displays the responses in <mark>downloadable tables and figures</mark>, making it <mark>easy to obtain data</mark> about your experience.
		</br></br>
		You can view and access your data at the <a href="{% url 'vis:text_data' %}">home page.</a>  
</div>     
</div>



<hr>

<div class="row" id="beta">
  <div class="col-md-2">
    <h1>Beta</h1>
  </div>
  <div class="col-md-10">
  <div class="row" id="beta">
  <div class="col-md-12">
  <mark>Sentimini is in beta status</mark>.
  </br></br>
  This is a minimum viable product but work still needs to be done to ensure a fulfilling and technological stable experience.  As such, it is 'use at your own risk', especially when it comes to data security.  
  </div>
  </div>
  </br>

  <div class="row" id="beta">
  <div class="col-md-6">
  Next major steps:
  <li>Sets of text centered around a specific experience</li>
  <li>Greater control of text timing</li>
  <li>Sharing of data for use with professional helpers</li>
  <li>Sharing of data in open science / open data frameworks</li>
  </br>
  </div>
  <div class="col-md-6">
  Using the following use cases at examples:
  <li>Slow learning / Courses / Guided Experiences</li>
  <li>Behavior Change Assist</li>
  <li>Wellness assist - evaluation</li>
  <li>Wellness assist - diagnsosis/communication</li>

  </br>
  </div>

  </div>
  
  
  
  </div>     
</div>



<hr>
<div class="row" id="donate">
	<div class="col-md-2">
		<h1>Donate</h1>
	</div>
	<div class="col-md-10">
	This is a big idea.	<mark>I've found Sentimini helpful in my life</mark> and I would like to <mark>learn about others</mark>.  This will take resources.
	</br></br>
	The plan is to charge a small amount (around 5 USD per month) for an advanced feature (probably the ability to schedule texts at specific times).
	<mark>Until that time, please consider donating!</mark>
	</br></br>
	You can do through my personal paypal for the time being <mark><a href="https://www.paypal.me/williamrekshan"> here</a></mark>.
	</br></br>

	</div>     
</div>


</div>


<!-- /container -->


</body>

</html>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85360122-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}