{% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% crispy form %}


<!--DOCTYPE html -->

<html>
<title>Sentimini! - About</title>
<body>
	{% block content %}




<div class="container">
	<div class="row" id="overview">
		<div class="col-md-2">
			<h1>Overview</h1>
		</div>
		<div class="col-md-10">
		Sentimini sends <mark>periodic text messages</mark> with varying content at <mark>semi-random times</mark>.
		</br></br>
		You can change the content and the timing at <a href="{% url 'ent:edit_prompt_settings' %}">settings.</a>
		</br></br>
		It displays the responses in <mark>downloadable tables and figures</mark>.  You can view and access these at the <a href="{% url 'vis:user_vis' %}">home page.</a>
		</br></br>
		You can learn more at this <a href="/scaffold/blog/1/">blog post.</a>
</div>     
</div>



<hr>

<div class="row" id="beta">
  <div class="col-md-2">
    <h1>Beta</h1>
  </div>
  <div class="col-md-10">
  <div class="row" id="beta">
  <div class="col-md-12">
  <mark>Sentimini is in beta status</mark>.
  </br></br>
  This is a minimum viable product but work still needs to be done to ensure a fulfilling and technological stable experience.  As such, it is 'use at your own risk', especially when it comes to data security.  
  </div>
  </div>
  </br>

  <div class="row" id="beta">
  <div class="col-md-6">
  Next major steps:
  <li>Sets of text centered around a specific experience</li>
  <li>Greater control of text timing</li>
  <li>Sharing of data for use with professional helpers</li>
  <li>Sharing of data in open science / open data frameworks</li>
  </br>
  </div>
  <div class="col-md-6">
  Using the following use cases at examples:
  <li>Slow learning / Courses / Guided Experiences</li>
  <li>Behavior Change Assist</li>
  <li>Wellness assist - evaluation</li>
  <li>Wellness assist - diagnsosis/communication</li>

  </br>
  </div>

  </div>
  Learn more at this blog post.
  
  
  </div>     
</div>

<hr>
<div class="row" id="open_data">
	<div class="col-md-2">
		<h1>Open Data</h1>
	</div>
	<div class="col-md-10">
	By default, you are signed up to participate in the Open Data Project.
	</br></br>
	There are three aims:	
	<li>Improving user experience</li>
	<li>Ensuring validity of method (can one actually measure happiness or pain in this way?)</li>
	<li>Understanding human experience</li>
	</br>
	Learn more <a href="{% url 'scaffold:open_data' %}">here</a>.
	
	</div>     
</div>

<hr>
<div class="row" id="donate">
	<div class="col-md-2">
		<h1>Donate</h1>
	</div>
	<div class="col-md-10">
	A main aim of Sentimini is to be self-supported to establish a structure that:
	<li>Encourages development to make the best experience possible</li>
	<li>Allows for an uncompromised ability to pursue open source / data / science</li>
	</br>
	The plan is to charge a small amount (around 5 USD per month) for an advanced feature (probably the ability to schedule texts at specific times).
	</br></br>
	<mark>Until that time, please consider donating!</mark>
	</br></br>
	</div>     
</div>


</div>




<!-- /container -->




</body>

</html>
{% endblock %}