  {% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% crispy form %}


  <!--DOCTYPE html -->


  <html>
  <head>

  </head>

  <body>
    {% block content %}



    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">

    
 <div class="row" id="texts">
  <div class="col-md-2">
   <h1>Add a new text:</h1>
    
    
  </div>
  <div class="col-md-8">
  <h1>{{number_of_texts}} total texts</h1>
  </br>
 

   <form method='POST' action='' class="form-horizontal">
    {% csrf_token %} {% crispy form_new_text %}
    <!-- <input type="submit" name="submit_paid" value="Submit Paid Settings" class="btn btn-primary btn-lg btn-block"> -->
  </form>
 Questions about response type, click <a href="#response_type">here</a>.  Questions about importance, click <a href="#importance">here</a>.
</div>

<div class="col-md-4">
 



</div>
</div>

<hr>
<div class="row" id="response_type">
  <div class="col-md-2">
    <h1>Response Type</h1>

  </div>
  <div class="col-md-10">
    It is helpful to know how you would want to respond to a text.  Don't worry, you can respond however you want to the text and Sentimini will record this data.  <mark>All of your responses will be included in tables regardless of the response type</mark>.
<div class="row" >

  <div class="col-md-4">
   <div class="text-center"> <h3>Open</h3></div>
    <li>Respond anyway you want</li>
    <li>These <mark>will not</mark> be included in graphs.</li>
  </div>
  <div class="col-md-4">
    <div class="text-center"><h3>Yes/No</h3></div>

    <li>Respond with a yes or no</li>
    <li>These <mark>will</mark> be included in graphs.</li>
  </div>      
  <div class="col-md-4">
    <div class="text-center"><h3>0 to 10</h3></div>

    <li>Respond with number between 0 and 10</li>
    <li>These <mark>will</mark> be included in graphs.</li>
  </div>
</div>
</div>
</div>

<hr>
<div class="row" id="importance">
  <div class="col-md-2">
    <h1>Importance</h1>

  </div>
  <div class="col-md-10">
    This used to determine how often to send you a specific text.  This is just relative importance.
    </br></br>
    In order to determine the text content, Sentimini:
    <li>Creates a list of possible texts to send</li>
    <li>Each text is entered the number of times that the importance is set</li>
    <li>Randomly selects a texts from the list</li>
    </br>
    In other words, determining the text content is kind of like a raffle and the importance is how many tickets the text has.  
    </br></br>
    <mark>The higher the number, the more likely you will be sent that text</mark>.
    </br></br>
    </div>

</div>

</div>
</div>

<!-- Contact Settings -->




<!-- end of container -->
</div> 




<!-- /container -->


</body>

</html>
{% endblock %}