{% extends "base.html" %}
{% load static %}
{% block content %}
<main>
<nav>
  <div class="nav-wrapper z-depth-1">
    <div class="row">
      <div class="col l12 s12">
      
          <a href="/app_home/" class="breadcrumb">Home</a>
          <a href="/feed/" class="breadcrumb">Schedule text</a>
      

        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
          <ul class="right hide-on-med-and-down">
            <li>
              {% if user.is_authenticated %}
              
              {% else %}
              <a href="{% url 'account_signup' %}" class="waves-effect waves-light btn"><!-- <i class="material-icons left">today</i> -->Sign up</a>
              {% endif %}
            </li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div id = "MAIN"></div>
</main>




<script type="text/javascript">
function startClock(){
  console.log("STARTING")

  $.ajax({
    type: 'POST',
    url: '/get_new_text_form/',
    data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
    'id': "{{id}}",
    },
     success : function(data) {
             $('#MAIN').html(data['NEW_TEXT']);
         }

    })
}
if(window.addEventListener){
    window.addEventListener('load',startClock,false); //W3C
}
else{
    window.attachEvent('onload',startClock); //IE
}
</script>

{% endblock %}