  {% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% crispy form %}


  <!--DOCTYPE html -->


  <html>
  <head>

  </head>

  <body>
    {% block content %}



    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">

    
 <div class="row" id="texts">
 <div class="col-md-2">
 <a href="/ent/text_set_detail/{{ feed_id }}/{{ group_id }}/"><- Back to Feed Overview</a>
 </div>
  <div class="col-md-10">
  

  <h1> {{feed_name}}</h1>
  {{number_of_texts}} texts in feed
  </div>
  </div>
  </br>

<div class="row" id="texts">
  <div class="col-md-10">
    <form method='POST' action='' class="form-horizontal">
    {% csrf_token %} {% crispy form_new_text %}
    <!-- <input type="submit" name="submit_paid" value="Submit Paid Settings" class="btn btn-primary btn-lg btn-block"> -->
  </form>
  </div>
  </div>

</br>  


</div>


</div>
</div>

<!-- Contact Settings -->




<!-- end of container -->
</div> 




<!-- /container -->


</body>

</html>
{% endblock %}