{% extends "base.html" %}
{% load i18n %}



{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"></script>

<script>
$(document).ready(function() {
    $('#blog_archive').DataTable({
    	"columns": [
    { "width": "50%" },
    { "width": "25%" },
    { "width": "25%" },
  ]

    });
} );
</script>


<body>

<div class="container">
	<div class="row" id="post">
		<div class="col-md-2">
			<h1>{{featured_blog.title}}</h1>
			{{featured_blog.author}}
			<h3>Description</h3>
			{{featured_blog.description|safe}}
		</div>
		<div class="col-md-10">
	
			
			{{featured_blog.content|safe}}
		</div>     
	</div>
	<hr>
	<div class="row" id="archive">
		<div class="col-md-2">
			<h1>Archive</h1>
		</div>
		<div class="col-md-10">
		<table id="blog_archive" class="display" cellspacing="0" width="100%">
				<thead>
		        <tr>
		            <th>Title</th>
					<th>Content</th>
					<th>Author</th>
					
		        </tr>
		    </thead>
		    <tbody>
		       {% for blog in blogs %}
				<tr>
					<td><a href="/scaffold/blog/{{ blog.id }}/">{{ blog.title }}</a></td> 
					<td>{{blog.description|safe}}</td>
					<td>{{blog.author}}</td>
				</tr>
				{% endfor %}
		    </tbody>
		</table>
		</div>     
	</div>




</div>




<!-- /container -->




</body>

</html>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85360122-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}