{% load static %}


<nav>
  <div class="nav-wrapper z-depth-1">
    <div class="row">
      <div class="col l12 s12">
      
        <div class="col s8">
        <div class="row">
          <div class="col s12">
            <a href="/app_home/" class="breadcrumb">Home</a>
            <a href="/ent/collection/" class="breadcrumb">Collection</a>
            <a href="/feed/" class="breadcrumb">Creating!</a>
          </div>
        </div>
      </div>

        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
          <li>
            <a class="waves-effect waves-light btn" href="/ent/collection/" >See all collections</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</nav>



<div class="row">


 


<div class="col l6 m6 s12">
  <div class="row"></div>
  <div class= "card">
    <div class="card-content small_spaces">
      <div class="row">
        <div class="col s12">
        <span class="card-title">Collection Descriptions</span>
        <span id="collection_id"></span>

          <!-- NAME -->
          <div class="row">

            <!-- Name -->
            <div class="input-field col s12">
              <i class="material-icons prefix tooltipped" data-position="top" data-delay="50" data-tooltip="When do you want to send the text?">queue</i>
              <input placeholder="Name of collection" id="collection_name" type="text" class="validate">
              <label for="collection"></label>
            </div>

            <!-- Description -->
            <div class="input-field col s12">
              <i class="material-icons prefix tooltipped" data-position="top" data-delay="50" data-tooltip="When do you want to send the text?">description</i>
              <textarea id="collection_description" class="materialize-textarea" length="3000"></textarea>
              <label for="collection">Describe this collection</label>
            </div>

            <!-- SWITCH -->

            <div class="input-field col s12">
              <i class=" prefix tooltipped fa fa-tag" aria-hidden="true" data-position="top" data-delay="50" data-tooltip="These are tags for categorization"></i>
              <div class="row">
               <select id="tag_bar" multiple="multiple">
                 {% for tag in working_tags %}
                 <option value="{{tag.tag}}">{{tag.tag}}</option>
                 {% endfor %}
               </select>
             </div>
           </div>

           <!-- PUBLISH -->

           <div class="input-field col s12">
            <div class="switch">
              <label>
                Private
                <input type="checkbox" id="publish_switch">
                <span class="lever"></span>
                Public
              </label>
            </div>
          </div>
        </div>
      </div>
      </div>
      <!-- SAVE BUTTON  -->
      <form>{% csrf_token %}
        <div class="card-action">
          <a id="save_collection_button" class="waves-effect waves-light btn"><!-- <i class="material-icons left">today</i> -->Save</a>
        </div>
      </form>
    </div>
  </div>
</div>


 <div class="col l6 col m6  s12 ">
    <div class="row"></div>
    <div class= "card">
      <div class="card-content small_spaces">
        <div class="row">
          <div class="col s12">
            <!-- SEARCH BAR -->
            <span class="card-title">Add texts</span>
            <div class="input-field col s12">
             <i class="material-icons prefix tooltipped" data-position="top" data-delay="50" data-tooltip="Use this search bar to add texts">search</i>
             <select id="all_possible_texts_bar" multiple="multiple">
               <!-- ADD BY TAG (ALL WITH A TAG) OR BY INDIVIDUAL, SO MULTI TIERED SEARCH-->
               <option></option>
               {% for text in all_possible_texts %}
               <option value="{{text.id}}">{{text.text}}</option>
               {% endfor %}
             </select>
           </div>


           <!-- TABLE -->
           <!-- Active Texts -->
           <div id="active_texts">
            <div class="row">

              <div class="col s12">
               <table class="striped">
                <thead>
                  <tr>
                    <th data-field="remove"></th>
                    <th data-field="id">Text</th>
                    <th data-field="name">Summary</th>
                  </tr>
                </thead>

                {% if editing_collection %}
                <tbody>
                  {% for text in editing_collection.texts.all %}
                  <tr>
                    <td><i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="This will NOT delete the text.  It will only remove it from this collection">delete</i></td>
                    <td>{{text.text}}</td>
                    <td>{{text.timing.repeat_summary}}</td>
                  </tr>
                  {% endfor %}
                </tbody>

                {% else %}



                <tbody>
                  <tr>
                    <td><i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="This will NOT delete the text.  It will only remove it from this collection">delete</i></td>
                    <td>User search to add now</td>
                    <td></td>
                  </tr>
                </tbody>

                {% endif %}

              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>


</div>
</div>
</div>


</div>
</div>

<script type="text/javascript">
  $(window).unload(function(){
  // alert('Are you sure you want to leave?');
});
</script>



<!-- LOAD VALUES IF EDITING -->
{% if editing_collection %}
<script type="text/javascript">
  $(document).ready(function(){
    $('#collection_name').val("{{editing_collection.collection}}")
    $('#collection_name_display').val("{{editing_collection.collection}}")
    $('#collection_description').val("{{editing_collection.description}}")
  })
</script>
{% endif %}

{% if editing_collection.publish %}
<script type="text/javascript">
  console.log("PUBLISH SWITCH")
  $('#publish_switch').prop('checked', true);
</script>
{% endif %}



<!-- TAG BAR -->
{% if tags %}
<script type="text/javascript">
  $(document).ready(function(){
    console.log("TAG + {{tags|safe}}")
  // $('#tag_bar').val(['good', 'bad']);
  $('#tag_bar').val("{{tags|safe}}")
  // $(".tag_bar").select2("val", "{{tag.tag}}");
})
</script>

{% endif %}



<script>
  $("#tag_bar").select2({
   tags: true,
    tokenSeparators: [',', ' '],
    placeholder: "Search for a text or tag...",
  }).on('select2:unselecting', function() {
    $(this).data('unselecting', true);
}).on('select2:opening', function(e) {
    if ($(this).data('unselecting')) {
        $(this).removeData('unselecting');
        e.preventDefault();
    }
});
</script>      



<script>
  $("#all_possible_texts_bar").select2({
   tags: true,
    tokenSeparators: [',', ' '],
    placeholder: "Search for a text or tag...",
  }).on('select2:unselecting', function() {
    $(this).data('unselecting', true);
}).on('select2:opening', function(e) {
    if ($(this).data('unselecting')) {
        $(this).removeData('unselecting');
        e.preventDefault();
    }
});
</script>      

<script>
 $(document).ready(function(){
  $('.tooltipped').tooltip({delay: 50});
});
</script>


<script type="text/javascript">
 var save_collection_data = function(){
  console.log("save_collection_data")
  if ($("#tag_bar").val() !== null){
    var tag_vals = $('#tag_bar').val().join(',')  
  }

  $.ajax({
    type: 'POST',
    url: '/ent/save_collection/',
    data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
    'id': $('#collection_id').html(),
    'collection_name': $('#collection_name').val(),
    'collection_description': $('#collection_description').val(),
    'tag_vals': tag_vals,
    'selected_text': $('#all_possible_texts_bar').val(),
    'publish_switch': $('#publish_switch').is(':checked'),
  },
  success : function(data) {
    console.log("SUCESS AJAX ~line 136")
    console.log("collection id"+ data['id'])
    $('#active_texts').html(data['active_texts']);
    $('#collection_id').text(data['id']);
    // $('.select2-container').select2('val', '');
    // document.getElementById("all_possible_texts_bar").value = "";
    $("#all_possible_texts_bar").val('')

    
    // console.log($('#all_possible_texts').val())
    // $('#all_possible_texts')[$('#all_possible_texts').val()].prop('selected', true)
    // console.log($('#all_possible_texts').val())
    
     // $('#model_content_for_switch').html(data['model_content_for_switch']);
   }
 })
}
</script>

<script>
  $('#save_collection_button').click(function() {
    console.log("SAVE CLICKED")
    save_collection_data()  
  })

</script>



<script type="text/javascript">
  $('#all_possible_texts_bar').change(function(){
    console.log("SELECT2 box change")
    console.log("------ VALUE" + $('#all_possible_texts_bar').val())
    save_collection_data()
    $('#all_possible_texts_bar').val('')

  })
</script>




<!-- LEAVE NAME AND SAVE -->
<script type="text/javascript">
  $('#collection_name').focusout(function(){
    console.log("FOCUSO")
    save_collection_data()
  })

  $('#collection_description').focusout(function(){
    console.log("FOCUSO D")
    save_collection_data()
  })
</script>



<script type="text/javascript">
 $(document).ready(function(){
  $('.collapsible').collapsible();
});        
</script>


<!-- TAG BAR -->
<!-- TAG BAR -->
{% if tags %}
<script type="text/javascript">
  console.log("TAG + {{tags|safe}}")
  // $('#tag_bar').val(['good', 'bad']);
  $('#tag_bar').val({{tags|safe}})
  // $(".tag_bar").select2("val", "{{tag.tag}}");
</script>
{% endif %}








<script type="text/javascript">
// var options = {
//   valueNames: [ 'text-text', 'text_id' ]
// };

// var userList = new List('possible_text_list', options);


var monkeyList = new List('possible_text_list', {
  valueNames: ['text-text', 'time_sent',''],
  page: 5,
  plugins: [ ListPagination({}) ] 
});
</script>