{% load static %}


<script src="http://listjs.com/assets/javascripts/list.min.js"></script>
<script src={% static "js/list.min.js" %}></script>
<script src={% static "js/list.pagination.min.js" %}></script>
<script src={% static "js/select2.full.min.js" %}></script>
<link rel="stylesheet" href={% static "css/materialize-select2.css" %}>



<div class="row">
  <div class="col s12 m10 offset-m1">


    <!-- SEARCH BAR -->
    <div class="row">
      <form class="col s12">
        <div class="input-field col s12">
          <i class="material-icons prefix tooltipped" data-position="top" data-delay="50" data-tooltip="These are tags for categorization">search</i>
          <div class="row">
           <select id="collection_tag_bar" multiple="multiple">
            <optgroup label="Name">
               {% for collection in collection_names %}
               <option value="collection_{{collection.collection}}">{{collection.collection}}</option>
               {% endfor %}
             </optgroup>
             <optgroup label="Tags">
               {% for tag in working_tags %}
               <option value="tag_{{tag.tag}}">{{tag}}</option>
               {% endfor %}
             </optgroup>
            
          <!-- {% for topic in topics %}
          <option value="topic_{{topic.id}}">{{topic.topic_name}}</option>
          {% endfor %} -->
        </select>
      </div>
    </div>
  </form>
</div>

{% if user.is_superuser %}
<div class="switch">
  <label>
    All published collections
    {% if collection_switch_check %}
    <input type="checkbox" id="collection_switch" checked="">
    {% else %}
    <input type="checkbox" id="collection_switch">
    {% endif %}
    <span class="lever"></span>
    All my collections
  </label>
</div>
{% endif %}

<div id="possible_text_list">
  <!-- Switch -->

  <!-- <p>
    Sort by:
    <div class="waves-effect btn chip sort" data-sort="text-text">
      Text 
    </div>

    <div class="waves-effect btn chip sort" data-sort="time_sent">
      Date
    </div>

    <div class="waves-effect btn chip sort" data-sort="response">
      Response
    </div>

  </p> -->


  <div class="row ">
    <div class="col s10 m10 offset-s1 offset-m1">
      <div id="lens_filter_options"></div>
    </div>
  </div>

  <ul class="list">
    {% for key, value in collection_info %}
    <div class="col s12 m12">

     <div class="card sticky-action">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/static/images/collection/{{value.collection.picture_name}}.jpg">
        <!-- <img class="activator" src="/static/images/collection/dreams.jpg"> -->
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{value.collection.collection}}<i class="material-icons right">more_vert</i></span>

        <!-- DESCRIPTION -->
        <p> {% for tag in value.collection.tag.all %}

          <span>#</span>{{tag.tag}}
          {% endfor %}
        </p>
      </br>
      <p>
      {{value.collection.picture_name}} picutre name
        {{value.collection.description}}
      </p>

    </div>

    <div class="card-action">
      <div value="add" id="collection_{{value.collection.id}}" class="waves-effect waves-light btn add-collection-btn" > Add selected texts</div> (<span class="activator">See texts</span>) - You have signed for XX texts
      {% if value.collection.user == user %}
      <a href="/ent/collection_create_scaffold/{{value.collection.id}}">Edit collection</a>
      {% endif %}
    </div>


    
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{value.collection.collection}}<i class="material-icons right">close</i></span>
      <li>

        <table class="striped">
          <thead>
            <tr>
              <th data-field="remove"></th>
              <th data-field="id">Text</th>
              <th data-field="name">Summary</th>
            </tr>
          </thead>

          <tbody>
            {% for text in value.collection.texts.all %}
            <tr>
              <td>
                {% if user.is_authenticated %}
                <input name="collection_{{value.collection.id}}" type="checkbox" id="{{value.collection.id}}_{{text.id}}" checked>
                <label for="{{value.collection.id}}_{{text.id}}" id="{{value.collection.id}}_{{text.id}}" class="">
                  {% endif %}
                </td>

                <td>{{text.text}}</td>
                <td>{{text.timing.repeat_summary}}</td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </li>
        </div>
      </div>
    </div>
    {% endfor %}
  </ul>
  <div class="col s10">
    <ul class="pagination"></ul>
  </div>
</div>
</div>



<!-- FOR THE CHECKBOXES -->
{% for key, value in collection_info %}
{% for text in value.collection.texts.all %}
<script type="text/javascript">
  $('input[name={{value.collection.id}}_{{text.id}}]').click(function() {
    $('#{{value.collection.id}}_all').removeAttr('checked');
  });

  $('#{{value.collection.id}}_all').click(function() {
    $('input[name={{value.collection.id}}_{{text.id}}]').removeAttr('checked');  
  });
</script>
{% endfor %}
{% endfor %}


<script type="text/javascript">
  $('.add-collection-btn').click(function(){
    var collection_name = this.id

    // GET THE SPEFIC OPTIONS
    var selected_texts = [];
    $("input:checkbox").each(function() {
      if ($(this).attr('name')===collection_name){
       selected_texts.push(this.id);
      }     
     });

    console.log("SELECTED TEXTS " + selected_texts)
    $.ajax({
      type: 'POST',
      url: '/ent/add_to_collection/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'collection_name': collection_name,
      'selected_texts': selected_texts.join(','),
    },
    success : function(data) {
      console.log("COLLECTION DISPLAY WORKED!")
      $.ajax({
      type: 'POST',
      url: '/get_side/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'side_switch': $('#side_switch').is(':checked')
      },
    success : function(data) {
     $('#side_content').html(data['SIDE']);
   }
 })
    }
  })
  })
    



</script>


<!-- THIS IS THE COLLAPISBLE -->
<script type="text/javascript">
 $(document).ready(function(){
  $('.collapsible').collapsible();
});

</script>

<!-- SELECT@ -->
{% if searched_tags %}
<script type="text/javascript">
  $('#collection_tag_bar').val("{{searched_tags|safe}}")
</script>
{% endif %}



<!-- SEARCH BAR -->
<script>
  $("#collection_tag_bar").select2({
      // tags: true,
    // tokenSeparators: [',', ' '],
    placeholder: "Search for a text or tag...",
  }).on('select2:unselecting', function() {
    $(this).data('unselecting', true);
  }).on('select2:opening', function(e) {
    if ($(this).data('unselecting')) {
      $(this).removeData('unselecting');
      e.preventDefault();
    }
  });

</script>

<script type="text/javascript">
// var options = {
//   valueNames: [ 'text-text', 'text_id' ]
// };

// var userList = new List('possible_text_list', options);


var monkeyList = new List('possible_text_list', {
  valueNames: ['text-text', 'time_sent',''],
  page: 5,
  plugins: [ ListPagination({}) ] 
});
</script>


<script type="text/javascript">
  $('#collection_tag_bar').change(function(){
    if ($("#collection_tag_bar").val() !== null){
      var collection_tags = $('#collection_tag_bar').val().join(',')  
    }

    $.ajax({
      type: 'POST',
      url: '/ent/get_display_collection/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'collection_switch': $('#collection_switch').is(':checked'),
      'collection_tags': collection_tags,
    },
    success : function(data) {
      console.log("COLLECTION DISPLAY WORKED!")
      $('#MAIN').html(data['COLLECTION']);
    }
    })

  })
</script>


<script type="text/javascript">
  $('#collection_switch').change(function(){
    $.ajax({
      type: 'POST',
      url: '/ent/get_display_collection/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'collection_switch': $('#collection_switch').is(':checked')},

      success : function(data) {
        console.log("COLLECTION DISPLAY WORKED!")
        $('#MAIN').html(data['COLLECTION']);
      }
    })
  })
</script>