{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% crispy form %}


<!--DOCTYPE html -->

<html>
<body>



{% block content %}
{% if messages %}
          {% for message in messages %}
            <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
              <a class="close" data-dismiss="alert" href="#">&times;</a>
              {{ message }}
            </div>
          {% endfor %}
{% endif %}

<div class="row">
	<div class="col-md-6">
		<h4>What will happen next?</h4>
		<li>You will recieve texts at random times once you complete this form.</li>
		<li>They will ask about the emotions you are experiencing in your present moment.</li>
		<li>For example:</li>
		<ul>
		<li>"How much joy is in your present moment (0-10)?"</li>
		<li>Breath, think, and look for joy in your world.</li>
		<ul>
		<li>If there is no joy, reply with 0.</li>
		<li>If there is only joy, reply with 10.</li>
		</ul>
		</ul>
		<li>If you forget or miss a prompt, don't worry about it.  Just respond to the prompt you have just recieved and ignore the ones you missed.</li>

		</br>
		<h4>You have control!</h4>
		<li>You can edit the prompts you recieve (Edit Settings > My Prompts).</li>
		<li>You can pause the prompts by:</li>
		<ul>
		<li>Texting: "pause"</li>
		<ul>
		<li>This will pause for 1 day</li>
		</ul>
		<li>Texting: "pause 3 days" or "pause" with a duration of time</li>
		<ul>
		<li>This will pause 3 days or whatever time you say</li>
		</ul>
		<li>Using the pause links at the top of the screen</li>
		</ul>
		</br>
		<h4>Why is this information needed?</h4>
		<li>Phone and carrier are needed to text you.</li>
		<li>Sleep time, sleep duration, and timezone are needed to not wake you up.</li>
		<li>Texts per day are needed to give you the amount of texts you want.</li>
		</br>

	</div>
	<div class="col-md-6">
		<form method='POST' action='' class="form-horizontal">
		{% csrf_token %}
		{{form|crispy}}
		<input type="submit" name ="submit" value="Submit" class="btn btn-primary btn-lg btn-block">
		</form>
	</div>
		
	
</div>
</body>

</html>
{% endblock %}