{% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% crispy form %}
{% load staticfiles %}

<!--DOCTYPE html -->

<html>



<body>
	{% block content %}

	{% if messages %} {% for message in messages %}
	<div{% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
	<a class="close" data-dismiss="alert" href="#">&times;</a> {{ message }}
</div>
{% endfor %} {% endif %}



<!-- Main jumbotron for a primary marketing message or call to action -->
<!-- first section - Home -->
<div class="container">
	<div class="row" id = "current_exp">
	<div class="col-md-6">
	<div class="row text-center">
		<h3>Welcome</h3>
	</div>
	</div>
		<div class="col-md-6">
		<p>
			Response Time: <font size="7">{{summary_response_time|floatformat:2}}</font> seconds.
			<br/>
			Response Rate: <font size="7">{{summary_response_percent|floatformat:2}}</font>%.   Total Number of Prompts:  <font size="7">XX</font>.

		</p>
	</div>
</div>



<hr>
<div class="container">

	<div class="row text-center">
		<div class="col-sm-4 col-xs-6">
			<h2>Visualize</h2>
			<p>Access your data through beautiful tables and visulations</p>
			<p><a class="btn btn-primary btn-lg" href="{% url 'vis:user_vis' %}" role="button" >Visualize &raquo;</a></p>
		</div>
		<div class="col-sm-4 col-xs-6">
			<h2>Settings</h2>
			<p>Add groups of people to look at differences.</p>
			<p><a class="btn btn-primary btn-lg" href="{% url 'ent:edit_prompt_settings' %}" role="button" >Edit Settings &raquo;</a></p>
		</div>
		<div class="col-sm-4 col-xs-6">
			<h2>Experiences</h2>
			Sign up for month long guided experiences or design your own!  Want to focus on a specific state?
			<p><a class="btn btn-primary btn-lg" href="{% url 'scaffold:experiences' %}" role="button" >Try New Experiences &raquo;</a></p>
		</div>
	</div>

	<div class="row text-center">
		<div class="col-sm-2 col-xs-6">

		</div>
		<div class="col-sm-4 col-xs-6">
			<h2>Learn</h2>
			<p>Documents and tools for learning about emotions and Emojinsei</p>
			<p><a class="btn btn-primary btn-lg" href="{% url 'scaffold:faq' %}" role="button" >Learn More&raquo;</a></p>
		</div>
		<div class="col-sm-4 col-xs-6">
			<h2>Therapist</h2>
			<p>Use Emojinsei as a tool for working with others.  Design your own program.</p>
			<p><a class="btn btn-primary btn-lg" href="{% url 'scaffold:working_with_others' %}" role="button" >Work With Others&raquo;</a></p>
		</div>
		<div class="col-sm-2 col-xs-6">

		</div>

	</div>
</div>

<hr>
<div class="row" id="blog">
	<div class="col-md-3">
		<h1>Ask a question</h1>
		<p>Ask a question or provide feedback</p>
	</div>
	<div class="col-md-9">
	</br>

	<form method='POST' action='' class="form-horizontal">
		{% csrf_token %}
		{{form|crispy}}
		<input type="submit" name ="submit" value="Submit" class="btn btn-primary btn-lg btn-block">
	</form>

</div>     
</div>






<!-- /container -->




</body>

</html>
{% endblock %}