{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% crispy form %}


<!--DOCTYPE html -->
{% block content %}
{% if messages %}
  {% for message in messages %}
    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

<html>
<body>
<div class="row">
	<div class="col-md-8">
		<h1>Add Your Own Prompts</h1>
		Don't forget to update your settings.  You'll be able to send yourself whatever you want once you answer 100 emotion prompts.  Also, on your settings page, there is an option for:
		</br></br>Percentage of prompts from user generated list</br></br>
		0 = All prompts will be emotion</br>
		100 = All prompts will be user generated</br>
		</br>
		</br>
		<form action="." method="post">
		    {% csrf_token %}
		    {{ formset|crispy }}
		    <input type="submit" value="Submit" class="btn btn-success">
		</form>
	</div>
</div>


</body>
</html>
{% endblock %}