{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% crispy form %}


<!--DOCTYPE html -->
{% block content %}
{% if messages %}
  {% for message in messages %}
    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

<html>
<body>
<div class="row">
	<div class="col-md-6">
		<h1>
		Make this your own!
		</h1>
		</br>

		<h4>Want to focus on only one emotion?</h4>
		<li>Add the emotion (or emotions) you want.</li>
		<li>Change the prompt percent to 100 to recieve only the prompts you entered.</li>
		</br>

		<h4>Want to have a periodic reminder of something, but still keep the emotion prompts?</h4>
		<li>Add the emotion (or emotions) you want.</li>
		<li>Change the prompt percent to 50 to recieve 50% default prompts and 50% your prompts.</li>


	</div>

	<div class="col-md-6">
		<form method='POST' action='' class="form-horizontal">
		    {% csrf_token %}
		    {{prompt_rate_form|crispy}}
		    
		    {{formset|crispy}}
		    <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block">
		</form>
	</div>
</div>


</body>
</html>
{% endblock %}