  {% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% crispy form %}


  <!--DOCTYPE html -->
{% block content %}

  <html>
  <head>
<title>Edit Feeds - Sentimini!</title>
</head>

  <body>
    

    <script>
      $(document).ready(function() {
        $('#library_experiences_table').DataTable({
          "columns": [
          { "width": "40%" },
          { "width": "40%" },
          { "width": "10%" },
          { "width": "10%" },
          ]

        });
      } );
    </script>
    
<script>
      $(document).ready(function() {
        $('#active_experiences_table').DataTable({
          "columns": [
         { "width": "40%" },
          { "width": "40%" },
          { "width": "10%" },
          { "width": "10%" },
          ]

        });
      } );
    </script>
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="container">
  
   

  <!-- Text content -->
  <div class="row" id="texts">
    <div class="col-md-2">
    <h1>Overview</h1>
     
    </div>

    <div class="col-md-10">
  You have signed up for <mark>{{number_of_experiences}} feeds</mark> with a total of <mark>{{number_of_texts_per_week}} texts per week</mark>
  </br></br>
  Click here for a <a href="{% url 'ent:simulate_week' %}">simulated week</a>
  </br></br>
   <form action="#" method="get">
       <input type="submit" class="btn-primary btn-sm" value="Create New Feed" name="create_new_feed">
     </form>

    
  
  </div>
  </div>


  <hr>
  <div class="row" id="texts">
    <div class="col-md-2">
      <h1>Active Feeds</h1>
     
    </div>

    <div class="col-md-10">

  
     <table id="active_experiences_table" class="display" cellspacing="0" width="100%">
      <thead>
          <tr>
              <th>Text Set</th>
              <th>Description</th>
              <th>Texts Per Week</th>
              <th>Number of Texts</th>
        
          </tr>
      </thead>
      <tbody>
         {% for exp in working_experience_sets %}
      <tr>

        <td><b>{{ exp.text_set }}</b> (<a href="/ent/text_set_alter/{{ exp.ideal_id }}/">{{exp.user_state}}</a>, <a href="/ent/text_set_detail/{{ exp.ideal_id }}/">edit</a>)</td>
        <td>{{ exp.description }}</td>
        <td>{{ exp.prompts_per_week }}</td>
        <td>{{ exp.number_of_texts_in_set }}</td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
  

    


  </div>
  </div>


  <hr>
<div class="row" id="contact">
  <div class="col-md-2">
    <h1>Possible Feeds</h1>
    
  </div>

  <div class="col-md-10">


     <table id="library_experiences_table" class="display" cellspacing="0" width="100%">
      <thead>
          <tr>
              <th>Text Set</th>
              <th>Description</th>
              <th>Texts Per Week</th>
              <th>Number of Texts</th>
        
          </tr>
      </thead>
      <tbody>
         {% for exp in library_experiences %}
      <tr>

        <td><b>{{ exp.text_set }}</b> (<a href="/ent/text_set_alter/{{ exp.ideal_id }}/">{{exp.user_state}}</a>, <a href="/ent/text_set_detail/{{ exp.ideal_id }}/">edit</a>)</td>
        <td>{{ exp.description }}</td>
        <td>{{ exp.prompts_per_week }}</td>
        <td>{{ exp.number_of_texts_in_set }}</td>
      </tr>
      {% endfor %}
      </tbody>
  </table>

</br>
  </div>

  
</div>
 

<!-- Contact Settings -->




<!-- end of container -->
</div> 




<!-- /container -->


</body>

</html>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85360122-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}