{% load static %}
<!-- <script src={% static "js/nouislider.js" %}></script> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"> -->
<!-- <script src={% static "js/materialize.min.js" %}></script> -->
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
<!-- <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script> -->

<script src="http://listjs.com/assets/javascripts/list.min.js"></script>
<script src={% static "js/list.min.js" %}></script>
<script src={% static "js/list.pagination.min.js" %}></script>

<script src={% static "js/select2.full.min.js" %}></script>
  <link rel="stylesheet" href={% static "css/materialize-select2.css" %}>
<script src={% static "js/materialize.min.js" %}></script>

<!-- <link rel="stylesheet" href={% static "css/materialize-select2.css" %}> -->
<!-- <script src={% static "js/select2.full.min.js" %}></script> -->



<div class="row">
  <div class="col s12 m11 offset-m1">
    <div id="possible_text_list">
      <!-- SEARCH BAR -->
      <div class="row">
        <div class="input-field col s11">
        POSSIBLE

         <i class="material-icons prefix tooltipped" data-position="top" data-delay="50" data-tooltip="Use this search bar to add texts">search</i>
         <select id="all_possible_texts_search" multiple="multiple">
           <optgroup label="Texts">
             {% for text in text_names %}
             <option value="text_{{text.text}}">{{text.text}}</option>
             {% endfor %}
           </optgroup>
           <!-- ADD BY TAG (ALL WITH A TAG) OR BY INDIVIDUAL, SO MULTI TIERED SEARCH-->
           <optgroup label="Tags">
             {% for key, value in text_info %}
             {% for tag in value.text.tag.all %}
             <option value="tag_{{tag.tag}}">{{tag.tag}}</option>
             {% endfor %}
             {% endfor %}
           </optgroup>
         </select>
       </div>
     </div>
     <!-- Switch -->     

     <!-- <div class="switch">
            <label>
              <span style="font-size: 300%; font-weight: bold;">{{num_text_types}}</span> types
              <input type="checkbox" id="actual_switch">
              <span class="lever"></span>
              <span style="font-size: 300%; font-weight: bold;">{{num_sent_texts}}</span> sent
            </label>
          </div> -->


     

      <div class="waves-effect waves-teal btn-flat chip sort" data-sort="text-text">
        Text
      </div>

      <div class="waves-effect waves-orange btn-flat chip sort" data-sort="number_sent">
        # Sent
      </div>

      <div class="waves-effect waves-purple btn-flat chip sort" data-sort="number_reply">
        # Reply
      </div>

      <div class="waves-effect waves-red btn-flat chip sort" data-sort="date_last_sent">
        Date last sent
      </div>

      <div class="waves-effect waves-green btn-flat chip sort" data-sort="date_first_sent">
        Date created
      </div>
    


    <div class="row">
      <div class="col s10 m10 offset-s1 offset-m1">
        <div id="lens_filter_options"></div>
      </div>
    </div>

    <ul class="list">
    {% if text_present == 0 %}
    <div class="col s12 m11">
      <div class="card">
        <div class="card-content">
    You have no scheduled texts.  
    </br></br>
    Add one!
    </br></br>
    <a class="waves-effect waves-light btn" href="/ent/add_new_text" >Schedule a text</a>
    
    </div>
    </div>
    </div>
    {% else %}
    
     {% for key, value in text_info %}
     <div class="col s12 m11">
     <ul class="collection">
      <li class="collection-item"><span class="text-text" style="line-height: normal;"><a href="/feed_specific/{{value.text.id}}">{{value.text.text}}</a></span></li>
      </ul>
            







      <div class="card">
        <div class="card-content">
          <span class="card-title text-text" style="line-height: normal;"><a href="/feed_specific/{{value.text.id}}">{{value.text.text}}</a></span>

          <!-- <span class="card-title text-text" style="line-height: normal;">{{value.text.text}}</span> -->

          <p> 
            {% for tag in value.text.tag.all %}
            <!-- <span><a href='/tag_specific/{{tag.id}}'>#{{tag.tag}}</a></span> -->
            <span>#{{tag.tag}}</span>
            {% endfor %}
          </p>
          <div class="row"></div>
          <p>
          
            <span class="number_sent">{{value.number_sent}}</span> sent (<span class="number_reply">
            {{value.number_reply}}</span> replies ) 
            {% if value.text.time_to_send%}
            between 
            
            <span class="date_first_sent_display">{{value.date_first_sent.time_to_send}}</span>
            <span class="date_first_sent" hidden>{{ value.date_first_sent.time_to_send|date:"U" }}</span>
            
            and 
            <span class="date_last_sent_display">{{value.date_last_sent.time_to_send}}</span> 
            <span class="date_last_sent" hidden>{{ value.date_last_sent.time_to_send|date:"U" }}</span>
            {% endif %}

            </br>
            
          </p>

        </div>
        <div class="card-action">
          
          <a class="waves-effect btn" href="/ent/add_new_text/{{value.text.id}}">Edit</a>
           <a class="waves-effect waves-light btn modal-trigger" href="#modal_delete_texts_{{value.text.id}}">Delete this text</a>
            {% if value.text.active == True %}
               <div value="{{value.text.id}}" id="feed_{{value.text.id}}" class="waves-effect btn feed-pause-text-btn">Pause</div>
               <span class="active-sort" hidden>0</span>
            {% else %}
              <div style="background-color:#e57373;" value="{{value.text.id}}" id="feed_{{value.text.id}}"  class=" waves-effect btn feed-pause-text-btn">Start</div>
              <span class="active-sort" hidden>1</span>
            {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
    
    {% endif %}
  </ul>
  <div class="col s10">
    <ul class="pagination"></ul>
  </div>
</div>
</div>


<!-- Modal Structure -->
{% for key, value in text_info %}
<div id="modal_delete_texts_{{value.text.id}}" class="modal modal-fixed-footer" name ="delete_modal" style="max-height:25%;">


  <div class="modal-content">
    <h4>Are you sure?</h4>
    <p>This will delete this text and all data associated with it.  You can always just 'pause' the text</p>
    
  </div>
  <div class="modal-footer">
  <div value="{{value.text.id}}" id="delete_{{value.text.id}}" class="red lighten-2 modal-action modal-close waves-effect waves-red btn-flat feed-delete-text-btn">Delete</div>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Keep</a>
  </div>
</div>
{% endfor %}

 <!-- SELECT THIS HAS TO BE ABLE THE INTIALIZE THINGs -->

<!-- 
<script type="text/javascript">  
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal').modal({
      dismissible: true, // Modal can be dismissed by clicking outside of the modal
      opacity: .5, // Opacity of modal background
      inDuration: 100, // Transition in duration
      outDuration: 200, // Transition out duration
      startingTop: '4%', // Starting top style attribute
      endingTop: '10%', // Ending top style attribute
      complete: function () {
      $('.lean-overlay').remove();
    }

    }
  );
      
  });
      
</script> -->


<!-- OPEN THE MODAL -->
<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal(

      )
  })
</script>
<!-- 

<script type="text/javascript">
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
  $(document).ready(function(){
            $('#modal').click(function() {
                 $('#modal1').openModal();
            });
            if ($('body').css(''))
            {
                $('.lean-overlay').remove();
            }
        });
</script>
 -->





 <!-- SELECT@ -->

 <!-- DELETE -->
<!--  <script type="text/javascript">
   $('.feed-delete-text-btn').click(function(){
    console.log($(this).val())

    $.ajax({
      type: 'POST',
      url: '/delete_text/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'id': $(this).val(),
    }, 
    success : function(data) {
     $.ajax({
      type: 'POST',
      url: '/get_feed/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'actual_switch': $('#actual_switch').is(':checked'),
      'all_possible_texts_search': all_possible_texts_search_vals
    }, 
    success : function(data) {
     $('#MAIN').html(data['FEED']);
   }
 })
   }





   })
  })
 </script> -->


<script type="text/javascript">
$('.feed-delete-text-btn').click(function() {
  
  
  $.ajax({
      type: 'POST',
      url: '/delete_text/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'id': $(this).attr('id').split("_")[1],
    },
    success : function(data) {

      $.ajax({
    type: 'POST',
    url: '/get_feed/',
    data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
     success : function(data) {
             $('#MAIN').html(data['FEED']);
         }

    })
      // console.log("SUCESS AJAX ~line 392")
      // $('#model_content_for_switch').html(data['model_content_for_switch']);
    }
})
})

</script>




{% if searched_tags %}
<script type="text/javascript">
console.log("FILLING SEARCH  {{searched_tags}}") 
$('#all_possible_texts_search').val("{{searched_tags|safe}}")
// $('#all_possible_texts_search').val("{{searched_tags}}")
// $('#all_possible_texts_search').val("WORK")
// $("#all_possible_texts_search").select2('val',"");
</script>
{% endif %}

<!-- SEARCH BAR -->
<script>
  $("#all_possible_texts_search").select2({
      tags: true,
    tokenSeparators: [',', ' '],
    placeholder: "Search for a text or tag...",
  }).on('select2:unselecting', function() {
    $(this).data('unselecting', true);
}).on('select2:opening', function(e) {
    if ($(this).data('unselecting')) {
        $(this).removeData('unselecting');
        e.preventDefault();
    }
});

</script>




<script>
$('#all_possible_texts_search').change(function(){
  console.log("SELECT BAR CHANGE")
  console.log("VALUE" + $('#all_possible_texts_search').val())

  if ($("#all_possible_texts_search").val() !== null){
      var all_possible_texts_search_vals = $('#all_possible_texts_search').val().join(',')  
    }

  $.ajax({
      type: 'POST',
      url: '/get_feed/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'actual_switch': $('#actual_switch').is(':checked'),
      'all_possible_texts_search': all_possible_texts_search_vals
    }, 
    success : function(data) {
     $('#MAIN').html(data['FEED']);
   }
})
})


</script>    

<script type="text/javascript">
  $('#actual_switch').change(function(){
    console.log("ACTUAL SWITCH PRESSED!")
    $.ajax({
      type: 'POST',
      url: '/get_feed/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'actual_switch':$('#actual_switch').is(':checked'),
      'all_possible_texts_search':$('#all_possible_texts_search').val(),
    }, 
    success : function(data) {
     $('#MAIN').html(data['FEED']);
   }

 })

  })
</script>


<script type="text/javascript">
$('.feed-pause-text-btn').click(function() {
  var text_id_button = $(this).attr('id')
  var text_id_button_id = $(this).attr('id').split("_")[1]
  $.ajax({
      type: 'POST',
      url: '/pause_text/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'id': $(this).attr('id').split("_")[1],
    },
    success : function(data) {
      if ($('#'+text_id_button).text()=="Pause"){
        
       $('#side_'+text_id_button_id).text("Start")
       $('#feed_'+text_id_button_id).text("Start")
       $('#side_'+text_id_button_id).css('background-color', '#e57373');
       $('#feed_'+text_id_button_id).css('background-color', '#e57373');
       // $('#feed_'+text_id_button_id).css('background', 'red');
       // $('#feed_'+text_id_button_id).css('color', 'red');
      } else {
        $('#side_'+text_id_button_id).text("Pause")
        $('#feed_'+text_id_button_id).text("Pause")
        $('#side_'+text_id_button_id).css('background-color', '#2196f3');
        $('#feed_'+text_id_button_id).css('background-color', '#2196f3');
      }
      // console.log("SUCESS AJAX ~line 392")
      // $('#model_content_for_switch').html(data['model_content_for_switch']);
    }
})
})
</script>





<script type="text/javascript">
// var options = {
//   valueNames: [ 'text-text', 'text_id' ]
// };

// var userList = new List('possible_text_list', options);


var monkeyList = new List('possible_text_list', {
  valueNames: ['text-text', 'number_sent','number_reply','date_last_sent', 'date_first_sent'],
  page: 5,
  plugins: [ ListPagination({}) ] 
});

monkeyList.sort("text-text", {
    order: "desc"
})
</script>