  {% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% crispy form %}


  <!--DOCTYPE html -->


  <html>
  <head>

  </head>

  <body>
    {% block content %}
    <script>
      $(document).ready(function() {
        $('#possible_texts_table').DataTable({
          "columns": [
          { "width": "40%" },
          { "width": "30%" },
          { "width": "30%" },

          ]

        });
      } );
    </script>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
    
    <a href="/"><- Back</a>
    
      <div class="row" id="texts">
        <div class="col-md-2">
          <h1>Overview</h1>
          {{number_of_texts}} texts in this experience</br>{{text_per_week}} texts per week.
        </div>
        <div class="col-md-5">
                <h1>{{ideal_experience.text_set}}</h1>
        {{ideal_experience.description}}
        </br></br>
        
        
      </div>
<div class="col-md-5">
</br></br><a href="{% url 'account_signup' %}" class="btn-default btn-lg" role="button">Sign Up</a>
    </br></br><a href="{% url 'account_login' %}">Sign In</a> if you are already a user.
    </div>

</div>




<hr>
<div class="row" id="texts">
  <div class="col-md-2">
    <h1>Texts</h1>
    All texts are customizable once you <a href="{% url 'account_signup' %}"> sign up</a>

    

  </div>


  <div class="col-md-10">
    

    <table id="possible_texts_table" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Text</th>
          <th>Response Type</th>
          <th>Important</th>

        </tr>
      </thead>
      <tbody>
       {% for exp in working_user_gen %}
       <tr>

        <td>{{ exp.text }}</td>
        <td>{{ exp.response_type }}</td>
        <td>{{ exp.text_importance }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  

</div>
</div>








</div>
</br>
<!-- Text content -->







<!-- Contact Settings -->




<!-- end of container -->
</div> 




<!-- /container -->


</body>

</html>
{% endblock %}