  {% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% crispy form %}


  <!--DOCTYPE html -->


  <html>
  <head>

  </head>

  <body>
    {% block content %}
    <script>
      $(document).ready(function() {
        $('#possible_texts_table').DataTable({
          "columns": [
      { "width": "30%" },
      { "width": "20%" },
      { "width": "10%" },
          { "width": "20%" },
          { "width": "20%" },
          
          ]

        });
      } );
    </script>

    <script>
      $(document).ready(function() {
        $('#possible_feeds_table').DataTable({
          "columns": [
      { "width": "40%" },
          { "width": "40%" },
          { "width": "10%" },
          { "width": "10%" },
          ]

        });
      } );
    </script>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
    {% if new_user_pages == "new_user" %}
    <a href="{% url 'ent:new_user' %}"><- Back to Set Up</a>
      
    {% else %}
    <a href="{% url 'ent:groups_edit' %}"><- Back to Groups</a>
    {% endif %}


      <div class="row" id="texts">
        <div class="col-md-2">
          <h1>Overview</h1>
        </div>
        <div class="col-md-5">
<h1>{{working_group.group_name}}</h1>
{{working_group.description}}
</br></br>
You have added X texts.


      </div>

      

      
   </div>

<hr>
     <div class="row" id="texts">
        <div class="col-md-2">
          <h1>Passcode</h1>
        </div>
        <div class="col-md-5">

{{text_for_user}}
</br></br>


<form method='POST' action='' class="">
      {% csrf_token %} {% crispy form_group_passcode %}
    </form>
      </div>

      

      
   </div>











</div>
</br>
<!-- Text content -->







<!-- Contact Settings -->




<!-- end of container -->
</div> 




<!-- /container -->


</body>

</html>
{% endblock %}