  {% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% crispy form %}


  <!--DOCTYPE html -->


  <html>
  <head>

  </head>

  <body>
    {% block content %}
    <script>
      $(document).ready(function() {
        $('#possible_texts_table').DataTable({
          "columns": [
      { "width": "40%" },
          { "width": "40%" },
          { "width": "10%" },
          { "width": "10%" },
          ]

        });
      } );
    </script>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
    {% if new_user_pages == "new_user" %}
    <a href="{% url 'ent:new_user' %}"><- Back to Set Up</a>
      
    {% else %}
    <a href="{% url 'ent:groups_edit' %}"><- Back to Groups</a>
    {% endif %}


      <div class="row" id="texts">
        <div class="col-md-2">
          <h1>Overview</h1>
        </div>
        <div class="col-md-6">
        <h1>Group: {{working_group.group_name}}</h1>
        
        <h3>Description: {{working_group.description}}</h3>
        </br>
        </br>
 
         <a href="/ent/group_edit_detail/{{working_group.id}}">Edit Group Settings</a>
       {% if working_experience.user_state == "disable" %} 
         <a href="/ent/text_set_detail_descriptions/{{working_experience.feed_id}}">Edit Feed Settings</a>
</br></br>

      <form action="#" method="get">
       <input type="submit" class="btn-danger btn-sm" value="Delete Group" name="remove_group">
     </form>

     {% else %}
     <form action="#" method="get">
       <input type="submit" class="btn-primary btn-sm" value="Activate Group" name="enable_group">
     </form>
     {% endif %}



      </div>

      
   </div>





<hr>
<div class="row" id="texts">
  <div class="col-md-2">
    <h1>Feeds</h1>
    <form action="#" method="get">
       <input type="submit" class="btn-primary btn-sm" value="Create New Feed" name="create_new_feed">
     </form>
     </br>
  </div>


  <div class="col-md-10">
    {% if working_experience.user_state == "disable" %} 


    <form method='POST' action='' class="">
      {% csrf_token %} {% crispy formset helper %}
    </form>

    {% else %}

    <table id="possible_texts_table" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Feed</th>
              <th>Description</th>
              <th>Texts Per Week</th>
              <th>Number of Texts</th>

        </tr>
      </thead>
      <tbody>
       {% for exp in working_user_feeds %}
       <tr>

      <td><b><a href="/ent/text_set_detail/{{ exp.feed_id }}/{{ exp.group_id }}/">{{ exp.feed_name }}</a></b> (<a href="/ent/text_set_alter/{{ exp.feed_id }}/">{{exp.user_state}}</a>)</td>
        <td>{{ exp.description }}</td>
        <td>{{ exp.texts_per_week }}</td>
        <td>{{ exp.number_of_texts_in_set }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

</div>
</div>








</div>
</br>
<!-- Text content -->







<!-- Contact Settings -->




<!-- end of container -->
</div> 




<!-- /container -->


</body>

</html>
{% endblock %}