{% extends "base.html" %}
{% load i18n %}

{% block content %}

</br>
<div class="span12 pagination-centered">
	<div class="col-md-8">
	Emojinsei is a smart emotion tracking app.  
	</br></br>
	Emotions are the fabric of life.  They color how we see the world and interact with others.
	</br></br>
	You'll sign up on the webpage, but immediately you'll start to recieve text messages that asks you about your experience with specific emotions.  
	</br></br>
	All you have to do is respond to the text messages with number between 0 and 10.  Think of it like a percentage.
	</br></br>
	We hope that this will provide you with:
	<li>a periodic reminder to just pay attention to this wonderful world and </li>
	<li>data about how you experience emotions</li>
	</br>
	Emojinsei is based upon statistical principles.  We hope to provide with you valid inferences about your emotional life.  But, more than this, we hope to be able to understand this world more fully and use this data for social change.  
	</br></br>
	Because we're interested in using this data for social change and to understand more about the world, you'll occasionally be asked questions about yourself.  Don't feel pressure to answer.  
	</br></br>
	If you ever need a break, just text 'stop'.
	<a href="{% url 'account_login' %}">Sign In</a> or <a href="{% url 'account_signup' %}">Sign Up</a>!



	</div>
</div>
</br>
{% endblock %}