{% load static %}
{% block content %}
<main>

 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Sentimini!</title>

  <!-- CSS  -->
  <!-- Optional theme -->  
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href={% static "css/materialize.css" %}>
  <link rel="stylesheet" href={% static "css/parallax-style.css" %}>

  <script src={% static "js/materialize.min.js" %}></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src={% static "js/select2.full.min.js" %}></script>
  <link rel="stylesheet" href={% static "css/materialize-select2.css" %}>
<script src="https://use.fontawesome.com/d86baeb400.js"></script>
</head>
<body>

  <!-- NAV BAR -->
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo black-text">Sentimini!</a>
      <ul class="right ">
        {% if user.is_authenticated %}
        <li><a href="/consumer/home/">App Home</a></li>

        {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>

        {% endif %}
      </ul>


    </div>
  </nav>

  <!-- FIRST PIC -->
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container ">
        <h1 class="header center">Simple, free text scheduling</h1>
        <div class="row center">
          <h5 class="header col s12 light">
            Tools to enhance life.  Data to learn from it.
          </h5>
        </div>
        <div class="row center">
          {% if user.is_authenticated %}
          <a class="btn-large waves-effect waves-light" href="/ent/add_new_text/" > Schedule a text</a>

          {% else %}
          <a href="{% url 'account_signup' %}" id="sign-up-link" class="btn-large waves-effect waves-light">Sign Up</a>
          
          <div class="row"></div>
          <a href="{% url 'account_login' %}"">Already signed up, then sign in</a>

          {% endif %}
        </div>
      </div>
    </div>
    <div class="parallax"><img src= "/static/images/bunch/Clouds.jpg" ></div>
  </div>

  <!-- Three panel with ICON -->
  <div class="container">
    <div class="section">
      <div class="row">

   <!--    <div class="col s12 m4">
        <div class="icon-block">
          <div class="row center"></div>
          <div class="row center"></div>
          <div class="row center"></div>
          <div class="row center"></div>
          <div class="row center"></div>
          <div class="row center"></div>
          <p class="light">Sentimini provides tools to schedule text messages and visualize any replies.  </p>
        </div>
      </div> -->



      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">textsms</i></h2>
          <h5 class="center">Create a text</h5>
          <p class="light">You can send yourself a one time or repeating text with any content at any time.  Think google calendars for text messages.  </p>
          <a href="/ent/add_new_text/" class="">See how easy it is to schedule a new text</a>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">collections</i></h2>
          <h5 class="center">Sign up for collections</h5>
          <p class="light">You can sign up for lists of texts covering a range of topics from scheduling a text to reminder to pick up coffee, to interactive programs to inspire creativity, to monitoring aspects of health.</p>
          <a href="/ent/collection/" class=""><!-- <i class="material-icons left">today</i> -->See all all the different ways you can use sentimini</a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- USE PICTURE -->
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Uses</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src= "/static/images/bunch/Crazy Woods.jpg" ></div>
</div>



  <!-- Three panel with ICON -->
  <div class="container">
    <div class="section">
      <div class="row">

      <div class="col s12 m4">
        <div class="icon-block center-align">
          <i class=" brown-text fa fa-grav fa-5x" aria-hidden="true"></i>
          <h5>programs / Reminders</h5>
          <p class="light">Schedule a one time text to remember to pick up coffee.  Schedule a repeating text to reminder yourself to be more mindful or more loving.</p>
          <a href="/ent/collection/" class=""><!-- <i class="material-icons left">today</i> -->See all all the different ways you can use sentimini</a>
        </div>
      </div>



      <div class="col s12 m4">
        <div class="icon-block center-align">
          <i class=" brown-text fa fa-snowflake-o fa-5x" aria-hidden="true"></i>
          <h5>Productivity / Creativity</h5>
          <p class="light">Receive a text in the morning asking what is the one most important thing to do today followed by another text in the evening asking you if you completed the goal.</p>
          <a href="/ent/collection/" class=""><!-- <i class="material-icons left">today</i> -->See all all the different ways you can use sentimini</a>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block center-align">
          <i class=" brown-text fa fa-heart fa-5x" aria-hidden="true"></i>
          <h5>Heath / Wellnesss</h5>
          <p class="light">Sentimini records any replies.  It can track pain levels, if medications were taken, or facilitate communication between clients and health/wellness professionals.</p>
          <a href="/ent/collection/" class=""><!-- <i class="material-icons left">today</i> -->See all all the different ways you can use sentimini</a>
        </div>
      </div>
    </div>

  </div>
</div>





<!-- OPEN SOURCE PICTURE-->
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Why</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src= "/static/images/bunch/Daisies.jpg" alt="Unsplashed background img 2"></div>
</div>




<!-- WHY -->
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h3><i class="mdi-content-send brown-text"></i></h3>
          <h5>Texts can reach almost anyone, are inexpensive, and are very quick.</h5>
          </br>


        
        <div class="row">

        <div class="col s12 m6">

        <b>Texts are a great way to learn about human life.</b>  
      
        <li>Nobel wining economist, <a href="http://www.uvm.edu/pdodds/files/papers/others/everything/kahneman2004a.pdf">Daniel Kahneman</a>, uses experience sampling</li>
        <li>
        Texts have been used to  <a href="http://www.mappiness.org.uk/">map happiness</a> at the London School of Economics</li>
        <li> At least 153 clincial trials have utilized SMS in some way and 480 have evaluated mindfulness (from the NIH Clinical Trials Catalog accessed through <a href='enigma.io'> enigma.io</a>)</li>
        
      
        </div>
        <div class="col s12 m6">
        <b>Texts can remind, inspire, or teach.  They can enhance life in any number of ways.</b>

        <li>Journaling about dreams, increases likelihood of dreams</li>
        <li>Mindfulness has been shown to be helpful for a wide range of things</li>
        <li>Reminders to be mindful could go a long way in increasing wellness</li>  <!-- <i class="material-icons left">today</i> --><li>Explore all the <a href="/ent/collection/" class="">different uses of sentimini</a>.</li>
  
</div>
</div>
Therefore, the aim of Sentimini is to provide inexpensive and quick tools learn about and enhance human life.  This ideally will include open dataset and free statistically-informed tools to assist in the quantitative investigation of human experience.
</br></br>
Sentimini is currently in beta.  I (<a href="https://www.linkedin.com/in/williamrekshan">William Rekshan</a>) developed this application because I wanted these tools to help me in my own life and I wanted to give back to this world.  Over the last 10 years of working on research studies, I was able to travel the world, learn about neuroscience, statistics, and computer programming.  I learned a lot of this through open science and data resources found on the internet.  These experiences enhanced my life.  I would like to give back.  

</p>

</div>
</div>
</div>
</div>

<!-- PICTURE -->
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12">Signing up is free and should take less than 1 minute.</h5>
        <a class="btn-large waves-effect waves-light" href="{% url 'account_signup' %}" >Sign Up</a>
        <div class="row"></div>
        <a href="{% url 'account_login' %}">Already signed up, then sign in</a>
        
      </div>
    </div>
  </div>
  <div class="parallax"><img src= "/static/images/bunch/trees.jpg"  alt="Unsplashed background img 3"></div>
</div>

<!-- FOOTER -->
<footer class="page-footer blue lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l3 s12">
        <h5 class="white-text">Sentimini</h5>
        <p class="grey-text text-lighten-4">In beta.  Free tools to schedule texts and view replies.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text"><a href="/ent/add_new_text/" class="white-text">Schedule a text</a></h5>
      </div>

      <div class="col l3 s12">
        <h5 class="white-text"><a href="/ent/collection/" class="white-text">View collections</a></h5>
          <!-- <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul> -->
        </div>
        <div class="col l3 s12">
          {% if user.is_authenticated %}
          <h5 class="white-text"><a href="/ent/collection/" class="white-text">Log out</a></h5>
          {% else %}
          <h5 class="white-text"><a href="/ent/collection/" class="white-text">Sign up</a></h5>
          <a href="{% url 'account_login' %}" class="white-text">Sign in</a>
          {% endif %}
          <!-- <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul> -->
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Sentimini
      </div>
    </div>
  </footer>




</body>
</html>


{% endblock %}

<script>
  $(document).ready(function(){
    $('.parallax').parallax();
    $(".button-collapse").sideNav();
  });
</script>


<!-- SEARCH BAR -->
<script>
  $("#collection_tag_bar").select2({
      // tags: true,
    // tokenSeparators: [',', ' '],
    placeholder: "Search for a text or tag...",
  }).on('select2:unselecting', function() {
    $(this).data('unselecting', true);
  }).on('select2:opening', function(e) {
    if ($(this).data('unselecting')) {
      $(this).removeData('unselecting');
      e.preventDefault();
    }
  });

</script>


<script type="text/javascript">
  $('#collection_tag_bar').change(function(){


    $.ajax({
      type: 'POST',
      url: '/fun_splash_description/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'collection_id': $('#collection_tag_bar').val(),
    },



    success : function(data) {
      console.log("COLLECTION DISPLAY WORKED!")
      $('#collection_descrption').html(data['description']);
    }
  })

  })
</script>