  {% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% crispy form %}


  <!--DOCTYPE html -->


  <html>
  <head>

  </head>

  <body>
    {% block content %}

  
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
    <div class="row" id="congrats">
    <div class="col-md-2">
     <h1>Congrats!</h1>
  
    </div>
     <div class="col-md-10">
     Feel free to leave the site if you have happy with your settings...Everything should be set up.
     </br></br>
     You should have already received your first text.  If you did not, make sure you phone number and carrier is correct <a href="{% url 'ent:edit_prompt_settings' %}">here</a>.  
     </br></br>
     If your phone number and carrier is correct, don't worry, there may be some delays in receiving the text messages (this is still just a beta).
     

 
     </div>
  </div>

 <hr>
    <div class="row" id="congrats">
    <div class="col-md-2">
     <h1>What to expect</h1>
  
    </div>
     <div class="col-md-10">
     <div class="row">
     <div class="col-md-12">
       This is a simulated week based upon your settings.  Each row is one day.  Each dot is one text.
      </br></br>
      You'll notice that you don't recieve texts during the time you sleep.
      </br></br>

      
     </div>
     </div>

        <div class="row">
     <div class="col-md-12">
     <div style="width:100%;height:800">
          {{ graph_data_simulated_heatmap|safe }}
        </div>
        <mark>Edit your settings <a href="{% url 'ent:edit_prompt_settings' %}">here</a>, if you want a different pattern of texts.</mark>
        </br></br>
        
     </div>
     </div>
</div>




</div>
    <hr>
    <div class="row" id="congrats">
    <div class="col-md-2">
     <h1>What to do next?</h1>
  
    </div>
     <div class="col-md-3">
   
     <h3><a href="{% url 'ent:edit_prompt_settings' %}">Settings</a></h3>
     <li>Edit the text</li>
     <li>Change timing</li>

     </div>
       <div class="col-md-3">
   
     <h3><a href="{% url 'vis:user_vis' %}">Data</a></h3>
     <li>Download tables of your texts</li>
     <li>View graphs of your responses</li>

     </div>
       <div class="col-md-3">
   
     <h3><a href="/scaffold/about/#donate">Donate</a></h3>
     <li>Consider donating, if you think this service is useful</li>
     <li>Sign up for new experiences</li>
     

     </div>
       <div class="col-md-1">
   


     </div>
  </div>
</div>

<!-- Contact Settings -->




<!-- end of container -->
</div> 




<!-- /container -->


</body>

</html>
{% endblock %}