  {% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% crispy form %}


  <!--DOCTYPE html -->


  <html>
  <head>

  </head>

  <body>
    {% block content %}



    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">

     <div class="row" id="almost_there">
       <div class="col-md-2">
         <h1>Steps</h1>


       </div>
       <div class="col-md-3 text-center">
        <h3>Contact</h3>
        <b>(6 questions)</b>
        <li>Phone Number</li>
        <li>Times not to text</li>
        <li>Number of texts per week</li>

      </div>
      <div class="col-md-3 new_user_loc text-center">
       <h3>Texts</h3>
       <b>(1 to 3 questions)</b>
       <li>Specify the text you want to receive</li>
     </br>
     (you are here)

   </div>
   <div class="col-md-4 text-center">
     <h3>Next Steps</h3>
     <li>Visualizations</li>
     <li>Open Data</li>
     <li>Customize Experience</li>
   </div>


 </div>   


 <hr>
 <div class="row" id="texts">
  <div class="col-md-2">
    <h1>Texts</h1>
    <b>{{number_of_texts}}</b> total texts.
  </div>
  <div class="col-md-6">


   <form method='POST' action='' class="form-horizontal">
    {% csrf_token %} {% crispy form_new_text %}
    <!-- <input type="submit" name="submit_paid" value="Submit Paid Settings" class="btn btn-primary btn-lg btn-block"> -->
  </form>

</div>

<div class="col-md-4">
  <mark>You can always add more, edit, or delete texts on your settings page</mark>.
  </br></br>
  Questions about response type, click <a href="#response_type">here</a>
  </br></br>
  Questions about importance, click <a href="#importance">here</a>



</div>
</div>

<hr>
<div class="row" id="response_type">
  <div class="col-md-2">
    <h1>Response Type</h1>

  </div>
  <div class="col-md-10">
    It is helpful to know how you would want to respond to a text.  
    </br></br>This is used to:
    <li>Allow you to think about how you want to response</li>
    <li>Determining which data to include in graphs</li>
  </br>
  Don't worry, you can respond however you want to the text and Sentimini will record this data.
</br></br>
<mark>All of the responses will be included in tables regardless of the response type</mark>.
<div class="row" >

  <div class="col-md-4">
   <div class="text-center"> <h3>Open</h3></div>
    <li>Respond anyway you want</li>
    <li>These <mark>will not</mark> be included in graphs.</li>
  </div>
  <div class="col-md-4">
    <div class="text-center"><h3>Yes/No</h3></div>

    <li>Respond with a yes or no</li>
    <li>These <mark>will</mark> be included in graphs.</li>
  </div>      
  <div class="col-md-4">
    <div class="text-center"><h3>0 to 10</h3></div>

    <li>Respond with number between 0 and 10</li>
    <li>These <mark>will</mark> be included in graphs.</li>
  </div>
</div>
</div>
</div>

<hr>
<div class="row" id="importance">
  <div class="col-md-2">
    <h1>Importance</h1>

  </div>
  <div class="col-md-10">
    This used to determine how often to send you a specific text.  This is just relative importance.
    </br></br>
    In order to determine the text content, Sentimini:
    <li>Creates a list of possible texts to send</li>
    <li>Each text is entered the number of times that the importance is set</li>
    <li>Randomly selects a texts from the list</li>
    </br>
    In other words, determining the text content is kind of like a raffle and the importance is how many tickets the text has.  
    </br></br>
    <mark>The higher the number, the more likely you will be sent that text</mark>.
    </br></br>
    </div>

</div>



</div>
</div>

<!-- Contact Settings -->




<!-- end of container -->
</div> 




<!-- /container -->


</body>

</html>
{% endblock %}