  {% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% crispy form %}


  <!--DOCTYPE html -->

{% block content %}
  <html>
  <head>
<title>New User Page 3 - Sentimini!</title>
  </head>

  <body>
    
    <script>
      $(document).ready(function() {
        $('#possible_texts_table').DataTable({
          "columns": [
          { "width": "40%" },
          { "width": "30%" },
          { "width": "30%" },

          ]

        });
      } );
    </script>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <a href="{% url 'ent:feeds_edit' %}"><- Back to Feeds</a>


      <div class="row" id="texts">
        <div class="col-md-2">
          <h1>Overview</h1>
        </div>
        <div class="col-md-5">
         {% if working_experience.user_state == "disable" %} 

         <form method='POST' action='' class="">
          {% csrf_token %} {% crispy form_text_set_new %}
        </form>

        {% else %}

        <h1>{{working_experience.text_set}}</h1>
        {{working_experience.description}}

        {% endif %}

      </div>
      <div class="col-md-5">
        <mark>{{text_for_user}}</mark>. 

      </br></br>
      {{number_of_texts}} texts in this experience.  {{text_per_week}} texts per week.
      </br></br>

      {% if working_experience.user_state == "disable" %} 
      <form action="#" method="get">
       <input type="submit" class="btn-danger btn-lg" value="Delete Feed" name="remove_experience">
     </form>

     {% else %}
     <form action="#" method="get">
       <input type="submit" class="btn-primary btn-lg" value="Activate Feed" name="enable_experience">
     </form>
     {% endif %}
   </div>
</div>




<hr>
<div class="row" id="texts">
  <div class="col-md-2">
    <h1>Edit Texts</h1>
    You can customize the experience
  </div>


  <div class="col-md-10">
    {% if working_experience.user_state == "disable" %} 


    <form method='POST' action='' class="">
      {% csrf_token %} {% crispy formset helper %}

    </form>

    {% else %}

    <table id="possible_texts_table" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Text</th>
          <th>Response Type</th>
          <th>Important</th>

        </tr>
      </thead>
      <tbody>
       {% for exp in working_user_gen %}
       <tr>

        <td>{{ exp.text }}</td>
        <td>{{ exp.response_type }}</td>
        <td>{{ exp.text_importance }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

</div>
</div>








</div>
</br>
<!-- Text content -->







<!-- Contact Settings -->




<!-- end of container -->
</div> 




<!-- /container -->


</body>

</html>
{% endblock %}