<style>
.hidden {
display: none;
}

</style>

<!-- <div class="col s12  m4 center-align img-container yellow"> -->
<div class="row"></div>
	<div  id="sms_picture">
		<img class="mockup" id = "mindfulness" src="/static/images/mockups/mindfulness.png">
		<img class="mockup hidden" id = "productivity" src="/static/images/mockups/productivity.png">
		<img class="mockup hidden" id = "exploring_emotions" src="/static/images/mockups/exploring emotions.png">
		<img class="mockup hidden" id = "remembering_sunsets" src="/static/images/mockups/remembering sunsets.png">
	</div>

	
		
	
<!-- </div> -->
