{% load static %}
{% load staticfiles %}
<main>

  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>


    <title>Sentimini!</title> 
    <meta property="og:title"         content="About | Sentimini | Mindful Reminders"/>
    <meta property="og:url"           content="www.sentimini.com/consumer/about/" />
    <meta property="og:type"          content="website" />
    <meta property="og:description"   content="Lightweight tools for mindfulness, behavior change, and learning about this world." />
    <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />


    <!-- CSS  -->
    <!-- Optional theme -->  
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href={% static "css/materialize.css" %}>
    
    <link rel="icon" href="{% static "images/raven.ico" %}">
    

    <script src={% static "js/materialize.min.js" %}></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src={% static "js/select2.full.min.js" %}></script>
    <link rel="stylesheet" href={% static "css/materialize-select2.css" %}>
    <script src="https://use.fontawesome.com/d86baeb400.js"></script>

    <link href={% static "css/landing-style.css" %} type="text/css" rel="stylesheet" media="screen,projection"/>


  </head>

  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs-WdIC-BxpjBSsOjF54EPaCsvfd9kuYo&libraries=places"></script> -->

  <!-- NAV BAR -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/consumer/quotation/">Quotes</a></li>
    <li><a href="/consumer/text_commands/">Text Commands</a></li>
    <li><a href="/consumer/beta/">Beta</a></li>
    <li class="divider"></li>
    <li><a href="/consumer/settings">Settings</a></li>
    <li><a class="" href="{% url 'account_logout' %}">Sign out</a></li>

  </ul>


  <nav class="transparent" role="navigation">
    <div class="nav-wrapper container ">


      <a href="/" class="brand-logo">Sentimini!</a>

      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons icon-white" style="color:black;">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% if user.is_superuser %}
        <li><a href="/admin_panel/">Admin</a></li>
        <li><a href="/power/home/">Power</a></li>


        {% endif %}
        <li><a href="/consumer/home/">Texts</a></li>

        <li><a href="/consumer/program/">Programs</a></li>
        <li><a href="/consumer/about/">About</a></li>


        <!-- Dropdown Trigger -->
        {% if user.is_authenticated %}
        <!-- <li><a href="/consumer/beta/">Beta</a></li> -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ user.get_username }}<i class="material-icons right">arrow_drop_down</i></a></li>
        {% else %}
        <li><a class="" href="{% url 'account_login' %}">Sign in</a></li>
        {% endif %}


      </ul>

      <ul class="side-nav" id="mobile-demo">

        <li><a href="/consumer/home/""><h3>Sentimini!</h3></a></li>
        <li><div class="row"></div></li>
        <li><a href="/consumer/home/">Texts</a></li>
        <li><a href="/consumer/program/">Programs</a></li>
        <li><a href="/consumer/about/">About</a></li>
        <li><a href="/consumer/text_commands/">Text Commands</a></li>
        {% if user.is_authenticated %}
        <li><a href="/consumer/beta/">Beta</a></li>
        <li><a href="/consumer/settings">Settings</a></li>
        <li><a class="" href="{% url 'account_logout' %}">Sign out</a></li>
        {% else %}
        <li><a class="" href="{% url 'account_login' %}">Sign in</a></li>
        {% endif %}

      </ul>
    </div>

  </nav>


  <body>

   <video autoplay loop muted poster="/static/video/{{video_name}}/{{video_name}}.jpg" id="bgvid">
    <source src="/static/video/{{video_name}}/{{video_name}}.mp4" type="video/mp4">
    </video>

    <div id = "NUX_everything">
      <div class="row">
        <div id = "NUX_selector"></div>
        <div id = "NUX_examples"></div>
        <div class="container">
        <div class="row">
        <div id = "NUX_signup"></div>
        <div id = "NUX_legend"></div>
        </div>
        </div>
      </div>
    </div>
    <div id = "NUX_footer"></div>    
  </body>
  </html>


<script type="text/javascript">
  function startClock(){
    $.ajax({
      type: 'POST',
      url: '/get_nux_home/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
    },
    success : function(data) {
      $('#NUX_selector').html(data['NUX_selector']);
      $('#NUX_examples').html(data['NUX_examples']);
      $('#NUX_footer').html(data['NUX_footer']);
    }
  })
  }
  
  if(window.addEventListener){
    window.addEventListener('load',startClock,false); //W3C
  }
  else{
    window.attachEvent('onload',startClock); //IE
  }
</script>

<script>
  $(document).ready(function(){
    $(".dropdown-button").dropdown()
    $(".button-collapse").sideNav();
    window.location.hash = '';
  })
</script>




  <script type="text/javascript">
    $( document ).ready(function() {

      scaleVideoContainer();

      initBannerVideoSize('.video-container .poster img');
      initBannerVideoSize('.video-container .filter');
      initBannerVideoSize('.video-container video');

      $(window).on('resize', function() {
        scaleVideoContainer();
        scaleBannerVideoSize('.video-container .poster img');
        scaleBannerVideoSize('.video-container .filter');
        scaleBannerVideoSize('.video-container video');
      });

    });

    function scaleVideoContainer() {

      var height = $(window).height() + 5;
      var unitHeight = parseInt(height) + 'px';
      $('.homepage-hero-module').css('height',unitHeight);

    }

    function initBannerVideoSize(element){

      $(element).each(function(){
        $(this).data('height', $(this).height());
        $(this).data('width', $(this).width());
      });

      scaleBannerVideoSize(element);

    }

    function scaleBannerVideoSize(element){

      var windowWidth = $(window).width(),
      windowHeight = $(window).height() + 5,
      videoWidth,
      videoHeight;

    // console.log(windowHeight);

    $(element).each(function(){
      var videoAspectRatio = $(this).data('height')/$(this).data('width');

      $(this).width(windowWidth);

      if(windowWidth < 1000){
        videoHeight = windowHeight;
        videoWidth = videoHeight / videoAspectRatio;
        $(this).css({'margin-top' : 0, 'margin-left' : -(videoWidth - windowWidth) / 2 + 'px'});

        $(this).width(videoWidth).height(videoHeight);
      }

      $('.homepage-hero-module .video-container video').addClass('fadeIn animated');

    });
  }
</script>

<!-- OLD BELOW -->


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85360122-1', 'auto');
  ga('send', 'pageview');

</script>