{% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% crispy form %}



{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"></script>

<script>
	$(document).ready(function() {
		$('#blog_archive').DataTable({
			"columns": [
			{ "width": "50%" },
			{ "width": "25%" },
			{ "width": "25%" },
			]

		});
	} );
</script>


<body>



	<div class="container">
		<div id="navbar" class="nav nav-justified">
			<ul class="nav navbar-nav">
				<li><a href="#overview">Why</a></li>
				<li><a href="#uses">How</a></li>
				<li><a href="#uses">Request Data</a></li>
			</ul>
		</div>
	</div>

	



	<div class="container">
		<hr>
		<div class="row" id="overview">
			<div class="col-md-2">
				<h1>Overview</h1>
			</div>
			<div class="col-md-10">
				By default, you are signed up to participate in the Open Data Project, which has three goals:	
				<li>Improving user experience</li>
				<li>Ensuring validity of method (can one actually measure happiness or pain in this way?)</li>
				<li>Understanding human experience</li>
				</br>
				Is this feasible?  How many people and datapoints are needed to sensibly test a hypothesis or draw meaningful conclusions from this data?
				</br></br>
				To answer this, one would need to do a power analysis.  There are two main steps to any power analysis:
				<li>Stating assumptions about the questions (what type of data?  What is the mean or variance of the expected data?  What are the drop out rates?  What are the statistical tests to be run?)</li>
				<li>Running calculations to determine how many observations are needed.</li>
				</br>
				There are two main ways of running these calculations.
				<li>There are specific equations for statistical tests to calculate the number of observations needed to achieve a certain probability of observing the expected finding.</li>
				<li>Running simulations of conducting the analysis using randomized data.</li>
				</br>
				Running simulations are prefered for a number of reasons:
				<li>They establish technical feasibility.  To be able to run a simulation is to be able to run the analysis.</li>
				<li>My mind understands concrete simulations rather than results from equations.  In other words, I can just pretend as if I ran the analysis 100 or 1000 times and evaluate how many observations are needed to answer the questions given reasonable assumptions.</li>
				
			</div>     
		</div>
	</div>
	
	<div class="container">
		<hr>
		<div class="row" id="overview">
			<div class="col-md-2">
				<h1>How</h1>
			</div>
			<div class="col-md-10">
				Ultimately, there are three components to any analysis:
				<li>Data - Independant Variables and Dependant Variables</li>
				<li>What you do with the data - The statistical summaries and tests</li>
				<li>How you put them together</li>
				</br>

				<h3>Data</h3>
				In a quantitative analysis, there are only a few types of data:
				<li>Dimensional (for example, age, 0-10 scales, height, etc)</li>
				<li>Categorical (yes or no, gender, favorite color preference, etc)
				</br>
				A number of things in this world that we care about can be represented in both ways.  For example, gender, sleepiness, pain, happines, etc.  Quantitative data, especially about the human experience, will never fully capture reality.  However, data has to be stored and ideas represented in numbers.  How the ideas are represented will deteremine the statistical tests and summaries.
				</br></br>

				<h3>Statistical summaries and tests</h3>


				<h3>How you put them together</h3>

				<h3>A complete example</h3>
				Say I'm curious about age and happiness.
			</div>     
		</div>
	</div>
	<div class="container">
		<hr>
		<div class="row" id="overview">
			<div class="col-md-2">
				<h1>Form and Graph</h1>
			</div>
			<div class="col-md-10">
				Form
				</br></br>
				Graph

				<div class="col-md-5">
				<h3>Measure Form - probably will have to be a form set</h3>
				<form method='POST' action='' class="form-horizontal">
					{% csrf_token %} {% crispy measure_form %}
				</form>
			</div>
			</div>     
		</div>
	</div>
</div>
</div>






<!-- /container -->




</body>

</html>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85360122-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}