{% extends "SS_base.html" %}
{% load static %}
{% block content %}

<!-- FIRST PIC -->
<head>
	<title>Power | Sentimini</title>
	<meta property="og:title"         content="Power | Sentimini | Statistical Power Analyses"/>
	<meta property="og:url"           content="www.sentimini.com/power/" />
	<meta property="og:type"          content="website" />
	<meta property="og:description"   content="Learn more about Sentimini.  Lightweight tools for mindfulness, behavior change, and learning about this world." />
	<meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />

	<script src={% static "js/plotly.js" %}></script>
<!-- <script src="plotly-latest.min.js"></script> -->
   <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->

</head>


{% if user.is_superuser %}
<div class="row">
	<!-- GRAPH AND OVERVIEW -->
	<div id="power_graph" class="col s12">
		<div class="card">
			<div class="card-content">
				<div id="plot_histo"></div>
			</div>
		</div>
	</div>

	<div id="power_overview_options" class="col s12">
		
	</div>

</div>

<!-- MEASURES OR GROUPS -->
<div class="row">

	<div id="power_measure_1" class="col s12 m5">
	</div>

	<div id="power_relationship" class="col s12 m2">
	<div class="card">
	<div class="card-content">
	relationship
	</div>
	</div>
	</div>

	<div id="power_measure_2" class="col s12 m5">
	</div>

</div>

<div class="row">

	<div id="power_output" class="col s12 m12">
		
	</div>


</div>





{% else %}
<div class="row">
	<div class="col s12 m8 offset-m2">
		<div class="card">
			<div class="card-content">
				<h4>Statistical Power Analyses</h4>
				Sentimini is intended to be used to allow people to quantitatively explore their experience and worlds.  While just generating numbers is interesting and informative, it helps to be able to understand if statistically patterns can even be observed given certain assumptions.
				<div class="row"></div>
				As a result power analyses are being developed to allow:
				<li>Individuals</li>
				<li>Group comparisions</li>
				<li>Others</li>
			</div>
		</div>
	</div>
</div>

{% endif %}

<!-- JS BELOW HERE -->
<!-- GET THE TEXT BOX -->
<script type="text/javascript">
  function startClock(){
    console.log("STARTING")
    $.ajax({
      type: 'POST',
      url: '/power/get_overview_options/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',},
      success : function(data) {
        $('#power_overview_options').html(data['power_overview_options']);
      }
    })

    console.log("MEASURE")

    $.ajax({
      type: 'POST',
      url: '/power/get_measure/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'measure_number': '1',},
      success : function(data) {
        $('#power_measure_1').html(data['measure_option']);
      }
    })

    $.ajax({
      type: 'POST',
      url: '/power/get_measure/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'measure_number': '2',},
      success : function(data) {
        $('#power_measure_2').html(data['measure_option']);
      }
    })

    $.ajax({
      type: 'POST',
      url: '/power/get_output/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',},
      success : function(data) {
        $('#power_output').html(data['power_output']);
      }
    })

    
  }
  if(window.addEventListener){
    window.addEventListener('load',startClock,false); //W3C
  }
  else{
    window.attachEvent('onload',startClock); //IE
  }
</script>

<!-- THIS IS FOR THE RANDOM NUMBERS -->
<script type="text/javascript">
	// returns a gaussian random function with the given mean and stdev.
function gaussian(mean, stdev) {
    var y2;
    var use_last = false;
    return function() {
        var y1;
        if(use_last) {
           y1 = y2;
           use_last = false;
        }
        else {
            var x1, x2, w;
            do {
                 x1 = 2.0 * Math.random() - 1.0;
                 x2 = 2.0 * Math.random() - 1.0;
                 w  = x1 * x1 + x2 * x2;               
            } while( w >= 1.0);
            w = Math.sqrt((-2.0 * Math.log(w))/w);
            y1 = x1 * w;
            y2 = x2 * w;
            use_last = true;
       }

       var retval = mean + stdev * y1;
       if(retval > 0) 
           return retval;
       return -retval;
   }
}
</script>




<script type="text/javascript">
function update_histo(measure1,measure2){
	var x1 = [];
	var x2 = [];
	for(i=0; i<2000; i++) {
	    x1[i]=measure1();
	    x2[i]=measure2();
	}
		
		
	var trace1 = {
	  x: x1,
	  type: "histogram",
	  opacity: 0.4,
	  marker: {
	     color: '#d32f2f',
	  },
	};
	var trace2 = {
	  x: x2,
	  type: "histogram",
	  opacity: 0.4,
	  marker: {
	     color: '#1976d2',
	  },
	};

	var data = [trace1, trace2];
	var layout = {barmode: "overlay"};
	Plotly.newPlot("plot_histo", data, layout);

}
	
</script>


<script type="text/javascript">

// make a standard gaussian variable.     
var measure1 = gaussian(100, 15);
var measure2 = gaussian(100, 15);

update_histo(measure1,measure2)

// make a bunch of standard variates

</script>



{% endblock %}
