

<ul class="collapsible" data-collapsible="accordion">
	<li>

		<div class="collapsible-header"><i class="material-icons">filter_drama</i>Individual Options</div>
		<div class="collapsible-body">
			<form action="#">
				<p>
					<input name="ind_overview" type="radio" id="ind_correlation" />
					<label for="ind_correlation">Correlation</label>
				
					<input name="ind_overview" type="radio" id="ind_ttest" />
					<label for="ind_ttest">T-test</label>
				
					<input name="ind_overview" type="radio" id="ind_anova"  />
					<label for="ind_anova">ANOVA</label>
				</p>
			</form>		
		</div>	
	</li>
</ul>










<script type="text/javascript">
	$(document).ready(function(){
		$('.collapsible').collapsible();
	});
</script>

