<div class="card">
	<div class="card-content">
	<h5>Individual</h5>
	<form action="#">
				<p>
					<input name="ind_overview" type="radio" id="ind_correlation" />
					<label for="ind_correlation">Correlation</label>
				</p>
				<p>
					<input name="ind_overview" type="radio" id="ind_ttest" />
					<label for="ind_ttest">T-test</label>
				</p>
				<p>
					<input name="ind_overview" type="radio" id="ind_anova"  />
					<label for="ind_anova">ANOVA</label>
				</p>
			</form>			



		<!-- <ul class="tabs">
			<li class="tab col s6"><a class="active" href="#individual_options">Personal</a></li>
			<li class="tab col s6"><a href="#group_options">Group</a></li>
		</ul>

		
		<div id="individual_options" class="col s12">
			<form action="#">
				<p>
					<input name="ind_overview" type="radio" id="ind_correlation" />
					<label for="ind_correlation">Correlation</label>
				</p>
				<p>
					<input name="ind_overview" type="radio" id="ind_ttest" />
					<label for="ind_ttest">T-test</label>
				</p>
				<p>
					<input name="ind_overview" type="radio" id="ind_anova"  />
					<label for="ind_anova">ANOVA</label>
				</p>
			</form>			
		</div>



		<div id="group_options" class="col s12">
		<form action="#">
				<p>
					<input name="group_overview" type="radio" id="group_correlation" />
					<label for="group_correlation">Correlation</label>
				</p>
				<p>
					<input name="group_overview" type="radio" id="group_ttest" />
					<label for="group_ttest">T-test</label>
				</p>
				<p>
					<input name="group_overview" type="radio" id="group_anova"  />
					<label for="group_anova">ANOVA</label>
				</p>
			</form>
		</div> -->
		<div class="row"></div>
	</div>
</div>









<script type="text/javascript">
	$(document).ready(function(){
		$('ul.tabs').tabs();
	});
</script>