<div class="center-align">
</br>
<div  id = "table_{{text.id}}" class = "btn-floating grey tooltipped" data-position="top" data-delay="50" data-tooltip="New Text"><i class="fa fa-commenting-o" aria-hidden="true"></i></div>
	<div  id = "table_{{text.id}}" class = "btn-floating grey tooltipped" data-position="top" data-delay="50" data-tooltip="New Program"><i class="fa fa-comments-o" aria-hidden="true"></i></div>
	<div  id = "table_{{text.id}}" class = "btn-floating grey tooltipped" data-position="top" data-delay="50" data-tooltip="New Person"><i class="fa fa-user" aria-hidden="true"></i></div>
	<div  id = "table_{{text.id}}" class = "btn-floating grey tooltipped" data-position="top" data-delay="50" data-tooltip="New Group"><i class="fa fa-users" aria-hidden="true"></i></div>
</div>
</br>