{% extends "SS_base.html" %}
{% load static %}
{% load staticfiles %}


{% block header_extra %}
<head>
 <title>Home | Sentimini</title>
 <meta property="og:title"         content="Home | Sentimini | Create and edit texts"/>
 <meta property="og:url"           content="www.sentimini.com/consumer/home/" />
 <meta property="og:type"          content="website" />
 <meta property="og:description"   content="Create and edit texts.  Lightweight tools for mindfulness, behavior change, and learning about this world." />
 <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
</head>

{% endblock %}

{% block content %}
<!-- QUICK SUGGESTIONS-->
<div class="row">
<div class="col s12 m3">
<div id="people_and_group_side"></div>
</div>

  <div class="col s12 m9">
  <div class="row"></div>
  
    <div id="add_person"></div>
    <div id="group_list"></div>
    <div id="person_list"></div>
  </div>
</div>




<script type="text/javascript">
   $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>

<script type="text/javascript">
  function startClock(){
    console.log("STARTING")
     $.ajax({
      type: 'POST',
      url: '/professional/get_add_person/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      },
      success : function(data) {
        $('#add_person').html(data['add_person']);
        
      }
  })
     
    $.ajax({
      type: 'POST',
      url: '/professional/get_people_and_group_side/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      },
      success : function(data) {
        $('#people_and_group_side').html(data['people_and_group_side']);
        
      }
  })

    $.ajax({
      type: 'POST',
      url: '/professional/get_pro_feed/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      },
      success : function(data) {
        $('#group_list').html(data['group_list']);
        $('#person_list').html(data['person_list']);
        
      }
  })

  }
  if(window.addEventListener){
    window.addEventListener('load',startClock,false); //W3C
  }
  else{
    window.attachEvent('onload',startClock); //IE
  }
</script>







<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85360122-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}

