{% load static %}
{% load staticfiles %}
<script src={% static "js/materialize.min.js" %}></script>
<link rel="stylesheet" href={% static "css/materialize.css" %}>

<ul class="collapsible" data-collapsible="accordion">
	<li>
		<div class="collapsible-header active"><i class="material-icons">filter_drama</i>Basic View</div>
		<div class="collapsible-body">

			<form action="#">
				<input class="basic_view_radio" name="basic_view" type="radio" id="person_view" checked />
				<label for="person_view">People</label>
				<input class="basic_view_radio" name="basic_view" type="radio" id="group_view"/>
				<label for="group_view">Groups</label>
				<input class="basic_view_radio" name="basic_view" type="radio" id="text_view" />
				<label for="text_view">Texts</label>
				<input class="basic_view_radio" name="basic_view" type="radio" id="program_view" />
				<label for="program_view">Programs</label>

			</form>

		</div>

	</li>
</ul>



<ul class="collapsible" data-collapsible="accordion">
	<li>
		<div class="collapsible-header"><i class="material-icons">filter_drama</i>People</div>
		<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
	</li>
	<li>
		<div class="collapsible-header"><i class="material-icons">place</i>Texts/Programs</div>
		<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
	</li>
	<li>
		<div class="collapsible-header"><i class="material-icons">whatshot</i>Date</div>
		<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
	</li>
</ul>

<script type="text/javascript">
	$('.basic_view_radio').change(function() {
		console.log("GETTING PRO FEED")
		$.ajax({
			type: 'POST',
			url: '/professional/get_pro_feed/',
			data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
			'basic_view_change': 'basic_view_change',
			'basic_view': $(this).attr('id'),
		},
		success : function(data) {
			$('#pro_feed').html(data['pro_feed']);

		}
	})

	})


</script>
