{% extends "SS_base.html" %}
{% load static %}
{% load staticfiles %}


{% block header_extra %}
<head>
	<title>Home | Sentimini</title>
	<meta property="og:title"         content="Home | Sentimini | Create and edit texts"/>
	<meta property="og:url"           content="www.sentimini.com/consumer/home/" />
	<meta property="og:type"          content="website" />
	<meta property="og:description"   content="Create and edit texts.  Lightweight tools for mindfulness, behavior change, and learning about this world." />
	<meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
</head>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col s12 m3">
		<div id="quick_actions"></div>
		<div id="pro_filters"></div>
		<a class="waves-effect waves-light btn" href="/professional/home/" style=" width: 100%;">Pro Home</a> 
	</div>

	<div class="col s12 m9">
		<div class="row"></div>
		<div class="card">
			<div class="card-content">
				<span style="font-size: 150%;">{{working_program.collection_name}}</span>
				<p>
				XX users.  XX possible texts.  XX sent texts.  XX responses.  XX% response rate.  XX RT.
				</p>
			</div>
		</div>	





		<div class="card">
			<div class="card-content">
				Data Vis!
			</div>
		</div>

		<div id="text_list"></div>

		<div class="row"></div>




	</div>
</div>

<script type="text/javascript">
	function startClock(){
		$.ajax({
      type: 'POST',
      url: '/professional/get_pro_filters/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
	      'viewer': "Program",
		'id': '{{id}}',
      },
      success : function(data) {
        $('#pro_filters').html(data['pro_filters']);
        
      }
  })

		$.ajax({
			type: 'POST',
			url: '/professional/get_pro_feed/',
			data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
			'viewer': "Program",
			'id': '{{id}}',
		},
		success : function(data) {
			$('#text_list').html(data['text_list']);
		}
	})

	}
	if(window.addEventListener){
    window.addEventListener('load',startClock,false); //W3C
}
else{
    window.attachEvent('onload',startClock); //IE
}
</script>


<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-85360122-1', 'auto');
	ga('send', 'pageview');

</script>
{% endblock %}