{% load static %}
{% load staticfiles %}
<script src={% static "js/materialize.min.js" %}></script>
<link rel="stylesheet" href={% static "css/materialize.css" %}>

<ul class="collapsible" data-collapsible="accordion">
	<li>
		<div class="collapsible-header active"><i class="material-icons">filter_drama</i>Basic View</div>
		<div class="collapsible-body">

			<input name = "basic_view_all" type="checkbox" id="basic_view_all" checked="checked"/>
			<label for="basic_view_all">Show All</label>
			<input name = "view_people" type="checkbox" id="view_people"/>
			<label for="view_people">People</label>
			<input name = "view_groups" type="checkbox" id="view_groups"/>
			<label for="view_groups">Groups</label>
			<input name = "view_texts" type="checkbox" id="view_texts"/>
			<label for="view_texts">Texts</label>
			<input name = "view_programs" type="checkbox" id="view_programs"/>
			<label for="view_programs">Programs</label>

		</div>

	</li>
</ul>



<ul class="collapsible" data-collapsible="accordion">
	<li>
		<div class="collapsible-header"><i class="material-icons">filter_drama</i>People</div>
		<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
	</li>
	<li>
		<div class="collapsible-header"><i class="material-icons">place</i>Texts/Programs</div>
		<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
	</li>
	<li>
		<div class="collapsible-header"><i class="material-icons">whatshot</i>Date</div>
		<div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
	</li>
</ul>


