
<div class="card">
	<div class="card-content">
		<b>People</b>
		<ul class="list ">
			{% for person in working_persons %}
			<li class="collection-item">
				<hr>
				<div class="row">
					<div class="col s12 m8">
						<a class="sort_text" href="/professional/person/{{person.id}}/" style="font-size:150%;">{{person.display_name}}</a> 
						<p>Total texts: {{person.number_texts}}</p>
						<p>
							{{person.response_rate}}% response Rate ({{person.number_texts_replies}} replies / {{person.number_texts_sent}} sent)
						</p>
						
						<!-- <span style="font-size:100%;">{{person.phone_input}}</span> -->
						<div class="row"></div>
						{% for group in person.group.all %}
						
						<span class="blue lighten-2 white-text" style="font-size:100%;">{{group.group}}</span>
						
						{% endfor %}

						{% for collection in person.collection.all %}
						
						<span class="red lighten-2 white-text" style="font-size:100%;">{{collection.collection_name}}</span>
						
						{% endfor %}
					</div>
					<div class="col s12 m4">
						<div class="row">
							<div  id = "table_{{text.id}}" class = "btn-floating grey tooltipped" data-position="top" data-delay="50" data-tooltip="Pause">
								<i class="material-icons">pause</i>
							</div>
							<div  id = "table_{{text.id}}" class = "btn-floating grey tooltipped" data-position="top" data-delay="50" data-tooltip="Assign Text">
								<i class="fa fa-commenting-o" aria-hidden="true"></i>
							</div>

							<div  id = "table_{{text.id}}" class = "btn-floating grey tooltipped" data-position="top" data-delay="50" data-tooltip="Assign Program">
								<i class="fa fa-comments-o" aria-hidden="true"></i>
							</div>
							
							<div  id = "table_{{text.id}}" class = "btn-floating grey tooltipped" data-position="top" data-delay="50" data-tooltip="Assign to group">
								<i class="fa fa-users" aria-hidden="true"></i>
							</div>
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

