{% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% crispy form %}



{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"></script>

<script>
	$(document).ready(function() {
		$('#blog_archive').DataTable({
			"columns": [
			{ "width": "50%" },
			{ "width": "25%" },
			{ "width": "25%" },
			]

		});
	} );
</script>


<body>
<div class="container">
	<div class="row" id="overview">
		<div class="col-md-2">
			<h1>Help</h1>

		</div>
		<div class="col-md-10">
			 {% for wh in working_help %}
			 <h1>{{wh.minor_cat|safe}}</h1>
			 <b>{{wh.help_heading|safe}}</b> - {{wh.help_content|safe}}
			  {% endfor %}
			  </br>
			  </br>
		</div>     
		</div>
	</div>
</div>


</body>

</html>
{% endblock %}