{% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% crispy form %}


<!--DOCTYPE html -->

<html>

<body>
{% block content %}

<div class="container">
	<div id="navbar" class="nav nav-justified">
		<ul class="nav navbar-nav">

			<li><a href="#free">Contact</a></li>
			<li><a href="#paid">Prompt</a></li>
			<li><a href="#usergen">User-generated</a></li>

		</ul>
	</div>
</div>

 {% if messages %} {% for message in messages %}
<div{% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
<a class="close" data-dismiss="alert" href="#">&times;</a> {{ message }}
</div>
{% endfor %} {% endif %}



<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1 class="text-center"> What happens next?</h1>
		</br>
		 <div class="row text-center">
		<div class="col-sm-4 col-xs-6">
          <h2>Edit Settings</h2>
          <p>Provide or change your basic contact information</p>
          <p><a class="btn btn-primary btn-lg" href="#free" role="button" >Begin editing settings &raquo;</a></p>
        </div>
        <div class="col-sm-4 col-xs-6">
          <h2>Get Pro</h2>
          <p>Control how many prompts you recieve or add your own.</p>
          <p><a class="btn btn-primary btn-lg" href="#pad" role="button" >Get Pro &raquo;</a></p>
        </div>
        <div class="col-sm-4 col-xs-6">
          <h2>Pause or change anytime</h2>
          <p>You can pause the prompts at anytime.  Use the links to the top right or else just text back, "pause" or "pause" + the duration of time to pause.</p>
        </div>
        </div>
		
	</div>
	
</div>




<div class="container">
	<!-- Example row of columns -->
	<div class="row" id="free">
		<div class="col-md-3">
			<h1>Contact Settings</h1>
			<h5>Free</h5>
			<p>These are so that we can contact you, but also not wake you up.</p>
		</div>

		<div class="col-md-9">
		</br>
		<form method='POST' action='' class="form-horizontal">
			{% csrf_token %} {{form_free|crispy}}
			<input type="submit" name="submit_unpaid" value="Submit Free" class="btn btn-primary btn-lg btn-block">
		</form>
	</div>
</div>
</br>
</br>
<hr>
<div class="row" id="paid">
	<div class="col-md-3">
		<h1>Prompt Settings</h1>
		<h5>Paid</h5>
		<p>For only .99 cents a month, you can change your experience.  Add new prompts.  Focus on only one emotion.  Get more prompts per day!</p>
	</div>

	<div class="col-md-9">
	</br>
	<form method='POST' action='' class="form-horizontal">
		{% csrf_token %} {{form_paid|crispy}}
		<input type="submit" name="submit_paid" value="Submit Paid" class="btn btn-primary btn-lg btn-block">
	</form>
	</div>
</div>
</br>
</br>
<hr>
<div class="row" id="usergen">
	<div class="col-md-3">
		<h1>User generated</h1>
		<h5>Paid</h5>
		<p>User generated</p>
	</div>

	<div class="col-md-9">
	</br>
	<form method='POST' action='' class="form-horizontal">
			{% csrf_token %} {{form_prompt_percent|crispy}}
			<input type="submit" name="submit_prompt_percent" value="Submit Prompt Percent" class="btn btn-primary btn-lg btn-block">
	</form>
	<hr>
	<form method='POST' action='' class="form-horizontal">
		{% csrf_token %} {{formset|crispy}}
		<input type="submit" name="submit_formset" value="Submit User Gen" class="btn btn-primary btn-lg btn-block">
	</form>
</div>
</div>
</br>
</br>
</br>
</br>


<footer>
<div id="services" class="pad-section">
    <div class="container">
      <h2 class="text-center">The Process</h2> <hr />
      <div class="row text-center">
        <div class="col-sm-3 col-xs-6">
          <i class="glyphicon glyphicon-phone-alt"> </i>
          <h4>Receive a text</h4>
          <p>For example: </br>How much happiness is in your present moment (0-10)?</p>
        </div>
        <div class="col-sm-3 col-xs-6">
          <i class="glyphicon glyphicon-leaf"> </i>
          <h4>Breathe</h4>
          <p>Take a second.  You are alive in this wonderful world, feeling a multitude of different emotions.</p>
        </div>
        <div class="col-sm-3 col-xs-6">
          <i class="glyphicon glyphicon-search"> </i>
          <h4>Look for the emotion</h4>
          <p>You could be angry.  You could be happy.  You could be both.  But look for the emotion in the experience.  Is it there?  What does it feel like?</p>
        </div>
        <div class="col-sm-3 col-xs-6">
          <i class="glyphicon glyphicon-pencil"> </i>
          <h4>Rate from 0-10</h4>
          <p>Don't worry.  A number will never capture your experience, so you can't do this wrong.  </p>
        </div>
      </div>
      <hr>
    </div>
  </div>
	<p>&copy; 2016 Emojinsei</p>
</footer>
</div>
<!-- /container -->




</body>

</html>
{% endblock %}