{% extends "base.html" %}
{% load static %}
{% block content %}


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

<!-- <script src="http://listjs.com/assets/javascripts/list.min.js"></script> -->
<script src={% static "js/list.min.js" %}></script>
<script src={% static "js/list.pagination.min.js" %}></script>
<link rel="stylesheet" href={% static "css/materialize.css" %}>
<link rel="stylesheet" href={% static "css/sentimini-css.css" %}>
<script src={% static "js/materialize.min.js" %}></script>
<script src={% static "js/select2.full.min.js" %}></script>
<link rel="stylesheet" href={% static "css/materialize-select2.css" %}>

<main>
  <nav>
    <div class="nav-wrapper z-depth-1">
      <div class="row">
        <div class="col l12 s12">
          <div class="col s8">
        <div class="row">
          <div class="col s12">
          <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            <a href="/app_home/" class="breadcrumb">Home</a>
            <a href="/ent/collection/" class="breadcrumb">Settings</a>
          </div>
        </div>
      </div>
          
        </div>
      </div>
    </div>
  </nav>


  <div class="row">
    <div class="input-field col s12 m10 l8 offset-m1 offset-l2">
      <div class="card">
        <div class="card-content small_spaces">
          <div class="row">
            <div class="col s12">
              <span class="card-title">Contact Settings</span>

              <!-- Phone -->
              <div class="input-field col s12">
                <i class="material-icons prefix tooltipped" aria-hidden="true" data-position="top" data-delay="50" data-tooltip="10 digit phone number.">phone</i>
                <input id="phone_input" type="tel" class="validate">
                <label for="phone_input">Telephone</label>
              </div>

              <!-- Carrier -->
              <div class="input-field col s12">
                <i class="material-icons prefix tooltipped" aria-hidden="true" data-position="top" data-delay="50" data-tooltip="This is used to find your text address">settings_input_antenna</i>
                <div class="row">
                 <select id="carrier_search">
                   {% for carrier in working_carrier %}
                   <option value="{{carrier.carrier}}">{{carrier.carrier}}</option>
                   {% endfor %}
                 </select>
               </div>
             </div>

             <!-- TIMEZONE -->
             <div class="input-field col s12">
              <!-- <i class="material-icons prefix tooltipped" data-position="top" data-delay="50" data-tooltip="These are tags for categorization">class</i> -->
              <i class="material-icons prefix tooltipped" aria-hidden="true" data-position="top" data-delay="50" data-tooltip="Timezone">schedule</i>
              <div class="row">
               <select id="tz_search">
                 <option value="Eastern Standard Time">Eastern Standard Time</option>
                 <option value="Central Standard Time">Central Standard Time</option>
                 <option value="Mountain Standard Time">Mountain Standard Time</option>
                 <option value="Pacific Standard Time">Pacific Standard Time</option>
                 {% for tz in working_tz %}
                 <option value="{{tz}}">{{tz}}</option>
                 {% endfor %}
                <!-- {% for topic in topics %}
                <option value="topic_{{topic.id}}">{{topic.topic_name}}</option>
                {% endfor %} -->
              </select>
            </div>
          </div>

          <!-- METHOD -->
          <div class="input-field col s12 ">
            <!-- <i class="material-icons prefix tooltipped" data-position="top" data-delay="50" data-tooltip="Do you want to recive this text more than once?">repeat</i> -->
            <i class="material-icons prefix tooltipped" aria-hidden="true" data-position="top" data-delay="50" data-tooltip="Email or text">email</i>
            <div class="row">
              <div class="col s10 offset-s1">
                <p>
                  Method settings
                </p>
                <p>
                  <!-- CHECKBOX -->
                  <input  name="text_checkbox" type="checkbox" id="text_checkbox" value="" />
                  <label for="text_checkbox" class="">Send by SMS</label>
                </p>
                <p>
                  <!-- CHECKBOX -->
                  <input  name="email_checkbox" type="checkbox" id="email_checkbox" value="" />
                  <label for="email_checkbox" class="">Send by email</label>
                </p>

              </div>
            </div>
          </div>

          <!-- RESEARCH? -->
          <div class="input-field col s12 ">
            <!-- <i class="material-icons prefix tooltipped" data-position="top" data-delay="50" data-tooltip="Do you want to recive this text more than once?">repeat</i> -->
            <i class="material-icons prefix tooltipped" aria-hidden="true" data-position="top" data-delay="50" data-tooltip="Receive texts to improve sentimini">trending_up</i>
            <div class="row">
              <div class="col s10 offset-s1">
               <p>
                Research
              </p>
              <p>
                <!-- CHECKBOX -->
                <input  name="research_check" type="checkbox" id="research_check" value="" >
                <label for="research_check" class="">Improve Sentimini by receiving  ~3 additional texts a week</label>
              </p>

            </div>
          </div>
        </div>


        <!-- Account -->

        <div class="input-field col s12 ">
          <i class="material-icons prefix tooltipped" data-position="top" data-delay="50" data-tooltip="Pausing your account will just stop any texts.  Deleting your account is permanent.">settings</i>
          <!-- <i class=" prefix tooltipped fa fa-repeat" aria-hidden="true" data-position="top" data-delay="50" data-tooltip="Do you want to recive this text more than once?"></i> -->
          <div class="row">
            <div class="col s10 offset-s1">
             <p>
              Account settings
            </p>
            <p>
              <!-- CHECKBOX -->
              <input  name="pause_text_checkbox" type="checkbox" id="pause_text_checkbox" value="" />
              <label for="pause_text_checkbox" class="">Pause texts</label>
            </p>

            <p>
              <!-- CHECKBOX -->
              <input  name="text_checkbox" type="checkbox" id="text_checkbox" value="" />
              <label for="text_checkbox" class="">Delete account</label>
            </p> 


          </div>
        </div>               
      </div>
      </div>
      </div>


       <form>{% csrf_token %}
        <div class="card-action">
          <a id="save_settings_button" class="waves-effect waves-light btn"><!-- <i class="material-icons left">today</i> -->Save</a>
        </div>
      </form>


    </div>
  </div>




</div>

</main>



<!-- LOAD OLD VALUES IF PRESENT -->
{% if working_settings.phone_input %}
<script type="text/javascript">
  $('#phone_input').val("{{working_settings.phone_input}}")
</script>
{% endif %}




{% if working_settings.carrier %}
<script type="text/javascript">
console.log("INIT CARRIER" + "{{working_settings.carrier}}")
  $('#carrier_search').val("{{working_settings.carrier}}")
</script>
{% endif %}

{% if working_settings.timezone %}
<script type="text/javascript">
console.log("INIT TZ " + "{{working_settings.timezone}}")
  $('#tz_search').val("{{working_settings.timezone_search}}")
</script>
{% endif %}


{% if working_settings.send_email_check %}
<script type="text/javascript">
  $('#email_checkbox').prop('checked', true);
</script>
{% endif %}

{% if working_settings.send_text_check %}
<script type="text/javascript">
  $('#text_checkbox').prop('checked', true);
</script>
{% endif %}

{% if working_settings.research_check %}
<script type="text/javascript">
  $('#research_check').prop('checked', true);
</script>
{% endif %}

{% if working_settings.pause_text_checkbox %}
<script type="text/javascript">
  $('#pause_text_checkbox').prop('checked', true);
</script>
{% endif %}

<script>
  $("#carrier_search").select2({
    tokenSeparators: [',', ' '],
    placeholder: "Phone carrier",
  })

  $("#tz_search").select2({
    tokenSeparators: [',', ' '],
    placeholder: "Timezone",
  })
</script>

<!-- LOAD OLD VALUES IF PRESENT -->
<script>
var save_settings_data = function(){
   if ($("#carrier_search").val() !== null){
    var carrier_search = $('#carrier_search').val()
    console.log("CARRIER "+carrier_search)
  }

   if ($("#tz_search").val() !== null){
    var tz_search = $('#tz_search').val()
    console.log("TZ " + tz_search) 
  }


  // LOAD THE AJAX
  $.ajax({
    type: 'POST',
    url: '/save_settings/',
    data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
    'id': "{{working_settings.id}}",
    'phone_input': $('#phone_input').val(),
    'carrier_search': carrier_search,
    'tz_search': tz_search,
    'email_checkbox': $('#email_checkbox').is(':checked'),
    'text_checkbox': $('#text_checkbox').is(':checked'),
    'research_check': $('#research_check').is(':checked'),
    'pause_text_checkbox': $('#pause_text_checkbox').is(':checked'),

  },
  success : function(data) {
    console.log("WORKED")
  }
})
}
</script>

<script>
  $('#save_settings_button').click(function() {
    console.log("SAVE CLICKED")
    save_settings_data()  
  })

</script>

{% endblock %}