  {% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% crispy form %}


  <!--DOCTYPE html -->


  <html>
  <head>

  </head>

  <body>
    {% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="container">
   

  <!-- Text content -->
  <div class="row" id="texts">
    <div class="col-md-2">
      <h1>Edit Texts</h1>
      <p> Add them one by one <a href="{% url 'ent:add_texts' %}">here</a>.</p>
      <mark>See a simulated week <a href="{% url 'ent:simulate_week' %}">here</a></mark>.
    </div>

    <div class="col-md-10">
      <form method='POST' action='' class="">
        {% csrf_token %} {% crispy formset helper %}

      </form>
    </div>
  </div>

  <hr>
  <div class="row" id="timing">
    <div class="col-md-2">
      <h1>Timing</h1>
    </div>
    <div class="col-md-5">

     <form method='POST' action='' class="form-horizontal">
      {% csrf_token %} {% crispy form_sleep %}
      <!-- <input type="submit" name="submit_paid" value="Submit Paid Settings" class="btn btn-primary btn-lg btn-block"> -->
    </form>


  </div>
  <div class="col-md-5">
   <mark>The timing and content of the texts are randomized</mark>.
   </br></br>
   You will not receive the exact number of texts you specify.  Rather this is the ball park number of texts per week. 
   </br></br> 
   <mark>BETA status</mark> - total time asleep cannot be more than 16 hours.

 </div>
</div>


<hr>
<div class="row" id="contact">
  <div class="col-md-2">
    <h1>Contact</h1>
  </div>

  <div class="col-md-5">
    <form method='POST' action='' class="form-horizontal">
      {% csrf_token %} {% crispy form_free %}
    </form>
  </div>

  <div class="col-md-5">
    Don't forget that <mark>you can stop the texts</mark> for a couple days.  Just click the links at the top of the page or text 'pause'.  You can even text, 'pause for 1 day' or 'pause for two weeks'.

  </div>
</div>
<hr>

<!-- Research permissions-->
<div class="row" id="research">
  <div class="col-md-2">
    <h1>Open Data</h1>
  </div>

  <div class="col-md-5">
 <form method='POST' action='' class="form-horizontal">
  {% csrf_token %} {% crispy form_prompt_percent %}
</form>

</div>
<div class="col-md-5">
  By default, you are signed up to participate in the Open Data Project.
  </br></br>
  There are three aims: 
  <li>Improving user experience</li>
  <li>Ensuring validity of method</li>
  <li>Understanding human experience</li>
</br>
Research questions, plans, data and results are shared <a href="{% url 'scaffold:open_data' %}">here</a>.
</br></br>
</div>
</div>

<!-- Contact Settings -->




<!-- end of container -->
</div> 




<!-- /container -->


</body>

</html>
{% endblock %}