{% load static %}
<script src="http://listjs.com/assets/javascripts/list.min.js"></script>
<script src={% static "js/list.min.js" %}></script>
<script src={% static "js/list.pagination.min.js" %}></script>
<script src={% static "js/materialize.min.js" %}></script>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"> -->
<link rel="stylesheet" href={% static "css/sentimini-css.css" %}>



<div id="side_tag_list">
  

    <!--DEFAULT SEARCH ONLY GIVES ONE RESULT  -->
    <!-- <input class="search" placeholder="Search tags or texts" /> -->

    Sort by:
    <div class="waves-effect waves-teal btn-flat chip sort" data-sort="tag_name">
      Tag
    </div>
    <div class="waves-effect waves-teal btn-flat chip sort" data-sort="num_texts">
      # texts
    </div>

  

  <ul class="list collapsible" data-collapsible="expandable">

    {% for key, value in tag_info %}
    <li>

      <div class="collapsible-header tag_name" >
      <!-- <i class="tiny material-icons">class</i> -->
      <i class=" center-align fa fa-tag" aria-hidden="true"></i>
        <span style="font-weight: bold; font-size: 130%">{{value.tag}}</span>
        (<span class="num_texts">{{value.num_texts}}</span>)
      </div>

      <div class="collapsible-body col s12 offset-s0">
        <div id="text_sort_{{key}}">
          <ul class="list collapsible" data-collapsible="expandable">
             <div class="waves-effect waves btn-flat chip sort" data-sort="burden">
            # per day
          </div>
          <div class="waves-effect waves btn-flat chip sort" data-sort="side-text-content">
            Text
          </div>
             <div class="waves-effect waves btn-flat chip sort" data-sort="active-sort">
            Active
          </div>
          <div class="row"></div>
          {% for text in value.texts %}
    <li>
      <div class="collapsible-header" style="line-height: normal;"><i class="medium material-icons">message</i>
        <span class="burden" style="font-weight: bold; font-size: 130%">{{text.burden|floatformat}}</span> per day
        <hr>
        <span class="side-text-content" >{{text.text}}</span>
      </div> 

      <div class="collapsible-body col s12">
        <div class="row">
            <div class="col s3">
              <a href="/ent/add_new_text/{{text.id}}">Edit</a>
            </div>
             <div class="col s3">
              <a href="/feed_specific/{{text.id}}">View</a>
              </div>
             <div class="col s6">
                 {% if text.active == True %}
                   <div value="{{text.id}}" id="side_{{text.id}}" class="waves-effect btn pause-text-btn">Pause</div>
                   <span class="active-sort" hidden>0</span>
                 {% else %}
                 <div style="background-color:#e57373;" value="{{text.id}}" id="side_{{text.id}}"  class="waves-effect btn pause-text-btn">Start</div>
                 <span class="active-sort" hidden>1</span>
                 {% endif %}
             </div>
       </div>

       <span>{{text.timing.repeat_summary}}</span>
     </div>
     <div class="row"></div>
   </li>
   {% endfor %}
       </ul>

     </div>

   </div>
 </li>
 {% endfor %}
</ul>
<div class="col s10 ">
  <ul class="pagination"></ul>
</div>

<!-- DYNAMIC JS SCRIPT -->
{% for key, value in tag_info %}
<script type="text/javascript">
 console.log("{{key}}")
 var new_list_{{key}} = new List("text_sort_{{key}}", {
  valueNames: ['burden_{{key}}', 'num_texts_{{key}}'],
    // page: 5,
    // plugins: [ ListPagination({}) ] 
  });
</script>
{% endfor %}




<script type="text/javascript">
$('.pause-text-btn').click(function() {
  var text_id_button = $(this).attr('id')
  var text_id_button_id = $(this).attr('id').split("_")[1]
  $.ajax({
      type: 'POST',
      url: '/pause_text/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'id': $(this).attr('id').split("_")[1],
    },
    success : function(data) {
      if ($('#'+text_id_button).text()=="Pause"){
        
       $('#side_'+text_id_button_id).text("Start")
       $('#feed_'+text_id_button_id).text("Start")
       $('#side_'+text_id_button_id).css('background-color', '#e57373');
       $('#feed_'+text_id_button_id).css('background-color', '#e57373');
       // $('#feed_'+text_id_button_id).css('background', 'red');
       // $('#feed_'+text_id_button_id).css('color', 'red');
      } else {
        $('#side_'+text_id_button_id).text("Pause")
        $('#feed_'+text_id_button_id).text("Pause")
        $('#side_'+text_id_button_id).css('background-color', '#2196f3');
        $('#feed_'+text_id_button_id).css('background-color', '#2196f3');
      }
      // console.log("SUCESS AJAX ~line 392")
      // $('#model_content_for_switch').html(data['model_content_for_switch']);
    }
})
})
</script>



<script type="text/javascript">
  var monkeyList = new List('side_tag_list', {
    valueNames: ['tag_name', 'num_texts'],
    page: 5,
    plugins: [ ListPagination({}) ] 
  });
</script>