{% load static %}

<script src="http://listjs.com/assets/javascripts/list.min.js"></script>
<script src={% static "js/list.min.js" %}></script>
<script src={% static "js/list.pagination.min.js" %}></script>
<!-- <script src={% static "js/materialize.min.js" %}></script> -->



<li>
  <a class="waves-effect waves-light btn" href="/ent/add_new_text" >Schedule a text</a>
</li>
<li>
  <a class="waves-effect waves-light btn" href="/feed/" >See the feed</a>
</li>   





<div class="row">
  <div class="col l12 s12">
    <p>
      <h5>Your Texts</h5>
      <!-- Switch -->
      <div class="switch">
        <label>
          Show only texts
          <input type="checkbox" id="side_switch">
          <span class="lever"></span>
          Show tags and texts
        </label>
      </div>
    </p>
</div>

<div id="side_content"></div>


<script type="text/javascript">
function startClock(){
  console.log("STARTING")
  $.ajax({
    type: 'POST',
    url: '/get_side/',
    data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
    'side_switch': $('#timing_switch').is(':checked')
    },
     success : function(data) {
             $('#SIDE').html(data['SIDE']);
         }

    })

}
if(window.addEventListener){
    window.addEventListener('load',startClock,false); //W3C
}
else{
    window.attachEvent('onload',startClock); //IE
}
</script>

