<div class="col s12" id="alt_{{counter}}">
alt_{{counter}}

	<div class="input-field col s12">
		<i class="fa fa-commenting-o prefix" aria-hidden="true"></i> 
		<textarea id="textarea_{{counter}}" class="alternate_texts materialize-textarea" data-length="160"></textarea>
		<label class = "active" for="textarea_{{counter}}">Alternative text</label>	
	</div>

	<div class="right-align">
		<div class = "waves-effect waves-red btn-flat chip remove-alt" name="remove_alt_{{counter}}" width=100% id="remove_alt_{{counter}}"><i name="remove_alt_{{counter}}" class="fa fa-times-circle" aria-hidden="true"></i></div>
	</div>
</div>



<script type="text/javascript">
	$(document).ready(function() {
		$('textarea#textarea_{{counter}}').characterCounter();
		$('#textarea_{{counter}}').trigger('autoresize');
		Materialize.updateTextFields();
	});
</script>



<script type="text/javascript">
	$('.remove-alt').click(function(){
		console.log("REMOVE ALT CLICKED")
		
		console.log($(this).attr('id'))
		
		$('#alt_'+$(this).attr('id').split("_")[2]).empty()
	})
</script>