{% extends "SS_base.html" %}
{% load static %}
{% block content %}

<!-- FIRST PIC -->
<head>
	<title>Beta | Sentimini</title>
	<meta property="og:title"         content="Beta | Sentimini | Provide Feedback"/>
	<meta property="og:url"           content="www.sentimini.com/consumer/beta/" />
	<meta property="og:type"          content="website" />
	<meta property="og:description"   content="Learn more about Sentimini.  Lightweight tools for mindfulness, behavior change, and learning about this world." />
	<meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />


</head>


<div class="row">
	<div class="col s12 m8 offset-m2">
		<div class="card">
			<div class="card-content">
				<h4>Sentimini is in beta</h4>
				Sentimini is intended to help you in your life.  Your feedback is truly needed for this to happen.  Please take a moment to offer your thoughts and experience.  You can always email at william@sentimini.com.
				<div class="row"></div>


				<div class="row">
					<form class="col s12">
						<div class="row">
							<div class="input-field col s12">
							<!-- <i class="fa fa-thumbs-o-up prefix" aria-hidden="true"></i> -->
							 <i class="material-icons prefix">input</i>
								<textarea id="beta_content" class="materialize-textarea" data-length="5000"></textarea>
								<label for="beta_content">Feedback</label>
							</div>
						</div>
					</form>
				</div>
				<div class="right-align">
					<div id="beta_feedback_submit" class="right-align waves-effect waves-light btn" >Submit</div> 
				</div>
				<div id="beta_message"></div>

			</div>
		</div>
	</div>
</div>







<script type="text/javascript">
	$('#beta_feedback_submit').click(function() {
    
    $.ajax({
      type: 'POST',
      url: '/consumer/submit_beta/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'beta_content': $('#beta_content').val(),
    },
    success : function(data) {
      // console.log("SUCESS AJAX ~line 392")
      $('#beta_message').html(data['message']);
      $('#beta_content').val('')
      $('#beta_content').trigger('autoresize');
		Materialize.updateTextFields();
    }
  })
  })



</script>


<script>
	$(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
    // $('#beta_content').characterCounter();

    $('textarea#beta_content').characterCounter();

    $('#beta_content').trigger('autoresize');
     Materialize.updateTextFields();
});
</script>

<script>
	$(document).ready(function(){
		$('.parallax').parallax();
		$(".button-collapse").sideNav();
	});
</script>


{% endblock %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85360122-1', 'auto');
  ga('send', 'pageview');

</script>