{% load i18n %}
{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  
  <script src={% static "js/list.min.js" %}></script>
  <script src={% static "js/list.pagination.min.js" %}></script>
  <link rel="stylesheet" href={% static "css/nouislider.css" %}>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  
  <link rel="stylesheet" href={% static "css/parallax-style.css" %}>

  <script src={% static "js/materialize.min.js" %}></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href={% static "css/materialize.css" %}>
  <link rel="stylesheet" href={% static "css/sentimini-css.css" %}>

  <!-- STARS -->
  <script src="https://use.fontawesome.com/9b758dc6c5.js"></script>
</head>


<ul id="dropdown1" class="dropdown-content">
        <li><a href="/consumer/text_commands/">Text Commands</a></li>
        <li><a href="/consumer/settings">Settings</a></li>
        <li><a class="" href="{% url 'account_logout' %}">Sign out</a></li>
        
</ul>
  <nav>
    <div class="nav-wrapper">
    <div class="container">
      <a href="/consumer/home/" class="brand-logo">Sentimini!</a>

      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons icon-white">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      {% if user.is_superuser %}
        <li><a href="/admin_panel/">Admin</a></li>
      
      
      {% endif %}

      <li><a href="/consumer/inspiration/">Inspirations</a></li>
        <li><a href="/consumer/about/">About</a></li>
        
        <!-- Dropdown Trigger -->
        {% if user.is_authenticated %}
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{ user.get_username }}<i class="material-icons right">arrow_drop_down</i></a></li>
      {% else %}
        <li><a class="" href="{% url 'account_login' %}">Sign in</a></li>
        {% endif %}
        
        
      </ul>

      <ul class="side-nav" id="mobile-demo">
      <div class="row">
      <i class=" center-align fa fa-globe fa-5x"></i>
        <li><a href="/consumer/home/" class="brand-logo">Sentimini!</a></li>
        </div>
        <li><a href="/consumer/inspiration/">Inspirations</a></li>
        <li><a href="/consumer/about/">About</a></li>
        <li><a href="/consumer/text_commands/">Text Commands</a></li>
        {% if user.is_authenticated %}
        <li><a href="/consumer/settings">Settings</a></li>
        <li><a class="" href="{% url 'account_logout' %}">Sign out</a></li>
        {% else %}
        <li><a class="" href="{% url 'account_login' %}">Sign in</a></li>
        {% endif %}
        
      </ul>
    </div>
    </div>
  </nav>


<body>
<div class="container">
{% block content %}
{% endblock %}
</div>
</body>
<!-- FOOTER -->
<footer class="page-footer blue darken-1">
  <div class="container">
    <div class="row">
      <div class="col l3 s12">
        <h5 class="white-text">Sentimini!</h5>
        <p class="grey-text text-lighten-4">In beta.  Free tools to schedule texts and view replies.</p>

      </div>
      <div class="col l3 s12">
<h5 class="white-text"><a href="/consumer/about/" class="white-text">About</a></h5>
<h5 class="white-text"><a href="/consumer/text_commands/" class="white-text">Text Commands</a></h5>

      </div>

      <div class="col l3 s12">
      <h5 class="white-text"><a href="/consumer/inspiration/" class="white-text">Inspirations</a></h5>
{% if user.is_authenticated %}
<h5 class="white-text"><a href="/consumer/settings/" class="white-text">Settings</a></h5>
{% endif %}        
        </div>

      

        <div class="col l3 s12">
          {% if user.is_authenticated %}
          <h5 class="white-text"><a href="{% url 'account_logout' %}" class="white-text">Sign out</a></h5>
          {% else %}
          <h5 class="white-text"><a href="{% url 'account_signup' %}" class="white-text">Sign up</a></h5>
          <h5 class="white-text"><a href="{% url 'account_login' %}" class="white-text">Sign in</a></h5>
          {% endif %}
          <!-- <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul> -->
        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Sentimini! (c) 2017
      </div>
    </div>
  </footer>
</html>



<script>
$(document).ready(function(){
$(".dropdown-button").dropdown()
$(".button-collapse").sideNav();
})
</script>
