{% extends "SS_base.html" %}
{% load static %}
{% load staticfiles %}
{% block content %}


<head>
 <title>Home | Sentimini</title>
 <meta property="og:title"         content="Home | Sentimini | Create and edit texts"/>
 <meta property="og:url"           content="www.sentimini.com/consumer/home/" />
 <meta property="og:type"          content="website" />
 <meta property="og:description"   content="Create and edit texts.  Lightweight tools for mindfulness, behavior change, and learning about this world." />
 <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
</head>




<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">


<!-- QUICK SUGGESTIONS-->
<div class="row">
  <div class="col s12 m3">
  <!-- <a  id="highlight_button" class="waves-effect waves-light btn block" style=" width: 100%;">Help</a>
  <span id="NUS_tracker" hidden>0</span>
  <span id="NUS_switch" hidden>0</span> -->
  
    <div class="hide-on-med-and-up">
      <div class="row"></div>
      <div class="chip waves-effect waves-teal btn-flat" id ="suggestion-display">Show Suggestions</div>
    </div>
    <div id = "quick_suggestions">

      <ul class="collection">

        <li class="collection-item" id = "suggestion_1"><div class = "center-align">
          <div class="row"></div>
          <div id="preloader_new_text" class="preloader-wrapper big active ">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div></li>
    <li class="collection-item" id = "suggestion_2"><div class = "center-align">
      <div class="row"></div>
      <div id="preloader_new_text" class="preloader-wrapper big active ">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div></li>
<li class="collection-item" id = "suggestion_3"><div class = "center-align">
  <div class="row"></div>
  <div id="preloader_new_text" class="preloader-wrapper big active ">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
    <div class="circle"></div>
  </div>
</div>
</div>
</div></li>

</li>

</ul>
<a href="/consumer/inspiration/">See more ways to use Sentimini</a>

</div>
</div>

<div class="col s12 m9">

 
  <div id = "text_input">
    <div class = "center-align">
      <div class="row"></div>
      <div id="preloader_new_text" class="preloader-wrapper big active ">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
</div>
{% if user.is_authenticated %}
<div id = "text_datatable">
  <div class = "center-align">
    <div class="row"></div>
    <div id="preloader_new_text" class="preloader-wrapper big active ">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>
</div>
</div>
{% else %}
<div class="row">
  <div class="col s12 m12">
    <div class="card">
      <div class="card-content">
        Sentimini is a light weight tool for mindfulness, behavior change, and research.  You can easily schedule text messages and collect any replies you make.  It is currently in beta and free to sign up.  
      </div>
    </div>
  </div>
</div>

{% endif %}
</div>

</div>

<!-- Element Showed -->
  



  <!-- Tap Target Structure -->
<!--   <div id="new_text_highlight_trigger" class="tap-target" data-activates="new_text_highlight">
    <div class="tap-target-content">
      <h5>New Text</h5>
      <p>You can add new texts here!  Anything you want!</p>
    </div>
  </div> -->



  <div id="add_suggestion_hightlight_1_trigger" class="tap-target" data-activates="add_suggestion_hightlight_1">
    <div class="tap-target-content">
      <h5>Welcome! - Add a text</h5>
      <p>
      Hit <i class="fa fa-plus fa-2x" aria-hidden="true"></i> to add a text.  Use <i class="small material-icons">loop</i> for different suggestions.  You can always add your own text or edit any timings.  Use <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i> buttons for more help.
      <div class="row"></div>
      Tap the <i class="fa fa-plus fa-2x" aria-hidden="true"></i> to continue.

      </p>
      
    </div>
  </div>

  <div id="scheduled_text_hightlight_trigger" class="tap-target" data-activates="scheduled_text_highlight">
    <div id="scheduled_text_hightlight_content" class="tap-target-content center-align">
      <h5>Scheduled text</h5>
      This table will show you all of your scheduled texts.  You can pause, delete, or edit each one.
      <div class="row"></div>
      Click or tap anywhere to continue.
      </div>
    </div>
  </div>

  <div id="new_text_highlight_trigger" class="tap-target" data-activates="new_text_highlight">
    <div class="tap-target-content center-align">
      <h5>New text</h5>
      You can always add your own text here.
      <div class="row"></div>
      Click or tap anywhere to continue.
      </div>
    </div>
  </div>

   <div id="timing_highlight_trigger" class="tap-target" data-activates="text_input_to_options">
    <div class="tap-target-content center-align">
      <h5>Timing</h5>
      You can edit the timing of the text.
      <div class="row"></div>
      Click or tap anywhere to continue.
      </div>
    </div>
  </div>

  <div id="help_highlight_trigger" class="tap-target" data-activates="help_highlight">
    <div class="tap-target-content center-align">
      <h5>Help</h5>
      If you are ever lost or stuck, hit one of these buttons.  It will provide all the necessary information.
      <div class="row"></div>
      Click or tap anywhere to continue.
      </div>
    </div>
  </div>





<script type="text/javascript">
//get dimensions 
var height = $(window).height();
var width = $(window).width();
//refresh on resize
$(window).resize(function() {


  if ($(window).width() > 600) {
    $('#quick_suggestions').show()
    // $('#suggestion-display-display').text("Hide Suggestions")
  } 
});


// 
</script>



<script>
  $('#suggestion-display').click(function(){
    console.log("SHOW CLICKED")
    console.log($('#suggestion-display').text())
    if ($('#suggestion-display').text() == "Show Suggestions")
    {
      $('#quick_suggestions').show()
      $('#suggestion-display').text("Hide Suggestions")

    } else {
      $('#quick_suggestions').hide()
      $('#suggestion-display').text("Show Suggestions")

    }
  })
</script>





<!-- GET THE TEXT BOX -->
<script type="text/javascript">
  function startClock(){
    console.log("STARTING")
    if ($(window).width()<600){
      $('#quick_suggestions').hide()
      $('#suggestion-display').text("Show Suggestions")

    }

    var save_suggestions = "yes"

    $.ajax({
      type: 'POST',
      url: '/consumer/get_quick_suggestions/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'suggestion_1': "yes",
      'suggestion_2': "yes",
      'suggestion_3': "yes",
      'save_suggestions': save_suggestions,
    },
    success : function(data) {
      setTimeout(function() {$('#suggestion_1').html(data['suggestion_1']);}, 600);
      setTimeout(function() {$('#suggestion_2').html(data['suggestion_2']);}, 600);
      setTimeout(function() {$('#suggestion_3').html(data['suggestion_3']);}, 600);

      if ("{{working_settings.new_user_step}}"=="0"){
      setTimeout(function() {$('#add_suggestion_hightlight_1_trigger').tapTarget('open');}, 1200);
      $('#suggestion-display').text("Hide Suggestions")
      $('#quick_suggestions').show()
      $.ajax({
      type: 'POST',
      url: '/consumer/change_nus/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}', },
      })
    }
  }
})
    if ($(window).width() < 601) {
      console.log("START HIDE")
      $('#quick_suggestions').hide()
    }


  }
  if(window.addEventListener){
    window.addEventListener('load',startClock,false); //W3C
  }
  else{
    window.attachEvent('onload',startClock); //IE
  }
</script>


<!-- {% ifequal working_settings.new_user_step 0 %}
<script type="text/javascript">
  $(document).ready(function(){
    console.log("START NUS")
    $('#add_suggestion_hightlight_1_trigger').tapTarget('open');
  })
</script>
{% endifequal %} -->

<script type="text/javascript">
  function startClock(){
    console.log("STARTING")
    $.ajax({
      type: 'POST',
      url: '/consumer/get_text_input/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'text_message': "New Text",},
      success : function(data) {
        setTimeout(function() {$('#text_input').html(data['text_input']);}, 600);
      }
    })


  }
  if(window.addEventListener){
    window.addEventListener('load',startClock,false); //W3C
  }
  else{
    window.attachEvent('onload',startClock); //IE
  }
</script>

{% if user.is_authenticated %}
<!-- GET THE TEXT BOX -->
<script type="text/javascript">
  function startClock(){


    $.ajax({
      type: 'POST',
      url: '/consumer/get_text_datatable/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
      success : function(data) {
        setTimeout(function() {$('#text_datatable').html(data['text_datatable']);}, 800);
      }
    })
  }
  if(window.addEventListener){
    window.addEventListener('load',startClock,false); //W3C
  }
  else{
    window.attachEvent('onload',startClock); //IE
  }
</script>

{% endif %}


<script>
  $('#save_settings_button').click(function() {
    console.log("SAVE CLICKED")
    // save_settings_data()  
  })
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal(

      )
  })
</script>

{% endblock %}