{% extends "SS_base.html" %}
{% load static %}
{% block content %}




<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">


<!-- CARD FOR NEW TEXTS AND TIMINGS-->
<div class="row">

  <div id = "text_input">
    <div class = "center-align">
      <div class="row"></div>
      <div id="preloader_new_text" class="preloader-wrapper big active ">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>



<!-- DATA TABLE -->
{% if user.is_authenticated %}
<div class="row">
  <div id = "text_datatable">
    <div class = "center-align">
      <div class="row"></div>
      <div id="preloader_new_text" class="preloader-wrapper big active ">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>


</div>
</div>
{% endif %}

<!-- GET THE TEXT BOX -->
<script type="text/javascript">
  function startClock(){
    console.log("STARTING")
    $.ajax({
      type: 'POST',
      url: '/consumer/get_text_input/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'text_message': "Create New Text",},
      success : function(data) {
        setTimeout(function() {$('#text_input').html(data['text_input']);}, 600);
      }
    })

    $.ajax({
      type: 'POST',
      url: '/consumer/get_text_datatable/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
      success : function(data) {
        setTimeout(function() {$('#text_datatable').html(data['text_datatable']);}, 800);
      }
    })
  }
  if(window.addEventListener){
    window.addEventListener('load',startClock,false); //W3C
  }
  else{
    window.attachEvent('onload',startClock); //IE
  }
</script>


<script>
  $('#save_settings_button').click(function() {
    console.log("SAVE CLICKED")
    // save_settings_data()  
  })
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal(

      )
  })
</script>

{% endblock %}