{% extends "SS_base.html" %}
{% load static %}
{% load staticfiles %}
{% block content %}


<head>
 <title>Home | Sentimini</title>
 <meta property="og:title"         content="Home | Sentimini | Create and edit texts"/>
 <meta property="og:url"           content="www.sentimini.com/consumer/home/" />
 <meta property="og:type"          content="website" />
 <meta property="og:description"   content="Create and edit texts.  Lightweight tools for mindfulness, behavior change, and learning about this world." />
 <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
</head>




<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">


<!-- QUICK SUGGESTIONS-->
<div class="row">
  <div class="col s12 m3">
  <div class="card">
  <a  id="highlight_button" class="waves-effect waves-light btn block hide-on-small-only" style=" width: 100%;">Tour</a>
  </div>
  <span id="NUS_tracker" hidden>0</span>
  <span id="NUS_switch" hidden>0</span>
  
    <div class="hide-on-med-and-up">
      <div class="row"></div>
      <div class="chip waves-effect waves-teal btn-flat" id ="suggestion-display">Show Suggestions</div>
    </div>
    <div id = "quick_suggestions">
    <div class="card">

      <ul class="collection">

        <li class="collection-item" id = "suggestion_1"><div class = "center-align">
          <div class="row"></div>
          <div id="preloader_new_text" class="preloader-wrapper big active ">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div></li>
    <li class="collection-item" id = "suggestion_2"><div class = "center-align">
      <div class="row"></div>
      <div id="preloader_new_text" class="preloader-wrapper big active ">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div></li>
<li class="collection-item" id = "suggestion_3"><div class = "center-align">
  <div class="row"></div>
  <div id="preloader_new_text" class="preloader-wrapper big active ">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
    <div class="circle"></div>
  </div>
</div>
</div>
</div></li>

</li>

</ul>
</div>
<!-- <div class="card"> -->
<!-- <div class="card-content"> -->

<a href="/consumer/quotation/">Add your own suggestions</a>
<div class="row"></div>
<a href="/consumer/program/">See more uses of Sentimini</a>

<!-- </div> -->
<!-- </div> -->

</div>
</div>

<div class="col s12 m9">

 
  <div id = "text_input">
    <div class = "center-align">
      <div class="row"></div>
      <div id="preloader_new_text" class="preloader-wrapper big active ">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
</div>


<div id = "text_datatable">
  <div class = "center-align">
    <div class="row"></div>
    <div id="preloader_new_text" class="preloader-wrapper big active ">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>
</div>
</div>

</div>

</div>

<!-- Element Showed -->
  



  <!-- Tap Target Structure -->
<!--   <div id="new_text_highlight_trigger" class="tap-target" data-activates="new_text_highlight">
    <div class="tap-target-content">
      <h5>New Text</h5>
      <p>You can add new texts here!  Anything you want!</p>
    </div>
  </div> -->


<div class="container">
  <div id="nus_add_suggestion_hightlight_1_trigger" class="tap-target amber darken-1" data-activates="add_suggestion_hightlight_1">
    <div class="tap-target-content ">
      <h5>Welcome! - Add a text</h5>
      <p>
      Hit <i class="fa fa-plus fa-2x" aria-hidden="true"></i> to add a text.  Use <i class="fa fa-times" aria-hidden="true"></i> for different suggestions.  You can always add your own text or edit any timings.  Use <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i> buttons for more help.
      <div class="row"></div>
      Tap the <i class="fa fa-plus fa-2x" aria-hidden="true"></i> to continue.

      </p>
      
    </div>
  </div>

  <div id="add_suggestion_hightlight_1_trigger" class="tap-target amber darken-1" data-activates="add_suggestion_hightlight_1">
    <div class="tap-target-content ">
      <h5>Add suggested texts</h5>
      <p>
      You can add any of these texts.  They are just meant as suggestions
      </p>
      <p>
      This tour will cycle through the features of this site.
      </br>
        You don't have to click anything.
      </p>
      
    </div>
  </div>

  <div id="scheduled_text_hightlight_trigger" class="tap-target amber darken-1" data-activates="scheduled_text_highlight">
    <div id="scheduled_text_hightlight_content" class="tap-target-content center-align">
      <h5>Review or edit scheduled texts</h5>
      <p>
      You can review all of your scheduled texts here.
      </p>
      <p>
      You can edit, pause, or delete any of the texts.
      </p>
      
    </div>
  </div>

  <div id="new_text_highlight_trigger" class="tap-target amber darken-1" data-activates="new_text_highlight">
    <div class="tap-target-content center-align">
      <h5>Create new texts</h5>
      <p>
      You can add a new text here.  Whatever you want.  
      </p>
      
    </div>
  </div>

   <div id="timing_highlight_trigger" class="tap-target amber darken-1" data-activates="text_input_to_options">
    <div class="tap-target-content center-align">
      <h5>Edit timings</h5>
      <p>
      You can edit the timing of the text.
      </p>
    </div>
  </div>

  <div id="specific_time_hours_highlight_trigger" class="tap-target amber darken-1" data-activates="specific_time_hours_highlight">
    <div class="tap-target-content center-align">
      <h5>Set the hour range</h5>
      <p>
      Sentimini will send the text at a random time within the hour range.  
      </p>
      <p>
      Don't worry, you can always schedule them for specific times.

      </p>
    </div>
  </div>

<div id="timing_option_specific_highlight_trigger" class="tap-target amber darken-1" data-activates="timing_option_specific_highlight">
    <div class="tap-target-content center-align">
      <h5>Advanced controls</h5>
      <p>
      You can receive the same text multiple times per day. 
      </p>
      <p>
      You can also set the days of the week you want to receive the text.
      </p>
      
    </div>
  </div>

  <div id="options_default_save_highlight_trigger" class="tap-target amber darken-1" data-activates="options_default_highlight">
    <div class="tap-target-content center-align">
      <h5>Save timings as default</h5>
      <p>
      If you like a timing, you can set it as a default.  
      </p>
      <p>
      FYI:  you can add a text with the default timing from your phone.
      </br>
      Just text, "new:" and whatever text you want.  
      </p>
    </div>
  </div>

  <div id="download_csv_highlight_trigger" class="tap-target amber darken-1" data-activates="download_csv_highlight">
    <div class="tap-target-content center-align">
      <h5>Download your replies</h5>
      <p>
      Sentimini will collect any replies you make to the texts.  
      </p>
      <p>
      You can easily download any data you collect.
      </p>
    </div>
  </div>





  <div id="help_highlight_trigger" class="tap-target amber darken-1" data-activates="help_highlight">
    <div class="tap-target-content center-align">
      <h5>Find help</h5>
      <p>
      If you are ever lost or stuck, hit one of these buttons.</br>It will provide all the necessary information.
      <div class="row"></div>
      That's it for the tour.  Enjoy!
      </p>
    </div>
  </div>
</div>

<!-- FOR THE TOUR! -->

<script type="text/javascript">


$('#highlight_button').click(function(){
 

  var pathname = window.location.pathname; // Returns path only
  var url      = window.location.href;  

  var timing_keeper = 500
  var load_delay = 333
  var delay_between = 666
  var number_of_seconds = 5555
  var scroll_delay = 888

  // MAKE SURE THE RIGTH PAGES ARE UP
  $.ajax({
      type: 'POST',
      url: '/consumer/get_text_input/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'text_message': "New Text",},
      success : function(data) {
        $('#text_input').html(data['text_input']);
      }
    })

   $.ajax({
      type: 'POST',
      url: '/consumer/get_text_datatable/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
      success : function(data) {
        $('#text_datatable').html(data['text_datatable']);
      }
    })


if ($(window).width() < 600 ) {
setTimeout(function() {$('#quick_suggestions').show();}, timing_keeper-10);
}




  setTimeout(function() {$('#add_suggestion_hightlight_1_trigger').tapTarget('open');}, timing_keeper);
  timing_keeper = timing_keeper + number_of_seconds
  setTimeout(function() {$('#add_suggestion_hightlight_1_trigger').tapTarget('close');}, timing_keeper);
  timing_keeper = timing_keeper  + 800
  if ($(window).width() < 600 ) {
setTimeout(function() {$('#quick_suggestions').hide();}, timing_keeper-10);
}
  

  

  setTimeout(function() {$('#scheduled_text_hightlight_trigger').tapTarget('open');}, timing_keeper);
  timing_keeper = timing_keeper + number_of_seconds
  setTimeout(function() {$('#scheduled_text_hightlight_trigger').tapTarget('close');}, timing_keeper);
  timing_keeper = timing_keeper + delay_between


  setTimeout(function() {$('#timing_highlight_trigger').tapTarget('open');}, timing_keeper);
  timing_keeper = timing_keeper + number_of_seconds
  setTimeout(function() {$('#timing_highlight_trigger').tapTarget('close');}, timing_keeper);
  timing_keeper = timing_keeper + delay_between

setTimeout(function() {$('#text_input').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>');}, timing_keeper);

  setTimeout(function() {
  $.ajax({
      type: 'POST',
      url: '/consumer/get_input_to_options/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'text_content': $('#textarea1').val(),
      'id': "{{working_text.id}}",
      'timing_message': "Timing Options"},
      success : function(data) {
        setTimeout(function() {$('#text_input').html(data['text_input']);}, load_delay);
       
     }
   })
  ;}, timing_keeper);

  timing_keeper = timing_keeper + load_delay


  setTimeout(function() {$('#specific_time_hours_highlight_trigger').tapTarget('open');}, timing_keeper + load_delay+300);
  timing_keeper = timing_keeper + number_of_seconds + load_delay+300
  setTimeout(function() {$('#specific_time_hours_highlight_trigger').tapTarget('close');}, timing_keeper);
  timing_keeper = timing_keeper + delay_between


  setTimeout(function() {$('#timing_option_specific_highlight_trigger').tapTarget('open');}, timing_keeper);
  timing_keeper = timing_keeper + number_of_seconds
  setTimeout(function() {$('#timing_option_specific_highlight_trigger').tapTarget('close');}, timing_keeper);
  timing_keeper = timing_keeper + delay_between



setTimeout(function() {$('#options_default_save_highlight_trigger').tapTarget('open');}, timing_keeper);
timing_keeper = timing_keeper + number_of_seconds
  setTimeout(function() {$('#options_default_save_highlight_trigger').tapTarget('close');}, timing_keeper);
  timing_keeper = timing_keeper + delay_between


  setTimeout(function() {$('#text_input').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>');}, timing_keeper);
  


setTimeout(function() {
  $.ajax({
      type: 'POST',
      url: '/consumer/get_text_input/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'text_message': "New Text",},
      success : function(data) {
        setTimeout(function() {$('#text_input').html(data['text_input']);}, load_delay);
      }
    })
;}, timing_keeper);

timing_keeper = timing_keeper + load_delay



// setTimeout(function() {$('#download_csv_highlight')[0].scrollIntoView( {block: "start", behavior: "smooth"} );;}, timing_keeper);

setTimeout(function() {$('html, body').animate({scrollTop: $("#download_csv_highlight").offset().top}, scroll_delay);}, timing_keeper);



timing_keeper = timing_keeper + load_delay + scroll_delay
setTimeout(function() {$('#download_csv_highlight_trigger').tapTarget('open');}, timing_keeper );
timing_keeper = timing_keeper + number_of_seconds
  setTimeout(function() {$('#download_csv_highlight_trigger').tapTarget('close');}, timing_keeper);
  timing_keeper = timing_keeper + load_delay

setTimeout(function() {$('html, body').animate({scrollTop: $("#brand_logo").offset().top}, scroll_delay);}, timing_keeper);

timing_keeper = timing_keeper + load_delay + scroll_delay
setTimeout(function() {$('#help_highlight_trigger').tapTarget('open');}, timing_keeper);
timing_keeper = timing_keeper + number_of_seconds
  setTimeout(function() {$('#help_highlight_trigger').tapTarget('close');}, timing_keeper);
  timing_keeper = timing_keeper + load_delay

  if (pathname.indexOf("guided_tour") >= 0){
    setTimeout(function() {window.location.replace("/accounts/signup/");}, timing_keeper);
  }

})
  </script>


<script type="text/javascript">
//get dimensions 
var height = $(window).height();
var width = $(window).width();
//refresh on resize
$(window).resize(function() {


  if ($(window).width() > 600) {
    $('#quick_suggestions').show()
    // $('#suggestion-display-display').text("Hide Suggestions")
  } 
});


// 
</script>



<script>
  $('#suggestion-display').click(function(){
    console.log("SHOW CLICKED")
    console.log($('#suggestion-display').text())
    if ($('#suggestion-display').text() == "Show Suggestions")
    {
      $('#quick_suggestions').show()
      $('#suggestion-display').text("Hide Suggestions")

    } else {
      $('#quick_suggestions').hide()
      $('#suggestion-display').text("Show Suggestions")

    }
  })
</script>





<!-- GET THE TEXT BOX -->
<script type="text/javascript">
  function startClock(){
    console.log("STARTING")
    if ($(window).width()<600){
      $('#quick_suggestions').hide()
      $('#suggestion-display').text("Show Suggestions")

    }

    var save_suggestions = "yes"

    $.ajax({
      type: 'POST',
      url: '/consumer/get_quick_suggestions/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'suggestion_1': "yes",
      'suggestion_2': "yes",
      'suggestion_3': "yes",
      'save_suggestions': save_suggestions,
    },
    success : function(data) {
      setTimeout(function() {$('#suggestion_1').html(data['suggestion_1']);}, 600);
      setTimeout(function() {$('#suggestion_2').html(data['suggestion_2']);}, 600);
      setTimeout(function() {$('#suggestion_3').html(data['suggestion_3']);}, 600);

      if ("{{working_settings.new_user_step}}"=="0"){
      setTimeout(function() {$('#nus_add_suggestion_hightlight_1_trigger').tapTarget('open');}, 1200);
      $('#suggestion-display').text("Hide Suggestions")
      $('#quick_suggestions').show()
      $.ajax({
      type: 'POST',
      url: '/consumer/change_nus/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}', },
      })
    }
  }
})
    if ($(window).width() < 601) {
      console.log("START HIDE")
      $('#quick_suggestions').hide()
    }


  }
  if(window.addEventListener){
    window.addEventListener('load',startClock,false); //W3C
  }
  else{
    window.attachEvent('onload',startClock); //IE
  }
</script>


<!-- {% ifequal working_settings.new_user_step 0 %}
<script type="text/javascript">
  $(document).ready(function(){
    console.log("START NUS")
    $('#add_suggestion_hightlight_1_trigger').tapTarget('open');
  })
</script>
{% endifequal %} -->

<script type="text/javascript">
  function startClock(){
    console.log("STARTING")
    $.ajax({
      type: 'POST',
      url: '/consumer/get_text_input/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'text_message': "New Text",},
      success : function(data) {
        setTimeout(function() {$('#text_input').html(data['text_input']);}, 600);
        if (window.location.pathname.indexOf("guided_tour") >= 0){
          setTimeout(function() {$('#highlight_button').trigger('click');}, 800);
        }
      }
  })
  }
  if(window.addEventListener){
    window.addEventListener('load',startClock,false); //W3C
  }
  else{
    window.attachEvent('onload',startClock); //IE
  }
</script>


<!-- GET THE TEXT BOX -->
<script type="text/javascript">
  function startClock(){


    $.ajax({
      type: 'POST',
      url: '/consumer/get_text_datatable/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
      success : function(data) {
        setTimeout(function() {$('#text_datatable').html(data['text_datatable']);}, 800);
      }
    })
  }
  if(window.addEventListener){
    window.addEventListener('load',startClock,false); //W3C
  }
  else{
    window.attachEvent('onload',startClock); //IE
  }
</script>




<script>
  $('#save_settings_button').click(function() {
    console.log("SAVE CLICKED")
    // save_settings_data()  
  })
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal(

      )
  })
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85360122-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}

