{% extends "SS_base.html" %}
{% load static %}
{% load staticfiles %}
{% block content %}




<!-- <script src="http://listjs.com/assets/javascripts/list.min.js"></script> -->
<script src={% static "js/list.min.js" %}></script>
<script src={% static "js/list.pagination.min.js" %}></script>








<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">


<!-- CARD FOR NEW TEXTS AND TIMINGS-->
<div class="row">
  <div id = "inspiration_display">
    <div class = "center-align">
      <div class="row"></div>
      <div id="preloader_new_text" class="preloader-wrapper big active ">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>



<!-- GET THE TEXT BOX -->
<script type="text/javascript">
  function startClock(){
    console.log("STARTING")
    $.ajax({
      type: 'POST',
      url: '/consumer/get_inspiration_display/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      },
      success : function(data) {
        setTimeout(function() {$('#inspiration_display').html(data['inspiration_display']);}, 600);
      }
    })
  }
  if(window.addEventListener){
    window.addEventListener('load',startClock,false); //W3C
  }
  else{
    window.attachEvent('onload',startClock); //IE
  }
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal(

      )
  })
</script>

{% endblock %}