


<div class="col s12">
    <div class="card">
      <div class="card-content small_spaces ">

<!-- <a href = "/consumer/test_signup">hey hey</a> -->

<!-- TEXT -->
<div class="row">
  <div class="col s12">
    <span class="card-title"><h4>{{text_message}}<a href="#new_text_modal"><i class="small material-icons">info_outline</i></h4></a></span>

    <!-- TEXT -->
    <div class="row">
      <form class="col s12">
        <div class="input-field col s12">
          <i class="material-icons prefix tooltipped" data-position="top" data-delay="50" data-tooltip="Text yourself antyhing you want.">chat</i>
          <textarea id="textarea1" class="materialize-textarea" length="160" rows="1">{{working_text.text}}</textarea>
          {% if working_text %}
          <label class = "active" for="textarea1">Text content</label>
          {% else %}
          <label for="textarea1">Text content</label>
          {% endif %}

        </div>
        
      </form>
    </div>

    <!-- SAVE -->
    <form>{% csrf_token %}
    <div class="right-align">
        <span id="timing_summary">{{timing_summary}}</span></br>
        {% ifnotequal text_message "Edit Text" %}
        <a id="text_input_to_options" class="disabled input_to_options waves-effect waves-light btn">Timing</a>
        {% else %}
        <a id="edit_text_to_input" class="edit_text_to_input waves-effect waves-light btn">Back</a>
        {% endifnotequal %}
        {% if user.is_authenticated %}
        <a id="save_text_button" class="disabled waves-effect waves-light btn">Save Text</a>
        {% else %}
        <a href="{% url 'account_signup' %}" id="sign-up-link" class="btn waves-effect waves-light z-depth-4">Sign Up</a>
        {% endif %}
      </div>
    </form>
  </div>
</div>


<!-- NEW TEXT MODAL -->
<!-- Modal Structure -->
  <div id="new_text_modal" class="modal modal-fixed-footer" >
    <div class="modal-content modal-about">
      <h4>Create a new text</h4>
      You'll have 160 characters to remind yourself of anything you want.
      <div class="row"></div>
      <h4>Responses</h4>
      Keep in mind that Sentimini will collect any responses that you make, so you could keep a gratitude journal, emotion tracker, medication tracker, spontaneous poem journal, or anything you want.  
    <div class="row"></div>
    Sentimini allows you to send texts at randomized times, which is a good method to quantitatively explore your experience.  You can download the data by using the table below.  


    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Got it</a>
    </div>
  </div>




<!-- BACK BUTTON FOR EDIT -->
<script>

  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
  </script>

<script>

$('.edit_text_to_input').click(function() {
$.ajax({
      type: 'POST',
      url: '/consumer/get_text_input/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'text_message': "Create New Text",},
      success : function(data) {
        $('#text_input').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
        setTimeout(function() {$('#text_input').html(data['text_input']);}, 300);      
     }
   })

    $.ajax({
      type: 'POST',
      url: '/consumer/get_text_datatable/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
      success : function(data) {
        $('#text_datatable').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
        setTimeout(function() {$('#text_datatable').html(data['text_datatable']);}, 350);
       
     }
   })
  })

</script>

<!-- SET UP FOR PAGE -->
<script type="text/javascript">
  $(document).ready(function() {
    $('textarea#textarea1').characterCounter();
  });
</script>

{% if working_text.text %}
<script type="text/javascript">
$(document).ready(function() {
  $('#save_text_button').removeClass('disabled')
  $('#text_input_to_options').removeClass('disabled')
})
</script>
{% endif %}

<!-- BUTTON CONTROL NEW TEXT-->
<script type="text/javascript">
  $('#textarea1').keyup(function(){
    if (this.value.length < 1) {
      $('#save_text_button').addClass('disabled')
      $('#text_input_to_options').addClass('disabled')
    } else {
      console.log("MORE THAN 1")
      $('#save_text_button').removeClass('disabled')
      $('#text_input_to_options').removeClass('disabled')
    }
  })
</script>

<!-- BUTTON CONTROL EDIT TEXT-->

<!-- EDIT TIMING SETTINGS -->
<script type="text/javascript">
  $('.input_to_options').click(function() {
    $.ajax({
      type: 'POST',
      url: '/consumer/get_input_to_options/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'text_content': $('#textarea1').val(),
      'id': "{{working_text.id}}",
      'timing_message': "Timing Options"},
      success : function(data) {
        $('#text_input').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
        setTimeout(function() {$('#text_input').html(data['text_input']);}, 350);      

       $('#text_datatable').html("");
     }
   })
  })
</script>

<!-- SAVE TEXT DATA -->
<script>
  var save_text_data = function(){
    var text_content = $('#textarea1').val()

    $.ajax({
      type: 'POST',
      url: '/consumer/save_text/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'text_content': text_content,
      'id': '{{id}}'},
      success : function(data) {
        $('#text_input').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
        setTimeout(function() {$('#text_input').html(data['text_input']);}, 300); 

        
        $.ajax({
          type: 'POST',
          url: '/consumer/get_text_datatable/',
          data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
          success : function(data) {
           
           $('#text_datatable').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
        setTimeout(function() {$('#text_datatable').html(data['text_datatable']);}, 300); 

         }
       })
      }
    })
  }
</script>

<script>
  $('#save_text_button').click(function() {
    console.log("SAVE CLICKED SS")
    save_text_data()  
  })

</script>

