{% extends "SS_base.html" %}
{% load static %}
{% load staticfiles %}
{% block content %}

<head>
 <title>Programs | Sentimini</title>
 <meta property="og:title"         content="Programs | Sentimini | View programs and sign up for texts"/>
 <meta property="og:url"           content="www.sentimini.com/consumer/program/" />
 <meta property="og:type"          content="website" />
 <meta property="og:description"   content="View programs and sign up for texts.  Lightweight tools for mindfulness, behavior change, and learning about this world." />
 <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
</head>


<!-- <script src="http://listjs.com/assets/javascripts/list.min.js"></script> -->
<script src={% static "js/list.min.js" %}></script>
<script src={% static "js/list.pagination.min.js" %}></script>








<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">


<!-- CARD FOR NEW TEXTS AND TIMINGS-->
{% if user.is_superuser %}
<div class="row">
  <div class="col s12">
    <a class="waves-effect waves-light btn" href="/consumer/create_program/" >Create your own</a>
  </div>
</div>
{% endif %}
<div class="row">
  <div class="col s12 m3">
    <div id="program_filters">
    </div>
  </div>
  <div class="col s12 m9">



<!-- SEARCH BAR -->
<div id = "program_search"></div>





    <div id = "program_display">
      <div class = "center-align">
        <div class="row"></div>
        <div id="preloader_new_text" class="preloader-wrapper big active ">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>



<!-- GET THE TEXT BOX -->
<script type="text/javascript">
  function startClock(){
    console.log("STARTING")
    $.ajax({
      type: 'POST',
      url: '/consumer/get_program_display/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
    },
    success : function(data) {
      $('#program_filters').html(data['program_filters']);
      $('#program_search').html(data['program_search']);
      setTimeout(function() {$('#program_display').html(data['program_display']);}, 600);

    }
  })
  }
  if(window.addEventListener){
    window.addEventListener('load',startClock,false); //W3C
  }
  else{
    window.attachEvent('onload',startClock); //IE
  }
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal(

      )
  })
</script>

{% endblock %}