{% extends "SS_base.html" %}
{% load static %}
{% block content %}

<!-- FIRST PIC -->
<head>
	<title>Quotes | Sentimini</title>
	<meta property="og:title"         content="Quotes | Sentimini | Share inspirations"/>
	<meta property="og:url"           content="www.sentimini.com/consumer/beta/" />
	<meta property="og:type"          content="website" />
	<meta property="og:description"   content="Learn more about Sentimini.  Lightweight tools for mindfulness, behavior change, and learning about this world." />
	<meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />

	<script src={% static "js/materialize.min.js" %}></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href={% static "css/materialize.css" %}>
</head>


<div class="row">
<div class="col s12 m4">
		<div class="card">
			<div class="card-content">
			<h4>Amazing quotes!</h4>
				Sentimini is designed to help you in your life.  Quotes are often very insipring and very helpful.  So, please submit your favorite quotes here.  
				<div class="row"></div>
				They can be from books, lectures, poetry, songs, spiritual texts, or anything.  They don't even have to be quotes...just anything you think would inspire others.
				<div class="row"></div>
				These will be used as suggested text messages to help others get the most from Sentimini.
			</div>
			</div>
			</div>


	<div class="col s12 m8">
		<div class="card">
			<div class="card-content">
			<h4>Give your suggestions!</h4>
				<div class="row">
					<form class="col s12">
						<div class="row">
							<div class="input-field col s12">
								<i class="fa fa-quote-right prefix" aria-hidden="true"></i>
								<textarea placeholder="{{quotation_content_place}}" id="quotation_content" class="materialize-textarea" data-length="5000"></textarea>
								<label for="quotation_content">Quote</label>
							</div>
						</div>
					</form>
				</div>
				<div class="row">
					<form class="col s12">
						<div class="row">
							<div class="input-field col s12">
								<i class="fa fa-book prefix" aria-hidden="true"></i>
								<textarea placeholder="{{quotation_source_place}}" id="quotation_source" class="materialize-textarea" data-length="5000"></textarea>
								<label for="quotation_source">Quote Source</label>
							</div>
						</div>
					</form>
				</div>

				{% if not user.is_authenticated %}
				<div class="row">
					<form class="col s12">
						<div class="row">
							
								<div class="input-field col s12">
									<i class="material-icons prefix">email</i>
									<input placeholder="XXXX@XXX.com - This is entirely optional" id="quotation_email" type="email">
									<label for="quotation_email">Your Email</label>
								</div>
							
						</div>
					</form>
				</div>
				{% endif %}



				<div class="right-align">
					<div id="quotation_submit" class="right-align waves-effect waves-light btn" >Submit</div> 
				</div>
				<div id="quotation_message"></div>

			</div>
		</div>
	</div>
</div>







<script type="text/javascript">
	$('#quotation_submit').click(function() {

		$.ajax({
			type: 'POST',
			url: '/consumer/submit_quotation/',
			data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
			'quotation_content': $('#quotation_content').val(),
			'quotation_source': $('#quotation_source').val(),
			'quotation_email': $('#quotation_email').val(),
		},
		success : function(data) {
      // console.log("SUCESS AJAX ~line 392")
      $('#quotation_message').html(data['message']);
      $('#quotation_content').val('')
      $('#quotation_source').val('')
      $('#quotation_content').trigger('autoresize');
      $('#quotation_source').trigger('autoresize');
      Materialize.updateTextFields();
  }
})
	})



</script>


<script>
	$(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
    $('#quotation_content').characterCounter();

    $('#quotation_content').trigger('autoresize');
    Materialize.updateTextFields();
});
</script>

<script>
	$(document).ready(function(){
		$('.parallax').parallax();
		$(".button-collapse").sideNav();
	});
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85360122-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}
