 <ul class="collection">
    {% for key, value in working_texts %}
<li class="collection-item">
<b>{{value.text.text}}</b>
<hr>
                <span style="font-size:80%;">{{value.text.timing.timing_summary|linebreaks}}</span>

                  {% if user.is_authenticated %}

                  {% if value.user > 0  %}
                  <div  id = "{{working_collection.id}}_{{value.text.id}}" class = "waves-effect waves-red btn-flat chip add-text-inspiration-btn"><span> <i class="material-icons" >delete</i> </span>
                  </div>
                  {% else %}

                  <div  id = "{{working_collection.id}}_{{value.text.id}}" class = "waves-effect waves-red btn-flat chip add-text-inspiration-btn" width=100%>Receive text

                  </div>
                  {% endif %}

                  {% else %}
                  <a  href="{% url 'account_signup' %}" class = "waves-effect waves-teal btn-flat chip" >Add</a>
                  <!-- <div style="background-color:#2196f3;" id = "{{working_collection.id}}_{{value.text.id}}" class = "waves-effect waves-teal btn-flat chip">Add -->
                  {% endif %}



                
                
              </li>
              {% endfor %}




      
    </ul>
    <a href="/consumer/inspiration/">See more ways to use Sentimini</a>



  <script type="text/javascript">
    $('.add-text-inspiration-btn').click(function() {
      var text_id_button = $(this).attr('id')
      var text_id_button_id = $(this).attr('id').split("_")[1]
      $.ajax({
        type: 'POST',
        url: '/consumer/inspiration_indvidual_text/',
        data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
        'selected_texts': $(this).attr('id'),
      },
      success : function(data) {
        if (data['save_type'] == "removed"){
          $("#"+text_id_button).html('Add')
          // $("#"+text_id_button).css('background-color', '#e4e4e4');

        } else {
          $("#"+text_id_button).html('<span> <i class="material-icons" >delete</i> </span>')
          // $("#"+text_id_button).css('background-color', '#ef9a9a');
        }
        $.ajax({
          type: 'POST',
          url: '/consumer/get_text_datatable/',
          data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
          success : function(data) {
           
           $('#text_datatable').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
        setTimeout(function() {$('#text_datatable').html(data['text_datatable']);}, 300); 

         }
       })

      // console.log("SUCESS AJAX ~line 392")
      // $('#model_content_for_switch').html(data['model_content_for_switch']);
    }


  })

    })
  </script>



  <!-- BACK BUTTON FOR EDIT -->

