 {% if working_text %}
 <b>{{working_text.text}}</b>
    <hr>
    <span style="font-size:80%;">{{working_text.timing.timing_summary|linebreaks}}</span>

    {% if user.is_authenticated %}
    <div  name="{{suggestion_number}}" id = "{{working_collection.id}}_{{working_text.id}}" class = "waves-effect waves-red btn-flat chip add-text-inspiration-btn-{{suggestion_number}}" width=100% ><span><i id="add_suggestion_hightlight_{{suggestion_number}}" class="fa fa-plus" aria-hidden="true"></i>  </span></div>

    

    <div  name="{{suggestion_number}}" class = "waves-effect waves-red btn-flat chip loop-{{suggestion_number}}" width=100%><i id="loop_suggestion_hightlight_{{suggestion_number}}" class="fa fa-times-circle" aria-hidden="true"></i></div>


    
    {% else %}
    <!-- <a  name="{{suggestion_number}}" href="{% url 'account_signup' %}" class = "waves-effect waves-teal btn-flat chip" >Add</a> -->
     <div  name="{{suggestion_number}}"  class = "waves-effect waves-red btn-flat chip" width=100% ><span><i id="add_suggestion_hightlight_{{suggestion_number}}" class="fa fa-plus" aria-hidden="true"></i>  </span></div>

    <div  name="{{suggestion_number}}" class = "waves-effect waves-red btn-flat chip loop-{{suggestion_number}}" width=100%><i class="small material-icons">loop</i></div>
    <!-- <div style="background-color:#2196f3;" id = "{{working_collection.id}}_{{value.text.id}}" class = "waves-effect waves-teal btn-flat chip">Add -->
    {% endif %}
 

 {% else %}
 <b>No more suggestions</b>
 <hr>
 <a href="/consumer/inspiration/" class = "waves-effect waves-teal btn-flat chip" >See inspirations</a>
 {% endif %}


<script type="text/javascript">
  $('.loop-{{suggestion_number}}').click(function() {
    
    var sug_name = $('.add-text-inspiration-btn-{{suggestion_number}}').attr('name')
    var sug_name = $(this).attr('name')
    var suggestion_needed_1 = "no"
    var suggestion_needed_2 = "no"
    var suggestion_needed_3 = "no"

    // console.log(sug_name)
    var save_suggestions = "yes"
    
    if ($(this).attr('name')==1){
      suggestion_needed_1 = "yes"
    }
    if ($(this).attr('name')==2){
      suggestion_needed_2 = "yes"
    }
    if ($(this).attr('name')==3){
      suggestion_needed_3 = "yes"
    }

    $.ajax({
        type: 'POST',
        url: '/consumer/get_quick_suggestions/',
        data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
        'suggestion_1': suggestion_needed_1,
        'suggestion_2': suggestion_needed_2,
        'suggestion_3': suggestion_needed_3,
        'rejected': 'yes',
        'save_suggestions': save_suggestions,
      },
        success : function(data) {
          console.log("SUCCESS AJAX")
          console.log()
           if (sug_name==1){
            $('#suggestion_1').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
            setTimeout(function() {$('#suggestion_1').html(data['suggestion_1']);}, 600);
          }
          if (sug_name==2){
            $('#suggestion_2').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
            setTimeout(function() {$('#suggestion_2').html(data['suggestion_2']);}, 600);
          }
          if (sug_name==3){
            $('#suggestion_3').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
            setTimeout(function() {$('#suggestion_3').html(data['suggestion_3']);}, 600);
          }
        }

      // console.log("SUCESS AJAX ~line 392")
      // $('#model_content_for_switch').html(data['model_content_for_switch']);
    })

  })
</script>

<script type="text/javascript">
  $('.add-text-inspiration-btn-{{suggestion_number}}').click(function() {
    console.log("ADD BUTTON CLICKED")
    var text_id_button = $(this).attr('id')
    var text_id_button_id = $(this).attr('id').split("_")[1]
    var sug_name = $('.add-text-inspiration-btn-{{suggestion_number}}').attr('name')
    var suggestion_needed_1 = "no"
    var suggestion_needed_2 = "no"
    var suggestion_needed_3 = "no"

    var save_suggestions = "yes"
    
    if ($(this).attr('name')==1){
      suggestion_needed_1 = "yes"
    }
    if ($(this).attr('name')==2){
      suggestion_needed_2 = "yes"
    }
    if ($(this).attr('name')==3){
      suggestion_needed_3 = "yes"
    }

    console.log("NAME" + $(this).attr('name'))
    $.ajax({
      type: 'POST',
      url: '/consumer/inspiration_indvidual_text/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'selected_texts': $(this).attr('id'),
      'quick_suggestion': "yes",
    },
    success : function(data) {
      $.ajax({
        type: 'POST',
        url: '/consumer/get_quick_suggestions/',
        data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
        'suggestion_1': suggestion_needed_1,
        'suggestion_2': suggestion_needed_2,
        'suggestion_3': suggestion_needed_3,
        'save_suggestions': save_suggestions, 
      },
        success : function(data) {
          console.log("SUCCESS AJAX")
          console.log()
           if (sug_name==1){
            $('#suggestion_1').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
            setTimeout(function() {$('#suggestion_1').html(data['suggestion_1']);}, 600);
          }
          if (sug_name==2){
            $('#suggestion_2').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
            setTimeout(function() {$('#suggestion_2').html(data['suggestion_2']);}, 600);
          }
          if (sug_name==3){
            $('#suggestion_3').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
            setTimeout(function() {$('#suggestion_3').html(data['suggestion_3']);}, 600);
          }
        }

      })
      $.ajax({
        type: 'POST',
        url: '/consumer/get_text_datatable/',
        data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
        success : function(data) {

         $('#text_datatable').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
         setTimeout(function() {$('#text_datatable').html(data['text_datatable']);}, 300); 

       }
     })

      // console.log("SUCESS AJAX ~line 392")
      // $('#model_content_for_switch').html(data['model_content_for_switch']);
    }


  })

  })
</script>


<!-- BACK BUTTON FOR EDIT -->

