{% extends "SS_base.html" %}
{% load static %}
{% load staticfiles %}
{% block content %}

<head>
 <title>Text | Sentimini</title>
 <meta property="og:title"         content="Text | Sentimini | View programs and sign up for texts"/>
 <meta property="og:url"           content="www.sentimini.com/consumer/program/" />
 <meta property="og:type"          content="website" />
 <meta property="og:description"   content="View programs and sign up for texts.  Lightweight tools for mindfulness, behavior change, and learning about this world." />
 <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
</head>


<!-- <script src="http://listjs.com/assets/javascripts/list.min.js"></script> -->
<script src={% static "js/list.min.js" %}></script>
<script src={% static "js/list.pagination.min.js" %}></script>


<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!-- QUICK SUGGESTIONS-->
<div class="row">
  <div class="col s12 m3">
    <span id="NUS_tracker" hidden>0</span>
    <span id="NUS_switch" hidden>0</span>

    <div class="hide-on-med-and-up">
      <div class="row"></div>
      <div class="chip waves-effect waves-teal btn-flat" id ="suggestion-display">Show Suggestions</div>
    </div>
    <div id = "quick_suggestions">
      <div class="card">

        <ul class="collection">

          <li class="collection-item" id = "suggestion_1"><div class = "center-align">
            <div class="row"></div>
            <div id="preloader_new_text" class="preloader-wrapper big active ">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div></li>
      <li class="collection-item" id = "suggestion_2"><div class = "center-align">
        <div class="row"></div>
        <div id="preloader_new_text" class="preloader-wrapper big active ">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div></li>
  <li class="collection-item" id = "suggestion_3"><div class = "center-align">
    <div class="row"></div>
    <div id="preloader_new_text" class="preloader-wrapper big active ">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>
</div></li>

</li>

</ul>
</div>
<!-- <div class="card"> -->
<!-- <div class="card-content"> -->

<a href="/consumer/program/" class="waves-effect waves-light btn block hide-on-small-only" style=" width: 100%;">See Programs</a>


<!-- </div> -->
<!-- </div> -->

</div>
</div>

<div class="col s12 m9">
  <!-- CARD FOR NEW TEXTS AND TIMINGS-->
  <div id = "text_content_card">
    </div>
    <div id="text_vis_card"></div>
    {% if user.is_authenticated %}
    <div id="text_datatable"></div>
    {% endif %}
  </div>
</div>

</div>



<!-- GET THE TEXT BOX -->
<script type="text/javascript">
  function startClock(){
     $.ajax({
      type: 'POST',
      url: '/consumer/get_text_specific_overview/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'id': window.location.href.split('/')[window.location.href.split('/').length-3],

    },
    success : function(data) {
      // $('#quick_suggestions').html("");
      $('#text_content_card').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
      setTimeout(function() {$('#text_content_card').html(data['text_specific_overview']);}, 350);

      
    }
  })

  //    $.ajax({
  //     type: 'POST',
  //     url: '/vis/get_text_specific_vis/',
  //     data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
  //     'id': window.location.href.split('/')[window.location.href.split('/').length-3],
  //   },
  //   success : function(data) {
  //     // $('#quick_suggestions').html("");
  //     $('#text_vis_card').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
  //     setTimeout(function() {$('#text_vis_card').html(data['text_vis']);}, 350);

      
  //   }
  // })


    $.ajax({
      type: 'POST',
      url: '/consumer/get_text_datatable_response/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'id': window.location.href.split('/')[window.location.href.split('/').length-3],
      'text_message': "Viewing Data",
      'find_user_text': "yes",

    },
    success : function(data) {
      // $('#quick_suggestions').html("");
      $('#text_datatable').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
      setTimeout(function() {$('#text_datatable').html(data['text_datatable_response']);}, 350);

      
    }
  })



    if ($(window).width()<600){
      $('#quick_suggestions').hide()
      $('#suggestion-display').text("Show Suggestions")

    }

    var save_suggestions = "yes"

    $.ajax({
      type: 'POST',
      url: '/consumer/get_quick_suggestions/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'suggestion_1': "yes",
      'suggestion_2': "yes",
      'suggestion_3': "yes",
      'save_suggestions': save_suggestions,
    },
    success : function(data) {
      setTimeout(function() {$('#suggestion_1').html(data['suggestion_1']);}, 600);
      setTimeout(function() {$('#suggestion_2').html(data['suggestion_2']);}, 600);
      setTimeout(function() {$('#suggestion_3').html(data['suggestion_3']);}, 600);

      if ("{{working_settings.new_user_step}}"=="0"){
        setTimeout(function() {$('#nus_add_suggestion_hightlight_1_trigger').tapTarget('open');}, 1200);
        $('#suggestion-display').text("Hide Suggestions")
        $('#quick_suggestions').show()
        $.ajax({
          type: 'POST',
          url: '/consumer/change_nus/',
          data: {'csrfmiddlewaretoken': '{{ csrf_token }}', },
        })
      }
    }
  })
    if ($(window).width() < 601) {
      console.log("START HIDE")
      $('#quick_suggestions').hide()
    }


  }
  if(window.addEventListener){
    window.addEventListener('load',startClock,false); //W3C
  }
  else{
    window.attachEvent('onload',startClock); //IE
  }
</script>


<script>
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
    
  });
</script>




<script>
  $(document).ready(function() {
    $('#text_data_table').DataTable(
    {
      "bLengthChange": false,
      "pageLength": 10,
      "order": [[ 0, "desc" ]],

    });
  } );
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85360122-1', 'auto');
  ga('send', 'pageview');

</script>





{% endblock %}