{% load tz %}
{% load static %}
<script src="http://listjs.com/assets/javascripts/list.min.js"></script>
<script src={% static "js/list.min.js" %}></script>
<script src={% static "js/list.pagination.min.js" %}></script>


<div class="card">
  <div class="card-content">
    <span class="card-title" ><h4><i id="scheduled_text_highlight" class="fa fa-calendar" aria-hidden="true"></i> Your Texts <i id="help_highlight" class="sent-tooltip tooltipped fa fa-info-circle" data-position="top" data-delay="50" data-tooltip= 'These are of the texts you will receive.  You can edit the timing, view data, or delete the texts here.'></i></h4></span>




    <div id="possible_text_list">


      <div class="row">
        <div class="col s12 m6">

         <input class="search" placeholder="Search for a text..." />

       </div>
     </div>

     <span>Sort by:</span>
   </br>
   <div class="waves-effect waves-teal btn-flat chip sort" data-sort="sort_text">
    Text
  </div>

  <div class="waves-effect waves-teal btn-flat chip sort" data-sort="sort_created">
    Created
  </div>

  <div class="waves-effect waves-teal btn-flat chip sort" data-sort="sort_sent">
    Sent
  </div>
  <div class="waves-effect waves-teal btn-flat chip sort" data-sort="sort_timing">
    Timing
  </div>
  {% if user.is_authenticated %}
  {% timezone user_timezone %}
  <ul class="list ">
   {% for text in working_texts %}

       <!-- <div class="card">
       <div class="card-content card-panel hoverable"> -->
         <li class="collection-item">
           <hr>






           <div class="row">
             <div class="col s12 m8">

               <a class="sort_text" href="/consumer/text/{{text.id}}/{{text.slug}}/" style="font-size:150%;">{{text.text}}</a> 
               <p>
                 {% ifequal text.text_type "sun" %}
                 <span class="sort_timing" style="font-size:100%;" id = "{{text.id}}">1 text exactly at event</span>
                 {% else %}
                 <span class="sort_timing" style="font-size:100%;" id = "{{text.id}}">{{text.timing.timing_summary_burden}} {{text.timing.timing_summary_range}}</span>
                 {% endifequal %}
               </p>
             </div>
             <div class="col s12 m4">
               <a id = "{{text.id}}" class="text_edit btn-floating blue"><i class="material-icons">mode_edit</i></a>

               {% if text.active == True %}
               <div  id = "table_{{text.id}}" class = "btn-floating grey feed-pause-text-btn">
                <i  class=" material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Pause">pause</i>
              </div>
              {% else %}

              <div id = "table_{{text.id}}" class = "btn-floating green feed-pause-text-btn">
                <i class=" material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Pause">play_arrow</i>
              </div>
              {% endif %}

              <a class="modal-trigger btn-floating red" href="#modal_delete_texts_{{text.id}}">
                <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Delete">delete</i>
              </a>

              <p>
                <span class="sort_created" style="display: none;">{{text.date_created|date:"YmdGis"}}}</span>
                Created: <span style="word-wrap: break-word; font-size:100%">{{text.date_created|date:"d M Y"}}</span>
              </p>
              <p>
              {% if text.last_sent.strip %}
              
              <span class="sort_sent" style="display: none;">"1900"}</span>
              {% else %}
              <span class="sort_sent" style="display: none;">{{text.last_sent|date:"YmdGis"}}}</span>
              
              {% endif %}

                Last sent: <span style="word-wrap: break-word; font-size:100%">{{text.last_sent|date:"h:iA d M Y"}}</span>
              
              
              </p>
            </div>
          </div>

        </li>

      <!--   </div>
    </div> -->
    {% endfor %}

  </ul> 
  <hr>
  {% endtimezone %}

  <div class="col s8">
    <ul class="pagination"></ul>
  </div>
  <div class="col s4 right-align">
  </br>
  <div style="background-color:#e4e4e4;" id = "{{id}}" class = "download_csv waves-effect waves-teal btn-flat chip">
    <span><i id="download_csv_highlight" class="fa fa-floppy-o" aria-hidden="true"></i> Download data</span></span>
    </div>
  </div>
  <div class="row"></div>
  {% endif %}

</div>


</div>
</div>

<!-- MODAL DELETE BUTTON -->
{% for text in working_texts %}
<div id="modal_delete_texts_{{text.id}}" class="modal modal-fixed-footer" name ="delete_modal" style="max-height:25%;">

  <div class="modal-content">
    <h4>Are you sure?</h4>
    <p>This will delete this text and all data associated with it.  You can always just 'pause' the text</p>
    
  </div>
  <div class="modal-footer">
    <div value="{{text.id}}" id="delete_{{text.id}}" class="red lighten-2 modal-action modal-close waves-effect waves-red btn-flat feed-delete-text-btn">Delete</div>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Keep</a>
  </div>
</div>
{% endfor %}

<div id="datatable_modal" class="modal modal-fixed-footer" >
  <div class="modal-content modal-about">
    <h4>Scheduled Texts</h4>
    This tables shows all the texts that you have scheduled.  You can edit the text content and timing options for each text.  You can pause a specific text.  
    <div class="row"></div>
    <h4>Data</h4>
    By clicking on data, you can see when each text was sent and if there were any responses.  Additionally, you can download this data as a .csv file, which can be open in any spreadsheet program.  

  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Got it</a>
  </div>
</div>




<script type="text/javascript">
  var monkeyList = new List('possible_text_list', {
    valueNames: ['sort_text', 'sort_timing','sort_created','sort_sent'],
    page: 5,
    plugins: [ ListPagination({}) ] 
  });
</script>


<script>
  $('.download_csv').click(function() {
    location.replace('/consumer/get_csv/');
  })
</script>

<!-- DELETE BUTTONS -->
<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal()
    $('.tooltipped').tooltip({delay: 50});
  })
</script>

<script type="text/javascript">
  $('.feed-delete-text-btn').click(function() {

    $.ajax({
      type: 'POST',
      url: '/delete_text/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'id': $(this).attr('id').split("_")[1],
    },
    success : function(data) {

      $.ajax({
        type: 'POST',
        url: '/consumer/get_text_datatable/',
        data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
        success : function(data) {
         $('#text_datatable').html(data['text_datatable']);
       }
     })
    }
  })
  })

</script>



<!-- PAUSE BUTTON -->
<script type="text/javascript">
  $('.feed-pause-text-btn').click(function() {
    var text_id_button = $(this).attr('id')
    var text_id_button_id = $(this).attr('id').split("_")[1]
    console.log(text_id_button)
    console.log(text_id_button_id)
    $.ajax({
      type: 'POST',
      url: '/pause_text/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'id': $(this).attr('id').split("_")[1],
    },
    success : function(data) {
      if (data['pause_type'] == "paused"){
        $("#"+text_id_button).html('<i class=" material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Start">play_arrow</i>')

        $("#"+text_id_button).removeClass('grey');
        $("#"+text_id_button).addClass('green');

      } else {
        $("#"+text_id_button).html('<i class=" material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Pause">pause</i>')
        $("#"+text_id_button).removeClass('green');
        $("#"+text_id_button).addClass('grey');
      }
      // console.log("SUCESS AJAX ~line 392")
      // $('#model_content_for_switch').html(data['model_content_for_switch']);
    }
  })
  })
</script>


<!-- TEXT EDIT -->
<script type="text/javascript">
  $('.text_edit').click(function() {
    $('#text_input').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')


    $.ajax({
      type: 'POST',
      url: '/consumer/get_options_to_input/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'id': $(this).attr('id'),
      'text_message': "Edit Text",
    },
    success : function(data) {
      setTimeout(function() {$('#text_input').html(data['text_input']);}, 300);      

      
      
      $(window).scrollTop(0);
    }
  })
  })
</script>

<!-- TEXT EDIT -->
<script type="text/javascript">
  $('.text_datatable_response').click(function() {
    $.ajax({
      type: 'POST',
      url: '/consumer/get_text_datatable_response/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'id': $(this).attr('id'),
      'text_message': "Viewing Data",
    },
    success : function(data) {
      $('#text_input').html("");
      // $('#quick_suggestions').html("");
      $('#text_datatable').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
      setTimeout(function() {$('#text_datatable').html(data['text_datatable_response']);}, 350);

      
    }
  })
  })
</script>




<!-- TIMING OPTIONS EDIT -->
<script type="text/javascript">
  $('.timing_edit').click(function() {
    $.ajax({
      type: 'POST',
      url: '/consumer/get_input_to_options/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'id': $(this).attr('id'),
      'timing_message': "Edit Timing"},
      success : function(data) {
        $('#text_input').html("");
        // $('#quick_suggestions').html("");
        $('#text_datatable').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
        setTimeout(function() {$('#text_datatable').html(data['text_input']);}, 350); 

        
        $(window).scrollTop(0);
      }
    })
  })
</script>


<!-- MODAL ACTION BUTTIONS -->
<script>
  $('.savemodal').click(function() {
    console.log("SAVE CLICKED SS")
    console.log($(this).attr('id'))
    var text_content = $("#textarea_"+$(this).attr('id')).val()

    $.ajax({
      type: 'POST',
      url: '/consumer/save_text/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'text_content': text_content,
      'id': $(this).attr('id')},
      success : function(data) {
        $('#text_input').html(data['text_input']);
        $.ajax({
          type: 'POST',
          url: '/consumer/get_text_datatable/',
          data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
          success : function(data) {
           $('#text_datatable').html(data['text_datatable']);
         }
       })
      }
    })
  })

</script>

<script type="text/javascript">
  $(document).ready(function() {
    $('textarea#textarea1').characterCounter();
  });
</script>


<script>
  $(document).ready(function() {
    $('#text_data_table').DataTable(
    {
      "bLengthChange": false,
      "pageLength": 10,
      "order": [[ 0, "desc" ]],

    });
  } );
</script>


<script>
 $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
</script>