{% load tz %}

  <div class="card">
    <div class="card-content small_spaces">
      <span class="card-title"><h4>Viewing data for: {{text_content}}</h4></span>
      <table id="text_data_table" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Text</th>
            <th>Time Sent</th>
            <th>Time Reply</th>
            <th>Reply</th>
          </tr>
        </thead>

        <tbody>
        {% if user.is_authenticated %}
        {% timezone user_timezone %}

          {% for text in working_texts %}
          <tr>
          <td>{{text.text_sent}}</td>
            <td><span style="display: none;">{{text.time_sent|date:"YmdGis"}}</span>{{text.time_sent}}</td>
            <td><span style="display: none;">{{text.time_response|date:"YmdGis"}}</span>{{text.time_response}}</td>
            <td>{{text.response}} </td>
      </tr>
      {% endfor %}
      {% endtimezone %}
      {% endif %}
      
    </tbody>
  </table>
  <div class="row"></div>

  <div class="right-align">
  <div id="save_message"></div>
  <div style="background-color:#e4e4e4;" id = "{{id}}" class = "download_csv waves-effect waves-teal btn-flat chip">Download data</div>
  <!-- <a id="view_data_to_input" class="view_data_to_input waves-effect waves-light btn">Back</a> -->
  </div>
</div>
</div>


<script>
  $(document).ready(function() {
    $('#text_data_table').DataTable(
    {
      "bLengthChange": false,
      "pageLength": 5,
      "order": [[ 0, "desc" ]],

    });
  } );
</script>

<script>
$('.download_csv').click(function() {
  location.replace('/consumer/get_csv/'+ $(this).attr('id'));
})
</script>

<script>
$('.view_data_to_input').click(function() {
$.ajax({
      type: 'POST',
      url: '/consumer/get_text_input/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'text_message': "Create New Text",},
      success : function(data) {
    
       $('#text_input').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
        setTimeout(function() {$('#text_input').html(data['text_input']);}, 300);
     }
   })

    $.ajax({
      type: 'POST',
      url: '/consumer/get_text_datatable/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
      success : function(data) {
       $('#text_datatable').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
        setTimeout(function() {$('#text_datatable').html(data['text_datatable']);}, 350);
     }
   })
    $.ajax({
      type: 'POST',
      url: '/consumer/get_quick_suggestions/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',},
      success : function(data) {
        setTimeout(function() {$('#quick_suggestions').html(data['quick_suggestions']);}, 600);
      }
    })
  })

</script>