{% load tz %}

  <div class="card">
    <div class="card-content small_spaces">
      

<span class="card-title" ><h4><i id="scheduled_text_highlight" class="fa fa-calendar" aria-hidden="true"></i> Your Texts<a href="#datatable_modal"> <i style="font-size:75%;" class="fa fa-info-circle" aria-hidden="true"></i></h4></a></span>


      <table id="text_data_table" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="hide-on-small-only" style="font-size:80%;">Date Start</th>
            <th style="font-size:80%;">Date Last</th>
            <!-- <th class="hide-on-small-only" style="font-size:80%;"># Sent</th> -->
            <th style="font-size:80%;">Text</th>
            <th style="font-size:80%;">Timing</th>
            <th style="font-size:60%;"></th>
          </tr>
        </thead>

        <tbody>
        {% timezone user_timezone %}

          {% for text in working_texts %}
          <tr>
          
<!-- <span style="display: none;">{{text.date_created|date:"YmdGis"}}</span> -->
          <td class="hide-on-small-only" ><span style="display: none;">{{text.date_created|date:"YmdGis"}}</span><span style="word-wrap: break-word; font-size:80%">{{text.date_created|date:"d M Y"}}</span></td>
          <td><span style="display: none;">{{text.last_sent|date:"YmdGis"}}</span><span style="word-wrap: break-word; font-size:80%">{{text.last_sent|date:"h:iA d M Y"}}</span></td>
          


          <!-- <td class="hide-on-small-only"><span style="font-size:80%;">{{text.number_sent}}</span></td> -->
            <td>
            <span style="font-size:80%;">{{text.text}}</span> 

            <span style="font-size:80%;">(<a id = "{{text.id}}" class="text_edit waves-effect waves-light">edit</a>
            ,
            <a id = "{{text.id}}" class="text_datatable_response waves-effect waves-light">data</a>)
            </span>
             </td>
             

            <td><a style="font-size:80%;" id = "{{text.id}}" class="timing_edit waves-effect waves-light"}">{{text.timing.timing_summary|linebreaks}}</a></td>
            <td>
          <!-- <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Increase frequency">trending_up</i>
          <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Decrease frequency">trending_down</i> -->

          
          
          {% if text.active == True %}
          <div style="background-color:#e4e4e4;" id = "table_{{text.id}}" class = "waves-effect waves-teal btn-flat chip feed-pause-text-btn">
            <i  class=" material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Pause">pause</i>
          </div>
          {% else %}

          <div style="background-color:#2196f3;" id = "table_{{text.id}}" class = "waves-effect waves-teal btn-flat chip feed-pause-text-btn">
            <i class=" material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Pause">play_arrow</i>
          </div>
          {% endif %}
          

            <!-- <a class="waves-effect waves-light btn" href="#modal1">Modal</a> -->


          <a class="modal-trigger waves-effect waves-teal btn-flat chip" href="#modal_delete_texts_{{text.id}}">
            <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Delete">delete</i>
          </a>

        </td>
      </tr>
      {% endfor %}
      {% endtimezone %}
    </tbody>
  </table>
  <div class="right-align">
  <div class="row"></div>
  <div style="background-color:#e4e4e4;" id = "{{id}}" class = "download_csv waves-effect waves-teal btn-flat chip">
  <span><i id="download_csv_highlight" class="fa fa-floppy-o" aria-hidden="true"></i> Download data</span></div>
  
  </div>
</div>
</div>


<!-- MODAL DELETE BUTTON -->
{% for text in working_texts %}
<div id="modal_delete_texts_{{text.id}}" class="modal modal-fixed-footer" name ="delete_modal" style="max-height:25%;">

  <div class="modal-content">
    <h4>Are you sure?</h4>
    <p>This will delete this text and all data associated with it.  You can always just 'pause' the text</p>
    
  </div>
  <div class="modal-footer">
    <div value="{{text.id}}" id="delete_{{text.id}}" class="red lighten-2 modal-action modal-close waves-effect waves-red btn-flat feed-delete-text-btn">Delete</div>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Keep</a>
  </div>
</div>
{% endfor %}



  <div id="datatable_modal" class="modal modal-fixed-footer" >
    <div class="modal-content modal-about">
      <h4>Scheduled Texts</h4>
      This tables shows all the texts that you have scheduled.  You can edit the text content and timing options for each text.  You can pause a specific text.  
      <div class="row"></div>
      <h4>Data</h4>
      By clicking on data, you can see when each text was sent and if there were any responses.  Additionally, you can download this data as a .csv file, which can be open in any spreadsheet program.  

    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Got it</a>
    </div>
  </div>





  
<script>
$('.download_csv').click(function() {
  location.replace('/consumer/get_csv/');
})
</script>

<!-- DELETE BUTTONS -->
<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal(

      )
  })
</script>

<script type="text/javascript">
  $('.feed-delete-text-btn').click(function() {

    $.ajax({
      type: 'POST',
      url: '/delete_text/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'id': $(this).attr('id').split("_")[1],
    },
    success : function(data) {

      $.ajax({
      type: 'POST',
      url: '/consumer/get_text_datatable/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
      success : function(data) {
       $('#text_datatable').html(data['text_datatable']);
     }
   })
    }
  })
  })

</script>






<!-- PAUSE BUTTON -->
<script type="text/javascript">
  $('.feed-pause-text-btn').click(function() {
    var text_id_button = $(this).attr('id')
    var text_id_button_id = $(this).attr('id').split("_")[1]
    console.log(text_id_button)
    console.log(text_id_button_id)
    $.ajax({
      type: 'POST',
      url: '/pause_text/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'id': $(this).attr('id').split("_")[1],
    },
    success : function(data) {
      if (data['pause_type'] == "paused"){
        $("#"+text_id_button).html('<i class=" material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Pause">play_arrow</i>')
        $("#"+text_id_button).css('background-color', '#2196f3');

      } else {
        $("#"+text_id_button).html('<i class=" material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Pause">pause</i>')
        $("#"+text_id_button).css('background-color', '#e4e4e4');
      }
      // console.log("SUCESS AJAX ~line 392")
      // $('#model_content_for_switch').html(data['model_content_for_switch']);
    }
  })
  })
</script>


<!-- TEXT EDIT -->
<script type="text/javascript">
  $('.text_edit').click(function() {
    $.ajax({
      type: 'POST',
      url: '/consumer/get_options_to_input/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'id': $(this).attr('id'),
      'text_message': "Edit Text",
    },
    success : function(data) {
      $('#text_input').html("");
      // $('#quick_suggestions').html("");
      $('#text_datatable').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
        setTimeout(function() {$('#text_datatable').html(data['text_input']);}, 300);      

      
      
      $(window).scrollTop(0);
    }
  })
  })
</script>

<!-- TEXT EDIT -->
<script type="text/javascript">
  $('.text_datatable_response').click(function() {
    $.ajax({
      type: 'POST',
      url: '/consumer/get_text_datatable_response/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'id': $(this).attr('id'),
      'text_message': "Viewing Data",
    },
    success : function(data) {
      $('#text_input').html("");
      // $('#quick_suggestions').html("");
      $('#text_datatable').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
        setTimeout(function() {$('#text_datatable').html(data['text_datatable_response']);}, 350);

      
    }
  })
  })
</script>




<!-- TIMING OPTIONS EDIT -->
<script type="text/javascript">
  $('.timing_edit').click(function() {
    $.ajax({
      type: 'POST',
      url: '/consumer/get_input_to_options/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'id': $(this).attr('id'),
      'timing_message': "Edit Timing"},
      success : function(data) {
        $('#text_input').html("");
        // $('#quick_suggestions').html("");
        $('#text_datatable').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
        setTimeout(function() {$('#text_datatable').html(data['text_input']);}, 350); 

        
        $(window).scrollTop(0);
      }
    })
  })
</script>


<!-- MODAL ACTION BUTTIONS -->
<script>
  $('.savemodal').click(function() {
    console.log("SAVE CLICKED SS")
    console.log($(this).attr('id'))
    var text_content = $("#textarea_"+$(this).attr('id')).val()

    $.ajax({
      type: 'POST',
      url: '/consumer/save_text/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'text_content': text_content,
      'id': $(this).attr('id')},
      success : function(data) {
        $('#text_input').html(data['text_input']);
        $.ajax({
          type: 'POST',
          url: '/consumer/get_text_datatable/',
          data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
          success : function(data) {
           $('#text_datatable').html(data['text_datatable']);
         }
       })
      }
    })
  })

</script>

<script type="text/javascript">
  $(document).ready(function() {
    $('textarea#textarea1').characterCounter();
  });
</script>


<script>
  $(document).ready(function() {
    $('#text_data_table').DataTable(
    {
      "bLengthChange": false,
      "pageLength": 10,
      "order": [[ 0, "desc" ]],

    });
  } );
</script>


<script>
 $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
</script>