{% load static %}
{% load staticfiles %}

<script src={% static "js/jquery.timepicker.js" %}></script>
<link rel="stylesheet" href={% static "css/jquery.timepicker.css" %}>


<!-- TEXT -->

    <div class="card">
      <div class="card-content small_spaces">



    <div class="card-title">

    <span class="card-title"><h4>{{timing_message}}<a href="#timing_modal"><i class="small material-icons">info_outline</i></h4></a></span>


    <!-- <h4>{{timing_message}}<i class="small material-icons">info_outline</i></h4> -->
    </div>
    <span class="timing_text_title">{{working_text.text}}</span>
    <hr>


    <!-- HOUR -->
    <div class="row">
      <div class="input-field col s12 ">
        <!-- <i class="material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="This is a time-range for when the text will be sent.">schedule</i> -->
        <h5>Send texts during</h5>
        <p class="range-field">
          <div type="range" id="specific_time_hours"></div>
        </p>
        
        <span> Hour Range: </span><input style ="width: 60px;" id="startTime" type="text" class="time center-align" /><span> - </span>  <input style ="width: 60px;" id="endTime" type="text" class="time center-align" /></span>
        
      </div>
    </div>
    <hr>

    <!-- Number of repeats -->
    <div class="switch">
            <label>
              Specific
              <input type="checkbox" id="timing_switch">
              <span class="lever"></span>
              Periodic
            </label>
          </div>
    <div id = "timing_option_periodic" class="row">
      <div class="col s12 ">
        <h5>Periodic texts (average time between texts)</h5> 
      </div>
      <div class="input-field col s12 l3 ">
        <!-- <i class="material-icons prefix tooltipped" data-position="top" data-delay="50" data-tooltip="This is a time-range for when the text will be sent.">loop</i> -->
        
        <select id="fuzzy_denomination"  placeholder="" class="browser-default">
        {% ifequal fuzzy_denomination "minutes" %}
         <option value="minutes" selected="selected" >Minutes</option>
         {% else %}
         <option value="minutes">Minutes</option>
         {% endifequal %}
        
         {% ifequal fuzzy_denomination "hours" %}
         <option value="hours" selected="selected" >Hours</option>
         {% else %}
         <option value="hours">Hours</option>
         {% endifequal %}

        {% ifequal fuzzy_denomination "days" %}
         <option value="days" selected="selected" >Days</option>
         {% else %}
         <option value="days">Days</option>
         {% endifequal %}

         {% ifequal fuzzy_denomination "weeks" %}
         <option value="weeks" selected="selected" >Weeks</option>
         {% else %}
         <option value="weeks">Weeks</option>
         {% endifequal %}

         {% ifequal fuzzy_denomination "months" %}
         <option value="months" selected="selected" >Months</option>
         {% else %}
         <option value="months">Months</option>
         {% endifequal %}
       </select>
     </div>

     <div class="input-field col s12 l9 ">
      <form action="#">
        <p class="range-field">
          <input type="range" id="ITI_mean" min="1" max="72" value = "{{working_timing.iti_raw}}">
        </p>
      </form>
      <div id="ITI_mean_output"></div>
      <form action="#">
        <p class="range-field">
          <input type="range" id="ITI_noise" steps= "1" min="1" max="4" value = "{{working_timing.iti_noise}}"/>
        </p>
      </form>
      <div id="ITI_noise_output"></div>
    </div>

  </div>





 <div id = "timing_option_specific" class = "row">
 
 
 <div class="col s12 ">
 <h5>Number per day</h5>      
 </div>
 <div class="input-field col s12 l3 ">
  <select id="repeat_time" class="browser-default">
    <option value="1" selected>1 time</option>
    <option value="2">2 times</option>
    <option value="3">3 times</option>
    <option value="4">4 times</option>
    <option value="5">5 times</option>
    <option value="6">6 times</option>
    <option value="7">7 times</option>
    <option value="8">8 times</option>
    <option value="9">9 times</option>
    <option value="10">10 times</option>
    <option value="11">11 times</option>
    <option value="12">12 times</option>
  </select>
  </div>

  <div class="col s12">
  <h5>Every</h5>
    <form action="#">
      <p>
        <input class="modal_check_box" name="weekdays" type="checkbox" id="Sunday" value=" Sunday"  />
        <label class="modal_check_label" for="Sunday">Sun</label>
      
        <input class="modal_check_box" name="weekdays" type="checkbox" id="Monday" value=" Monday" />
        <label class="modal_check_label" for="Monday">Mon</label>

        <input class="modal_check_box" name="weekdays" type="checkbox" id="Tuesday" value=" Tuesday" />
        <label class="modal_check_label" for="Tuesday">Tues</label>

        <input class="modal_check_box" name="weekdays" type="checkbox" id="Wednesday" value=" Wednesday" />
        <label class="modal_check_label" for="Wednesday">Wed</label>

        <input class="modal_check_box" name="weekdays" type="checkbox" id="Thursday" value=" Thursday" />
        <label class="modal_check_label" for="Thursday">Thus</label>

        <input class="modal_check_box" name="weekdays" type="checkbox" id="Friday" value=" Friday" />
        <label class="modal_check_label" for="Friday">Fri</label>

        <input class="modal_check_box" name="weekdays" type="checkbox" id="Saturday" value=" Saturday"  />
        <label class="modal_check_label" for="Saturday">Sat</label>
      </p>

    </form>
  </div>
</div>  



  <!-- DECAY -->
 <!--  <hr>
  <div class="col s12 ">
    <h5>Additional Options</h5>         
    <form action="#">
      <p>
        <input type="checkbox" id="decay_check" checked />
        <label for="decay_check">Decay</label>
      </p>
    </form>
    <form action="#">
      <p>
        <input type="checkbox" id="private_check" />
        <label for="private_check">Private</label>
      </p>
    </form>
  </div> -->

<div class="row"></div>
  <div class="right-align">
    <!-- <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a> -->
    <!-- <a id="options_default_restore" class="restore_timing_default waves-effect waves-light btn">Restore default</a> -->
    {% if user.is_authenticated %}
    <a id="options_back" class="options_to_input waves-effect waves-light btn">Back</a>
    <a id="options_default_save" class="save_timing_default waves-effect waves-light btn">Set as default</a>
    <a id="options_save" class="save_timing waves-effect waves-light btn">Save Only Timing</a>
    <a id="options_text_save" class="disabled save_timing waves-effect waves-light btn">Save Timing and Text</a>
    {% else %}
    <a href="/consumer/home/" class=" waves-effect waves-light btn">Back</a>
    <a href="{% url 'account_signup' %}" id="sign-up-link" class="btn waves-effect waves-light z-depth-4">Sign Up</a>
    {% endif %}
    
  </div>
  <div id="message"></div>
</div>




<!-- Modal Structure -->
  <div id="timing_modal" class="modal modal-fixed-footer">
    <div class="modal-content modal-about">
      <h4>Hour Range</h4>
      You can select the times that you recieve texts.  This is primarily used so that you avoid receiving text messages while you sleep!  However, you can use this to schedule texts you receive only in the morning or night or even at a specific time.  You can use the slider or directly edit the times displayed to set the hour range.

      <div class="row"></div>
      <h4>Specific timing</h4>
      By using this option, you are signing up to receive a specific number of texts to be received at some time during the hour range you set.  For example, if the hour range was 9am to 12pm and the number of texts was set to 2, then you would receive two texts every morning.  You can additionally select which days of the week you receive texts.
      <div class="row"></div>
      <h4>Periodic timing</h4>
      By using this option, you are signing up to receive this text every so ofter.  You can set it to receive this text every 3 hours, 3 days, or even 3 months.  The timing will not be exact because the idea is to provide somewhat random reminders.  You can specify how variable the time between texts will be.
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Got it</a>
    </div>
  </div>


<script src={% static "js/nouislider.js" %}></script>
<script src={% static "js/select2.full.min.js" %}></script>
<link rel="stylesheet" href={% static "css/materialize-select2.css" %}>
<script src={% static "js/picker.js" %}></script>
<script src={% static "js/picker.date.js" %}></script>
<script src={% static "js/editing_text_helpers.js" %}></script>

<!-- SLIDERS -->
<script type="text/javascript">
  var rangeValues =
{
    "1": "Time between texts will be pretty much exact to what you select",
    "2": "Time between texts will be close to what you select",
    "3": "Time between texts will be variable",
    "4": "Time between texts will be extremely variable"
};


</script>

<!-- LOADING THE VALUES OF THEM ALL -->
{% if working_text.text %}
<script type="text/javascript">
$(document).ready(function() {
  $('#options_text_save').removeClass('disabled')
})
</script>
{% endif %}

<!-- BUTTON CONTROL NEW TEXT-->
<script type="text/javascript">
  $('#textarea1').keyup(function(){
    if (this.value.length < 1) {
      $('#options_text_save').addClass('disabled')
      // $('#text_input_to_options').addClass('disabled')
    } else {
      console.log("MORE THAN 1")
      $('#options_text_save').removeClass('disabled')
      // $('#text_input_to_options').removeClass('disabled')
    }
  })
</script>


<script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal()
    $("option[value='{{working_timing.repeat_in_window}}']").attr('selected','selected');
  })
</script>

{% if working_timing.fuzzy %}
<script type="text/javascript">
  $('#timing_switch').prop('checked', true);
</script>
{% endif %}

{% if working_timing.monday %}
<script type="text/javascript">
  $('#Monday').prop('checked', true);
</script>
{% endif %}

{% if working_timing.tuesday %}
<script type="text/javascript">
  $('#Tuesday').prop('checked', true);
</script>
{% endif %}

{% if working_timing.wednesday %}
<script type="text/javascript">
  $('#Wednesday').prop('checked', true);
</script>
{% endif %}

{% if working_timing.thursday %}
<script type="text/javascript">
  $('#Thursday').prop('checked', true);
</script>
{% endif %}

{% if working_timing.friday %}
<script type="text/javascript">
  $('#Friday').prop('checked', true);
</script>
{% endif %}

{% if working_timing.saturday %}
<script type="text/javascript">
  $('#Saturday').prop('checked', true);
</script>
{% endif %}

{% if working_timing.sunday %}
<script type="text/javascript">
  $('#Sunday').prop('checked', true);
</script>
{% endif %}





<script type="text/javascript">
  $('#timing_switch').click(function() {
    if ($('#timing_switch').is(':checked') == true) {
      $('#timing_option_specific').hide()
      $('#timing_option_periodic').show()
    } else {
      $('#timing_option_specific').show()
      $('#timing_option_periodic').hide()
    }
  })
</script>
<script type="text/javascript">
  $(document).ready(function() {
    if ($('#timing_switch').is(':checked') == true) {
      $('#timing_option_specific').hide()
      $('#timing_option_periodic').show()
    } else {
      $('#timing_option_specific').show()
      $('#timing_option_periodic').hide()
    }
  });
</script>

<script type="text/javascript">
  var slider = document.getElementById('specific_time_hours');
</script>

<script type="text/javascript">
  $('#startTime').timepicker();
  $('#endTime').timepicker();
  
</script>

<script type="text/javascript">
  var slider = document.getElementById('specific_time_hours');
  console.log("STRATING VALE"+"{{working_timing.hour_start_value}}")
  if ("{{working_timing.hour_start_value}}"){
    noUiSlider.create(slider, {
   start: [{{working_timing.hour_start_value}}, {{working_timing.hour_end_value}}],
   
   connect: true,
   step: 1,
   range: {
     'min': 0,
     'max': 1439
   },
 });

  } else {
    noUiSlider.create(slider, {
   
   start: [540, 1260],
   connect: true,
   step: 1,
   range: {
     'min': 0,
     'max': 1439
   },
 });

  }
  


  var connect = slider.querySelectorAll('.noUi-connect');
  var classes = ['c-1-color'];

  for ( var i = 0; i < connect.length; i++ ) {
    connect[i].classList.add(classes[i]);
  }

  slider.noUiSlider.on('update', function(){

    var startTime = slideTime_start()
    var endTime = slideTime_end()
    $("#time").text(startTime + ' - ' + endTime);
    
    $('#startTime').timepicker('setTime', startTime);
    $('#endTime').timepicker('setTime', endTime);
    
    $("#repeat_time_helper").text("between: " + startTime + ' - ' + endTime);

  });
</script>

<script type="text/javascript">
function slideTime_reverse(text_time){
    if (text_time.indexOf("am") >= 0){
        var hour = parseInt(text_time.split(":")[0])
        var minute = text_time.split(":")[1]
        minute = minute.split("am")[0]
        console.log("HOUR"+hour)
        if (hour == 12){
          return parseInt(parseInt(minute))  
        } else {
          return parseInt(parseInt(60*hour) + parseInt(minute))
          
        }
        
    } else {
      
      var hour = parseInt(text_time.split(":")[0])
      var minute = text_time.split(":")[1]
      minute = minute.split("pm")[0]
      if (hour == 12){
        return parseInt(parseInt(12*60) + parseInt(minute))
      } else {
        return parseInt(parseInt(12*60) + parseInt(60*hour) + parseInt(minute))
      }
    }
}

  $( "#endTime" ).change(function() {
    // $( "#endTime" ).change(function() {
    var slider = document.getElementById('specific_time_hours');
    slider.noUiSlider.set([slideTime_reverse($('#startTime').val()), slideTime_reverse($('#endTime').val())]);
// });
  })

  $( "#startTime" ).change(function() {
    // $( "#startTime" ).change(function() {
    var slider = document.getElementById('specific_time_hours');
    slider.noUiSlider.set([slideTime_reverse($('#startTime').val()), slideTime_reverse($('#endTime').val())]);
// });
  })

</script>





<script type="text/javascript">
  var update_histogram = function(){
    // on page load, set the text of the label based the value of the range
    
    $('#ITI_noise_output').html(rangeValues[$('#ITI_noise').val()]);
    $('#ITI_mean_output').html($('#ITI_mean').val() + " " + $('#fuzzy_denomination').val() + " between texts")
    // $('#ITI_noise_output').html($('#ITI_noise').val() + " percent noise")
  } 
</script>



<script>
  $(document).ready ( function(){
    update_histogram()
  })
</script>

<script type="text/javascript">
  $('#ITI_mean').on('change', function(){
  // $('#new_text_histogram').empty()
  // $('#histo_loading').show()
  update_histogram()
});

  $('#ITI_noise').on('change', function(){
  // $('#new_text_histogram').empty()
  // $('#histo_loading').show()
  update_histogram()
});
</script>













<!-- BUTTONS BACK-->
<script type="text/javascript">
$('.options_to_input').click(function() {
  $.ajax({
      type: 'POST',
      url: '/consumer/get_options_to_input/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'id': '{{id}}'},
      success : function(data) {
        $('#text_input').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
        setTimeout(function() {$('#text_input').html(data['text_input']);}, 300);
     }
   })
  $.ajax({
      type: 'POST',
      url: '/consumer/get_text_datatable/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
      success : function(data) {
        $('#text_datatable').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
        setTimeout(function() {$('#text_datatable').html(data['text_datatable']);}, 350);
       
     }
   })
  $.ajax({
      type: 'POST',
      url: '/consumer/get_quick_suggestions/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',},
      success : function(data) {
        setTimeout(function() {$('#quick_suggestions').html(data['quick_suggestions']);}, 600);
      }
    })
})
</script>



<script type="text/javascript">
$('.save_timing').click(function() {

  
  var start_time = slideTime_start()
  var end_time = slideTime_end()
  var ITI_mean = $('#ITI_mean').val()
  var ITI_noise = $('#ITI_noise').val()

  var fuzzy = $('#timing_switch').is(':checked')
  var num_repeats = $('#repeat_time').val()
  var weekdays = [];
  $('input[name=weekdays]:checked').each(function() {
   weekdays.push($(this).val());
 });



  

  $.ajax({
      type: 'POST',
      url: '/consumer/save_timing/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'id': '{{id}}',
      'hour_start': start_time,
      'hour_end': end_time,
      'hour_start_value': slider.noUiSlider.get()[0],
      'hour_end_value': slider.noUiSlider.get()[1],
      'iti': ITI_mean,
      'iti_noise': ITI_noise,
      'fuzzy_denomination': $('#fuzzy_denomination').val(),
      'fuzzy': fuzzy,
      'num_repeats': num_repeats,
      'weekdays': weekdays.join(','),
      'decay': $('#decay_check').is(':checked'),
      'private': $('#private_check').is(':checked'),
      'timing_message': "{{timing_message}}",
      'save_type': $(this).attr('id'),
    },
      success : function(data) {
        $('#text_input').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
        setTimeout(function() {$('#text_input').html(data['text_input']);}, 300);

        $.ajax({
      type: 'POST',
      url: '/consumer/get_text_datatable/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
      success : function(data) {
       $('#text_datatable').html('<div class = "center-align"><div class="row"></div><div id="preloader_new_text" class="preloader-wrapper big active "><div class="spinner-layer spinner-blue-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div></div>')
        setTimeout(function() {$('#text_datatable').html(data['text_datatable']);}, 300);

     }
   })
        $.ajax({
      type: 'POST',
      url: '/consumer/get_quick_suggestions/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',},
      success : function(data) {
        setTimeout(function() {$('#quick_suggestions').html(data['quick_suggestions']);}, 600);
      }
    })

       
     }
   })
  
})
</script>



<!-- SAVE AS DEFAULTS-->
<script type="text/javascript">
$('.save_timing_default').click(function() {
  
  var start_time = slideTime_start()
  var end_time = slideTime_end()
  var ITI_mean = $('#ITI_mean').val()
  var ITI_noise = $('#ITI_noise').val()

   var fuzzy = $('#timing_switch').is(':checked')
  var num_repeats = $('#repeat_time').val()
  var weekdays = [];
  $('input[name=weekdays]:checked').each(function() {
   weekdays.push($(this).val());
 });

  $.ajax({
      type: 'POST',
      url: '/consumer/save_timing_default/',
      data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
      'hour_start': start_time,
      'hour_end': end_time,
      'hour_start_value': slider.noUiSlider.get()[0],
      'hour_end_value': slider.noUiSlider.get()[1],
      'iti': ITI_mean,
      'iti_noise': ITI_noise,
      'fuzzy_denomination': $('#fuzzy_denomination').val(),
      'fuzzy': fuzzy,
      'num_repeats': num_repeats,
      'weekdays': weekdays.join(','),
      'decay': $('#decay_check').is(':checked'),
      'private': $('#private_check').is(':checked'),
    },
      
      success : function(data) {
       $('#message').html(data['message']);
     }
   })
})
</script>



<!-- REPEAT CONTROL -->

<script>
  $('#fuzzy_denomination').change(function() {
    if ($('#fuzzy_denomination').val()=="minutes"){
      $("#ITI_mean").prop({min: 1, max: 600});
    } 
    if ($('#fuzzy_denomination').val()=="hours"){
      $("#ITI_mean").prop({min: 1, max: 72});
    } 
    if ($('#fuzzy_denomination').val()=="days"){
      $("#ITI_mean").prop({min: 1, max: 30});
    } 
    if ($('#fuzzy_denomination').val()=="weeks"){
      $("#ITI_mean").prop({min: 1, max: 52});
    } 
    if ($('#fuzzy_denomination').val()=="months"){
      $("#ITI_mean").prop({min: 1, max: 24});
    } 
    $('#ITI_mean_output').html($('#ITI_mean').val() + " " + $('#fuzzy_denomination').val() + " between texts")
    $('#ITI_noise_output').html(rangeValues[$('#ITI_noise').val()]);
    
  })
</script>



