{% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% crispy form %}


<!--DOCTYPE html -->
{% block content %}
<html>
<head>
<title>Data Detail - Sentimini!</title>
</head>
<body>
	
	<script src="http://www.d3plus.org/js/d3.js"></script>
	<script src="http://www.d3plus.org/js/d3plus.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"></script>

<script>
$(document).ready(function() {
    $('#last_responses_table').DataTable({
    	"columns": [
	 { "width": "50%" },
    { "width": "20%" },
    { "width": "20%" },
    { "width": "10%" },
  ]

    });
} );
</script>





<!-- Main jumbotron for a primary marketing message or call to action -->


<div class="container">
<a href="/ent/text_set_detail/{{ feed_id }}/{{ group_id }}/"><- Back to Feed Overview</a>




<div class="row" id="texts">
	<div class="col-md-3">
    
  </div>
	<div class="col-md-6">
	<h1>{{emotion_name}}</h1>
	<a href="/ent/text_edit/{{ text_id }}/">Edit text</a>
	</br></br>
	<table id="last_responses_table" class="display" cellspacing="0" width="100%">
			<thead>
	        <tr>
		       <th>Text</th>
		        <th>Time and Date</th>
	            <th>Feed</th>
	            <th>Response</th>
				
	        </tr>
	    </thead>
	   <tbody>
	       {% for ent in table_latest_entry %}
			<tr>
				
				<td>
				{% if ent.text_type == "user" %}
				<a href="/vis/text_data_detail/{{ ent.text_id }}/">{{ ent.text }}</a>
				{% else %}
				{{ ent.text }}
				{% endif %}
				</td> 
				<td>{{ ent.time_sent }}</td>
				<td>{{ ent.feed_name }}</td>
				<td>{{ ent.response }}</td>
				
			</tr>
			{% endfor %}
	    </tbody>
	</table>


		
		<form action="#" method="get">
		 <input type="submit" class="btn-primary btn-sm" value="Download .csv" name="export_csv_responses">
		</form>
</br>
	</div>     
</div>
</div>


</body>

</html>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85360122-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}