  {% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% crispy form %}


  <!--DOCTYPE html -->


  <html>
  <head>

  </head>

  <body>
    {% block content %}
<script>
      $(document).ready(function() {
        $('#library_experiences_table').DataTable({
          "columns": [
          { "width": "20%" },
          { "width": "30%" },
          { "width": "20%" },
          { "width": "10%" },
          { "width": "10%" },
          ]

        });
      } );
    </script>

   <script>
      $(document).ready(function() {
        $('#user_experiences_table').DataTable({
          "columns": [
          { "width": "20%" },
          { "width": "30%" },
          { "width": "20%" },
          { "width": "20%" },
          ]

        });
      } );
    </script>
 

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="container">
   
  <div class="row" id="timing">
    <div class="col-md-2">
      <h1>Possible</h1>
      You can sign up for these experiences.
    </div>
    <div class="col-md-10">
    You have signed up for <mark>{{number_of_experiences}} experiences</mark>.
    </br></br>
     <table id="library_experiences_table" class="display" cellspacing="0" width="100%">
      <thead>
          <tr>
              <th>Text Set</th>
              <th>Description</th>
              <th>User</th>
              
              <th>Texts Per Week</th>
              <th>Number of Texts</th>
        
          </tr>
      </thead>
      <tbody>
         {% for exp in library_experiences %}
      <tr>

        <td><b>{{ exp.text_set }}</b> (<a href="/ent/text_set_alter/{{ exp.feed_id }}/">{{exp.user_state}}</a>, <a href="/ent/text_set_detail/{{ exp.feed_id }}/">edit</a>)</td>
        <td>{{ exp.description }}</td>
        <td>{{ exp.experience }}</td>
        <td>{{ exp.prompts_per_week }}</td>
        <td>{{ exp.number_of_texts_in_set }}</td>
      </tr>
      {% endfor %}
      </tbody>
  </table>


  </div>
 
</div>




<!-- Contact Settings -->




<!-- end of container -->
</br>
</div> 




<!-- /container -->


</body>

</html>
{% endblock %}