  {% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% crispy form %}


  <!--DOCTYPE html -->


  <html>
  <head>

  </head>

  <body>
    {% block content %}
    <script>
      $(document).ready(function() {
        $('#possible_texts_table').DataTable({
          "columns": [
          { "width": "70%" },
          { "width": "10%" },
          { "width": "20%" },
          
          

          ]

        });
      } );
    </script>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
    {% if last_page_go_back == "groups" %}
    <a href="/ent/group_detail/{{ working_experience.group_id }}/"><- Back to Group Detail</a>
    {% else %}
    {% if new_user_pages == "new_user" %}
    <a href="{% url 'ent:new_user' %}"><- Back to Set Up</a>
      
    {% else %}
    <a href="{% url 'ent:feeds_edit' %}"><- Back to Feeds</a>
    {% endif %}

    
    {% endif %}

      <div class="row" id="texts">
        <div class="col-md-3">
          <h1>Feed Overview</h1>
        </div>
        <div class="col-md-6">
        <h1>{{working_experience.feed_name}}</h1>
        {{working_experience.description}}
        </br></br>
        {{number_of_texts}} texts in this experience.  {{text_per_week}} texts per week.
</br></br>

         {% if working_experience.user_state == "disable" %} 
         <a href="/ent/text_set_detail_descriptions/{{working_experience.feed_id}}">Edit Feed Settings</a>
</br></br>

      <form action="#" method="get">
       <input type="submit" class="btn-danger btn-sm" value="Delete Feed" name="remove_experience">
     </form>

     {% else %}
     <form action="#" method="get">
       <input type="submit" class="btn-primary btn-sm" value="Activate Feed" name="enable_experience">
     </form>
     {% endif %}
        
         
      </div>
</div>




<hr>
<div class="row" id="texts">

  <div class="col-md-3">
    <h1>Texts</h1>
    
  </div>


  <div class="col-md-6">
    {% if working_experience.user_state == "disable" %} 

 <table id="possible_texts_table" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Text</th>
          <th>Importance</th>
          <th></th>
          

        </tr>
      </thead>
      <tbody>
       {% for exp in working_user_gen %}
       <tr>
       <td><b><a href="/vis/text_data_detail/{{ exp.id }}/">{{ exp.text }}</b></a></td>

        <td>{{ exp.text_importance }}</td>
        <td><a href="/ent/text_edit/{{ exp.id }}/">Edit</a>, <a href="/ent/text_delete/{{ exp.id }}/">Delete</a></td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h1><a href="/ent/add_texts/{{ working_experience.feed_id }}/{{ working_experience.group_id }}/">Add New Text!</a></h1>

    {% else %}

    <table id="possible_texts_table" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Text</th>
          <th>Response Type</th>
          <th>Important</th>

        </tr>
      </thead>
      <tbody>
       {% for exp in working_user_gen %}
       <tr>

        <td>{{ exp.text }}</td>
        <td>{{ exp.response_type }}</td>
        <td>{{ exp.text_importance }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  

</div>
</div>








</div>
</br>
<!-- Text content -->







<!-- Contact Settings -->




<!-- end of container -->
</div> 




<!-- /container -->


</body>

</html>
{% endblock %}