{% extends "base.html" %}
{% load i18n %}



{% block content %}

<div class="container">
	<div id="navbar" class="nav nav-justified">
		<ul class="nav navbar-nav">

			<li><a href="#charts">Charts</a></li>
			<li><a href="#tables_prompt">Tables - Prompt</a></li>
			<li><a href="#tables_emotion">Tables - Emotion</a></li>

		</ul>
	</div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1 class="text-center">Data Vis?</h1>
		</br>
		 <div class="row text-center">
		<div class="col-sm-4 col-xs-6">
          <h2>Summary information</h2>
          <p>Provide or change your basic contact information</p>
        </div>
        <div class="col-sm-4 col-xs-6">
          <h2>Export Data</h2>
          <p>You can share all of your graphs and tables.  Don't forget that you can also save a pdf report or csv files.</p>
          
        </div>
        <div class="col-sm-4 col-xs-6">
          <h2>Therapist ad</h2>
          <p>You can </p>
          <p><a class="btn btn-primary btn-lg" href="#pad" role="button" >Get Pro &raquo;</a></p>
        </div>
        </div>
		
	</div>
	
</div>


<div class="container">
	<div class="row" id = "charts">
		<div class="col-md-3">
			<h1>Charts</h1>
			<p>This is just basic stuff</p>
		</div>
		<div class="col-md-9">
		</br>
			<p>
				Response Time: {{summary_response_time|floatformat:2}} seconds.
				<br/>
				Response Rate: {{summary_response_percent|floatformat:2}}%.
			</p>
		</div>
	</div>
	
	<hr>
	<div class="row" id="tables_prompt">
		<div class="col-md-3">
			<h1>Tables - Prompts</h1>
			<p>This will show a table of the latest prompts (each row is a prompt)</p>
		</div>
		<div class="col-md-9">
			<h2>Latest Responses</h2>
			<table class="table table-striped">
				<tr>
					<th>Prompt</th>
					<th>Value (Range: 0-10)</th>
					<th>Date Time</th>
				</tr>
				{% for ent in latest_entry %}
				<tr>
					<td>{{ ent.prompt  }}</td> 
					<td>{{ ent.prompt_reply }}</td>
					<td>{{ ent.time_sent }}</td>
				</tr>
				{% endfor %}
			</table>

		</div>     
	</div>

	<hr>
	<div class="row" id="tables_emotion">
	<div class="col-md-3">
			<h1>Tables - Emotion</h1>
			<p>This will show a table of the summary of all of the prompts (each row is an emotion and there can only be one row for emotion)</p>
		</div>
		<div class="col-md-9">
			<h2>Average Emotion Intensity</h2>
			<table class="table table-striped">
				<tr>
					<th>Prompt</th>
					<th>Average Value (Range: 0-100)</th>
					<th>Count</th>
				</tr>
				{% for entry in working_entry %}
				<tr>
					<td>{{ entry.prompt  }}</td> 
					<td>{{ entry.prompt_reply__avg|floatformat:1 }}</td>
					<td>{{ entry.prompt__count }} </td>

				</tr>
				{% endfor %}
			</table>

		</div>     
	</div>
</div>


{% endblock %}
