{% extends "base.html" %}
{% load i18n %}



{% block content %}



<div class="row">
	<div class="col-md-4">

		<h2>User Stats</h2>
		<p>
	    Response Time: {{summary_response_time|floatformat:2}} seconds.
	    <br/>
	    Response Rate: {{summary_response_percent|floatformat:2}}%.
	    </p>
	</div>
	<div class="col-md-4">

		<h2>New views to come</h2>
		<p>
	    A number of different views will be added in the future.  By time of day, by month, compariing to others, etc.
	    </p>
	</div>
</div>

<div class="row">
	<div class="col-md-18">
	    <h2>Latest Responses</h2>
		<table class="table table-striped">
	    <tr>
	        <th>Prompt</th>
	        <th>Value (Range: 0-100)</th>
	        <th>Date Time</th>
	    </tr>
	    {% for ent in latest_entry %}
	    <tr>
		    <td>{{ ent.prompt  }}</td> 
	        <td>{{ ent.prompt_reply }}</td>
	        <td>{{ ent.time_sent }}</td>
	    </tr>
	    {% endfor %}
		</table>
		
	</div>     
</div>


<div class="row">
	<div class="col-md-18">
	    <h2>Average Emotion Intensity</h2>
		<table class="table table-striped">
	    <tr>
	        <th>Prompt</th>
	        <th>Average Value (Range: 0-100)</th>
	        <th>Count</th>
	    </tr>
	    {% for entry in working_entry %}
	    <tr>
		    <td>{{ entry.prompt  }}</td> 
	        <td>{{ entry.prompt_reply__avg|floatformat:1 }}</td>
	        <td>{{ entry.prompt__count }} </td>

	    </tr>
	    {% endfor %}
		</table>
		
	</div>     
</div>

{% endblock %}
