<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
     google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var djangodata = {{actual_texts_graph|safe}};
        var data = google.visualization.arrayToDataTable(djangodata);

        var options = {
          chart: {
            title: 'Responses over time',
            subtitle: '',
          },
          legend: {position: 'none'},
          // hAxis: { textPosition: 'none' },
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
  </head>

  <body>
  <div class="card">
  <div class="card-content">
    <div id="columnchart_material" style="width: 100%; min-height: 400px;"></div>
    </div>
    </div>
  </body>
</html>