{% extends "base.html" %}
{% load i18n %}



{% block content %}

<head>
<title>Data - Sentimini</title>
</head>



<script>
$(document).ready(function() {
    $('#last_responses_table').DataTable({
    	"columns": [
    { "width": "20%" },
    { "width": "30%" },
    { "width": "10%" },
    { "width": "10%" },
    { "width": "30%" },
  ]

    });
} );
</script>
<script>
$(document).ready(function() {
    $('#example_table2').DataTable({
    	"columns": [
    { "width": "50%" },
    { "width": "10%" },
    { "width": "10%" },
    { "width": "10%" },
    { "width": "10%" },
    { "width": "10%" },
  ]

    });
} );
</script>

<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="container">

	<!-- Example row of columns -->
	<div class="row" id="overview">
		<div class="col-md-2">
			<h1>Overview</h1>
		</div>

	<!-- Example row of columns -->

		<div class="col-sm-5 ">
		 Sentimini sends periodic text messages with varying content of your choosing at semi-random times.
		 </br></br>
		 You can change the content and number of texts you receive at <a href="{% url 'ent:feeds_edit' %}">feeds.</a>
		</div>

		<div class="col-sm-5 ">
        You can view graphs and download data on this page.
        <li><b>Click on the text to view detailed information</b></li>
        <li>Download .csv files for use with any data orientated software program (like excel or numbers)</li>
		</div>
		</div>
	<hr>
	<!-- Example row of columns -->
	


<div class="row" id="texts">
	<div class="col-md-2">
		<h1>Texts</h1>
		

	</div>
	<div class="col-md-10">
	<table id="last_responses_table" class="display" cellspacing="0" width="100%">
			<thead>
	        <tr>
		        <th>Time and Date</th>
	            <th>Text</th>
	            <th>Feed</th>
	            <th>Response Type</th>
	            <th>Response</th>
	            
	            
				
	        </tr>
	    </thead>
	    <tbody>
	       {% for ent in table_latest_entry %}
			<tr>
				<td>{{ ent.time_sent }}</td>
				<td>
				{% if demo == 1 %}
					{% if ent.text_type == "user" %}
						<a href="/vis/text_data_detail_demo/{{ ent.text_id }}/">{{ ent.text }}</a>
					{% else %}
						{{ ent.text }}
					{% endif %}
				{% else %}
					{% if ent.text_type == "user" %}
						<a href="/vis/text_data_detail/{{ ent.text_id }}/">{{ ent.text }}</a>
					{% else %}
						{{ ent.text }}
					{% endif %}
				{% endif %}

				</td> 
				<td>{{ ent.feed_name }}</td>
				<td>{{ ent.response_type }}</td>
				<td>{{ ent.response }}</td>
				
				
			</tr>
			{% endfor %}
	    </tbody>
	</table>
		<form action="#" method="get">
		 <input type="submit" class="btn-primary btn-sm" value="Download .csv" name="export_csv_responses">
		</form>

	</div>     
</div>

<hr>



<div class="row" id="summary">
	<div class="col-md-2">
		<h1>Summary</h1>
		
	</div>
	<div class="col-md-10">
	<table id="example_table2" class="display" cellspacing="0" width="100%">
			<thead>
	        <tr>
	            <th>Text</th>
	            <th>Feed</th>
				<th>Average 0-10</th>
				<th>Number of Texts</th>
				<th>% Yes</th>
				<th>Number of Texts</th>
	        </tr>
	    </thead>
	    <tbody>
	       {% for entry in table_emotion_centered %}
			<tr>
			<td>
				{% if demo == 1 %}
					
						<a href="/vis/text_data_detail_demo/{{ entry.text_id }}/">{{ entry.text }}</a>
					
				{% else %}
					
						<a href="/vis/text_data_detail/{{ entry.text_id }}/">{{ entry.text }}</a>
				{% endif %}

				</td> 
				<td>{{ entry.feed_name }}</td>
				<td>{{ entry.response_dim__avg|floatformat:1 }}</td>
				<td>{{ entry.response_dim__count }} </td>
				<td>{{ entry.response_cat_bin__avg|floatformat:1 }}</td>
				<td>{{ entry.response_cat_bin__count }} </td>
			</tr>
			{% endfor %}
	    </tbody>
	</table>

		
</br>
	</div>     
</div>


</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85360122-1', 'auto');
  ga('send', 'pageview');

</script>

{% endblock %}
